@import 'scss/bully';

.novablocks-hero {
	position: relative;

	display: flex;

  &__inner-container {
    width: 100%;
  }

  &[class][class] {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .novablocks-doppler__mask {
    @include cover;
  }

  @include above(tablet) {
   @include block-spacing;
  }
}

[data-scrolling-effect="doppler"] {
  --nb-minimum-container-height-doppler: 150vh;
}

.novablocks-hero__foreground {
  min-height: calc(var(--nb-minimum-container-height-doppler, var(--nb-minimum-container-height)) - var(--admin-bar-height, 0px));
}

.novablocks-hero.scrolling-effect-doppler {
	align-items: flex-start;
}

.novablocks-hero__slider {
	@include cover;
}

.novablocks-hero__media[class] {
	@include image-cover;
  opacity: calc( 1 - var(--nb-overlay-filter-strength, 0));
}

.novablocks-hero__inner-container[class][class] {
  max-width: none;
  
  > .wp-block-group {
  
    &:not([class*='align']) {
      --block-content-start: cs;
      --block-content-end: ce;
    }
  }
 
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
	}
  
  &:not([class*='block-editor']) {
    
    > *:not([class*='align']) {
      --block-content-start: cs;
      --block-content-end: ce;
    
      width: 100%;
    }
  }
  
  .novablocks-sidecar {
    
    @include above(lap) {
      --nb-sidecar-display: grid;
    }
    
    > .novablocks-content:only-child {

      > *:not([class*='align']) {
        --block-content-start: cs;
        --block-content-end: ce;
      }
    }
  }
}

.components-nova--popover {
	&.components-popover {
		&:not(.is-mobile) {
			.components-popover__content {
				// min-width: 260px;
				padding: 16px;
			}
		}
	}
}
