@import 'scss/bully';

.novablocks-hero {
	position: relative;
	display: flex;
  
  &__inner-container {
    width: 100%;
  }
  
  &[class][class] {
    padding-top: 0;
    padding-bottom: 0;
  }

  > .novablocks-doppler__mask {
    @include cover;
  }
  
  @include above(tablet) {
   @include block-spacing;
  }
}

.novablocks-hero.scrolling-effect-doppler {
	align-items: flex-start;
}

.novablocks-hero__slider {
	@include cover;
}

.novablocks-hero__media[class] {
	@include image-cover;
}

.novablocks-hero__inner-container[class] {
  
  max-width: none;
 
	h1, h2, h3, h4, h5, h6 {
		color: inherit;
	}
  
  &:not([class*='block-editor']) {
    
    > *:not([class*='align']) {
      --block-content-start: cs;
      --block-content-end: ce;
    
      width: 100%;
    }
  }
  
  .novablocks-sidecar {
    --display-mode: grid;
  }
  
  .wp-block-group {
    
    &:not(.alignfull) {
    
      [class*="__inner-container"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
}

.novablocks-hero__indicator {
	position: absolute;
	right: 0;
	bottom: var(--novablocks-spacing);
	left: 50%;

	display: flex;
	justify-content: center;
	color: inherit;

	transition: all .3s ease-out;
	transition-property: opacity;
	transform: translate(-50%, -100%);
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;

		width: 12px;
		height: 12px;
		border: 2px solid currentColor;
		border-left: 0;
		border-top: 0;

		transform: translate(-50%, -70%) rotate(45deg);
	}
}

.novablocks-hero__indicator--hidden {
	opacity: 0;
}

.components-nova--popover {
	&.components-popover {
		&:not(.is-mobile) {
			.components-popover__content {
				// min-width: 260px;
				padding: 16px;
			}
		}
	}
}
