@mixin advanced-gallery-overlay-styles {

	.novablocks-media-composition {

		.novablocks-media-composition__grid,
		.novablocks-change-media-overlay {

			transition: var(--nb-transition);
			transition-property: opacity;
			--nb-transition-duration: .15s;
		}

    .novablocks-media-composition__grid {
      pointer-events: none;
    }

    .novablocks-media-composition__grid-item {
      pointer-events: auto;
    }

		&:hover {

			.novablocks-change-media-overlay {
				opacity: 1;
				pointer-events: auto;
			}

			.novablocks-media-composition__grid {
				opacity: 0.7;
			}
		}
	}
}
