@mixin block-spacing {
  margin-top: calc(var(--nb-block-top-spacing) * var(--nb-current-spacing));
  margin-bottom: calc(var(--nb-block-bottom-spacing) * var(--nb-current-spacing));
  padding-top: calc(var(--nb-emphasis-top-spacing) * var(--nb-current-spacing));
  padding-bottom: calc(var(--nb-emphasis-bottom-spacing) * var(--nb-current-spacing));
}

@mixin block-spacing-modifier( $spacing-modifier: 1 ) {
  --nb-spacing-modifier: #{ $spacing-modifier };
  --nb-spacing-base: calc(var(--nb-spacing-current-multiplier) * var(--nb-spacing-modifier));

  > * {
    --nb-spacing-current-multiplier: var(--nb-spacing-base);
  }
}

@mixin block-spacing-container {

  > * {
    --nb-block-top-spacing: 1;
    --nb-block-bottom-spacing: 0;
    --nb-emphasis-top-spacing: 0;
    --nb-emphasis-bottom-spacing: 0;
    --nb-current-spacing: calc(var(--nb-spacing) * var(--nb-spacing-current-multiplier));

    @include block-spacing;
  }

  > :first-child {
    --nb-block-top-spacing: 0;
  }
}
