@mixin pro-feature-label {

	&:after {
		content: "Pro";
		display: inline-block;
		padding: 0.05em 0.6em 0.13em;
		margin: -0.05em 0 -0.13em 0.5em;
		background: #4fb669;
		color: #FFF;
		border-radius: 999em;
	}
}
