:root {
	--novablocks-content-padding-small: 5%;
	--novablocks-content-padding-medium: 10%;
	--novablocks-content-padding-large: 15%;

	--novablocks-content-width-full: 100%;
	--novablocks-content-width-large: 70%;
	--novablocks-content-width-narrow: 30%;
}

.novablocks-u-content-width {
	--novablocks-content-width: var(--novablocks-content-width-full);

	.novablocks-u-content-width-large & {
		--novablocks-content-width: var(--novablocks-content-width-large);
	}

	.novablocks-u-content-width-narrow & {
		--novablocks-content-width: var(--novablocks-content-width-narrow);
	}

	@include above(lap) {
		max-width: var(--novablocks-content-width);
	}
}

.novablocks-u-content-padding {
  
  --novablocks-content-padding-top: calc( var(--novablocks-emphasis-top-spacing) * var(--novablocks-spacing));
  --novablocks-content-padding-bottom: calc( var(--novablocks-emphasis-bottom-spacing) * var(--novablocks-spacing));
  
  padding-top: var(--novablocks-content-padding-top);
  padding-bottom: var(--novablocks-content-padding-bottom);
}
