:root {
	--nb-content-padding-small: 5%;
	--nb-content-padding-medium: 10%;
	--nb-content-padding-large: 15%;
}

.novablocks-u-content-padding {

  --nb-spacing-current-multiplier: 2;

  --nb-content-padding-top: calc( var(--nb-emphasis-top-spacing) * var(--nb-current-spacing));
  --nb-content-padding-bottom: calc( var(--nb-emphasis-bottom-spacing) * var(--nb-current-spacing));
  
  padding-top: var(--nb-content-padding-top);
  padding-bottom: var(--nb-content-padding-bottom);
  
  > * {
    --nb-spacing-current-multiplier: 1;
  }
}
