
.wp-block-button.aligncenter {
    text-align: center;
}

.wp-block-button__link  {
    display: inline-block;
    padding: 12px 24px;
    border: 0;

    border-radius: $nova-border-radius;
    transition: all $nova-transition-duration $nova-transition-easing;

    &:not(.has-background) {
        background-color: $nova-yellow;

        &:hover {
            background-color: $nova-blue;
        }
    }

    &:not(.has-text-color) {
        color: $nova-blue;

        &:hover {
            color: $nova-yellow;
        }
    }
}
