.nb-author-box {
  display: flex;
  align-items: flex-start;
  gap: var(--nb-spacing);

  @include below(tablet) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.nb-author-box__details {
  @include block-spacing-container;
}

.nb-author-box__name {
  display: block;
}

.nb-author-box__avatar {
  max-width: 22%;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;

  img {
    display: block;
  }
}

.nb-author-box__links {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--nb-spacing);
  row-gap: calc(0.5 * var(--nb-spacing));

  @include below(tablet) {
    justify-content: center;
  }

  //a {
  //  text-transform: uppercase;
  //  text-decoration: none;
  //  --current-font-weight: bold;
  //}
  //
  //a:hover {
  //  text-decoration: none;
  //}
}
