:root {
	--novablocks-content-padding-small: 5%;
	--novablocks-content-padding-medium: 10%;
	--novablocks-content-padding-large: 15%;

	--novablocks-content-width-full: 100%;
	--novablocks-content-width-large: 70%;
	--novablocks-content-width-narrow: 30%;
}

.novablocks-u-content-width {
	--novablocks-content-width: var(--novablocks-content-width-full);

	.novablocks-u-content-width-large & {
		--novablocks-content-width: var(--novablocks-content-width-large);
	}

	.novablocks-u-content-width-narrow & {
		--novablocks-content-width: var(--novablocks-content-width-narrow);
	}

	@media only screen and (min-width: 1000px) {
		max-width: var(--novablocks-content-width);
	}
}

.novablocks-u-content-padding {
	--novablocks-content-padding: var(--novablocks-content-padding-small);

	padding: var(--novablocks-content-padding);

	@media only screen and (min-width: 1000px) {
		.novablocks-u-spacing-medium & {
			--novablocks-content-padding: var(
				--novablocks-content-padding-medium
			);
		}

		.novablocks-u-spacing-large & {
			--novablocks-content-padding: var(
				--novablocks-content-padding-large
			);
		}
	}
}
