.novablocks-announcement-bar__url-field-wrapper {

	.components-base-control {
		padding-left: 16px;
		padding-right: 16px;
		max-width: 500px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.components-toggle-control .components-base-control__field {
		justify-content: center;
	}
}
