@import "mixins";

.wp-block,
.entry-content > *,
.wp-block-column > *,
[class*="__inner-container"] > * {
	@include block-spacing;
}

.wp-block-column,
[class*="__inner-container"] {
	--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-2-multiplier);

	& > & {
		--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-3-multiplier);
	}
}

.novablocks-collection > {

	.wp-block-group__inner-container {

		> :not(:first-child) {
			--novablocks-element-spacing-multiplier: 1;
		}

		> :not(.novablocks-collection__cards) {
			--novablocks-element-spacing-multiplier: 0.25;
		}
	}
}

