@import "scss/mixins";

[data-type="novablocks/header-row"] {

  &[data-type] {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.novablocks-header-row__inner-container > .wp-block {

  > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @include navigation-block-layout-common-styles;

    > * {
      --nb-block-top-spacing: 0;
    }
  }
}
