@include below(lap) {

  .novablocks-header-row {
    display: flex;
    flex-direction: column;

    &, * {
      --sm-current-bg-color: inherit;
      --sm-current-fg1-color: inherit;
      --sm-current-fg2-color: inherit;
      --sm-current-accent-color: inherit;
    }

    --header-background-opacity: 0;

    .novablocks-navigation--primary {
      order: -1;
    }
  }

  .novablocks-header-row--primary {
    order: -1;
  }
}

.novablocks-header-row {
  margin-top: 0;
  margin-bottom: 0;

  padding: 0 var(--nb-wrapper-sides-spacings);
}

.novablocks-header-row__inner-container[class] > .wp-block {

  // __inner-container > .alignfull usually has negativ margins
  // but header rows need their padding on the sides
  &[class] {
    margin-left: 0;
    margin-right: 0;
  }
}

@include above(lap) {

  .novablocks-header-row {
    --block-top-spacing: var(--nb-block-top-spacing, 0);
    --block-bottom-spacing: var(--nb-block-bottom-spacing, 0);
    --emphasis-top-spacing: var(--nb-emphasis-top-spacing, 0);
    --emphasis-bottom-spacing: var(--nb-emphasis-bottom-spacing, 0);
  }

  .novablocks-header-row__inner-container[class] > .wp-block {
    display: flex;
    column-gap: var(--nb-navigation-item-spacing, var(--nb-spacing));
    align-items: center;

    > :first-child:not(:last-child),
    > :last-child:not(:first-child) {
      flex: 1 1 50%;
    }

    > :only-child,
    > :not(:first-child):not(:last-child) {
      flex: 1 0 auto;
    }

    > * {
      --justify-content: center;

      &, .menu {
        justify-content: var(--justify-content);
      }
    }

    > :first-child:not(:last-child) {
      --justify-content: flex-start;
    }

    > :last-child:not(:first-child) {
      --justify-content: flex-end;
    }

    .novablocks-header--sticky & {
      --emphasis-top-spacing: 0.25;
      --emphasis-bottom-spacing: 0.25;
    }
    
    > [class*='branding'] {
      
      &[class][class][class] {
        flex-basis: auto;
      }
    }
    
    > [class*='novablocks-navigation'] {
        &[class][class][class] {
          flex-grow: 1;
        }
    }

    margin-top: calc(var(--block-top-spacing) * var(--nb-current-spacing));
    margin-bottom: calc(var(--block-bottom-spacing) * var(--nb-current-spacing));
    padding-top: calc(var(--emphasis-top-spacing) * var(--nb-current-spacing));
    padding-bottom: calc(var(--emphasis-bottom-spacing) * var(--nb-current-spacing));
  }
}
