.novablocks-media__aside {
	display: flex;
	align-self: stretch;
	flex-direction: column;
	min-height: 400px;

	@include above(desktop) {
		.has-image-on-the-left & {
			order: -1;
		}
	}

	@include below(desktop) {
		grid-column: span 2;
	}

	> .novablocks-advanced-gallery {
		flex-grow: 1;

		display: flex;
		align-items: stretch;

		@include below(tablet) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.novablocks-advanced-gallery__grid {
		flex-grow: 1;
	}
}

// gallery with more than 4 items
.novablocks-media__image:nth-child(n + 5) {
	display: none;
}
