.novablocks-media__aside {

	@include above(tablet) {
		.has-image-on-the-left & {
			order: -1;
		}
	}
}

// fit images
.novablocks-media__image {
	position: relative;
	height: 100%;

	img {
		@include image-cover;
	}
}
