.novablocks-media__aside {
	min-height: 400px;

	@include above(desktop) {
		.has-image-on-the-left & {
			order: -1;
		}
	}

	@include below(desktop) {
		grid-column: span 2;
	}

	> .novablocks-advanced-gallery {
		height: 100%;

		display: flex;
		align-items: stretch;
	}

	.novablocks-advanced-gallery__grid {
		flex-grow: 1;
	}
}

// gallery with more than 4 items
.novablocks-media__image:nth-child(n + 5) {
	display: none;
}
