.novablocks-media__inner-container {
	padding: var(--novablocks-media-content-padding);
	color: var(--novablocks-media-text-color);
	box-shadow: var(--novablocks-media-content-box-shadow);

	margin-top: auto;
	margin-bottom: auto;
	z-index: 2;

	h1,
	h2,
	h3 {
		color: var(--novablocks-media-titles-color);
	}

	h4,
	h5,
	h6 {
		color: var(--novablocks-media-subtitles-color);
	}

	@include below(desktop) {
		grid-column: span 2;
	}
}

.novablocks-media__inner-container {
	position: relative;

	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;

		display: block;
		background-color: var(--novablocks-media-content-background-color);
		opacity: var(--novablocks-media-content-background-opacity);
		pointer-events: none;
	}

	> * {
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
	}
}
