.nova-media__content {
    padding: var(--nova-media-content-padding);
    color: var(--nova-media-text-color);
    box-shadow: var(--nova-media-content-box-shadow);

    margin-top: auto;
    margin-bottom: auto;
    z-index: 2;

    h1, h2, h3 {
        color: var(--nova-media-titles-color);
    }

    h4, h5, h6 {
        color: var(--nova-media-subtitles-color);
    }

    @include below( desktop ) {
        grid-column: span 2;
    }
}

.nova-media__content {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        display: block;
        background-color: var(--nova-media-content-background-color);
        opacity: var(--nova-media-content-background-opacity);
    }
}
