.novablocks-media__aside {

	> .block-editor-media-placeholder {
		height: 100%;
		margin-bottom: 0;
	}
}

.novablocks-media__placeholder {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	background-color: #EEEEEE;
}

.novablocks-media__inner-container {
	padding-left: var(--novablocks-media-spacing);
	padding-right: var(--novablocks-media-spacing);

	> [data-align='full'] {
		margin-left: calc(-1 * var(--novablocks-media-spacing));
		margin-right: calc(-1 * var(--novablocks-media-spacing));
	}
}

// Transition between different alignment states
.novablocks-media__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 0;
		flex: 0 0 auto;
		transition: var(--novablocks-media-transition);
		transition-property: flex-grow;
	}

	.novablocks-u-valign-top &,
	.novablocks-u-valign-center &,
	.novablocks-u-valign-bottom & {

		&:before,
		&:after {
			flex-grow: 1;
		}
	}

	.novablocks-u-valign-top & {

		&:before {
			flex-grow: 0;
		}
	}

	.novablocks-u-valign-bottom & {

		&:after {
			flex-grow: 0;
		}
	}
}

.novablocks-media__content:before,
.novablocks-media__content:after,
.novablocks-media__inner-container {
	transition: var(--novablocks-transition);
	transition-property: flex-grow;
}

.novablocks-media__inner-container {
	flex-grow: 1;

	.novablocks-u-valign-top &,
	.novablocks-u-valign-center &,
	.novablocks-u-valign-bottom & {
		flex-grow: 0;
	}
}
