:root {
	--novablocks-transition-duration: 0.5s;
	--novablocks-transition-easing: ease;
	--novablocks-transition: all
		var(--novablocks-transition-duration)
		var(--novablocks-transition-easing);
}

.novablocks-media__placeholder {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	background-color: #eeeeee;
}

.novablocks-media__inner-container {
	padding-left: var(--novablocks-media-spacing);
	padding-right: var(--novablocks-media-spacing);

	> * {
		margin-left: auto;
		margin-right: auto;
	}

	> [data-align='full'] {
		margin-left: calc(-1 * var(--novablocks-media-spacing));
		margin-right: calc(-1 * var(--novablocks-media-spacing));
	}
}
