.wp-block-pixelgrade-media {
    margin-left: auto;
    margin-right: auto;

    --nova-media-text-color: var(--nova-dark-2);
    --nova-media-titles-color: var(--nova-dark-3);
    --nova-media-subtitles-color: var(--nova-color-1);
    --nova-media-background-color: var(--nova-light-1);

    --nova-media-content-padding: 0;
    --nova-media-content-background-color: transparent;
    --nova-media-content-background-opacity: 1;
    --nova-media-content-box-shadow: none;
}

// media layout
.nova-media {
    background-color: var(--nova-media-background-color);

    --nova-media-spacing: 56px;

    &.has-background {
        padding: var(--nova-media-padding) 0;
    }
}

.nova-media__layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: var(--nova-media-spacing);
}

// block variations
.block-is-moderate,
.block-is-highlighted {
    --nova-media-padding: var(--nova-media-spacing);
}

.block-is-moderate {
    --nova-media-background-color: var(--nova-light-2);
}

.block-is-highlighted {
    --nova-media-background-color: var(--nova-dark-1);
}

.content-is-moderate,
.content-is-highlighted {
    --nova-media-content-padding: var(--nova-media-spacing);
}

.content-is-moderate,
.content-is-highlighted.block-is-highlighted {
    --nova-media-content-background-color: var(--nova-light-1);
    --nova-media-content-box-shadow: #{$nova-box-shadow-nova};
}

.content-is-moderate.block-is-highlighted {
    --nova-media-content-background-color: var(--nova-light-1);
    --nova-media-content-background-opacity: 0.2;
}

.block-is-highlighted:not(.content-is-highlighted),
.content-is-highlighted:not(.block-is-highlighted) {
    --nova-media-text-color: var(--nova-light-1);
    --nova-media-titles-color: var(--nova-media-text-color);
    --nova-media-subtitles-color: var(--nova-media-text-color);
}

.content-is-highlighted:not(.block-is-highlighted) {
    --nova-media-content-background-color: var(--nova-dark-1);
}

@import "content";
@import "aside";
