.novablocks-media {
	background-color: var(--novablocks-media-background-color);

	--novablocks-media-spacing: 24px;

	@include above(lap) {
		--novablocks-media-spacing: 48px;
	}

	@include above(desktop) {
		--novablocks-media-spacing: 56px;
	}

	&.has-background {
		padding: var(--novablocks-media-padding) 0;
	}

	.wp-block-group__inner-container > .wp-block {
		// center content
		margin-left: auto;
		margin-right: auto;

		// make sure negative margin used for layout doesnt overlap other blocks
		padding-top: 1px;
	}
}

.novablocks-media__layout {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	margin-top: calc( -1 * var(--novablocks-media-spacing) );
	margin-left: calc( -1 * var(--novablocks-media-spacing) );

	> * {
		padding-left: var(--novablocks-media-spacing);
		margin-top: var(--novablocks-media-spacing);
	}

	@include above(tablet) {
		display: flex;
		flex-wrap: wrap;

		> * {
			flex: 1 0 50%;
		}
	}
}

@import 'content';
@import 'aside';
