.novablocks-media {
	margin-left: auto;
	margin-right: auto;

	--novablocks-media-spacing: 24px;

	@include above(lap) {
		--novablocks-media-spacing: 48px;
	}

	@include above(desktop) {
		--novablocks-media-spacing: 56px;
	}

	&.has-background {
		padding: var(--novablocks-block-padding) 0;
	}
}

.novablocks-media__layout {
	display: flex;
	flex-wrap: wrap;

	margin-top: calc( -1 * var(--novablocks-media-spacing) );
	margin-left: calc( -1 * var(--novablocks-media-spacing) );

	> * {
		padding-left: var(--novablocks-media-spacing);
		margin-top: var(--novablocks-media-spacing);
		flex: 1 0 50%;
	}
}

@import 'content';
@import 'aside';
