.menu-item[class] {
  --dropdown-icon-size: 0.55em;

  position: relative;
  margin-top: 0;

  .menu-description {
    display: block;
    order: 2;

    --font-size-modifier: 0.75;
    opacity: .5;

    padding-right: var(--dropdown-icon-size);

    @include below(lap) {
      width: 100%;
    }
  }
}
