@import "mixins";

.menu-item-has-children,
.page_item_has_children {
	position: relative;

	&[class] > a {
    display: block;

		&:after {
      content: "";
      display: inline-block;
      width: var(--dropdown-icon-size);
      height: var(--dropdown-icon-size);

      //mask: url($arrow-down-svg-path) no-repeat 50% 50%;
      mask-size: contain;
      mask-position: center;

      background-color: currentColor;

			margin-left: 0.75em;
      opacity: .5;
    }
	}

  @include above(lap) {

    &.hover {

      > .sub-menu,
      > .children {
        transform: translateZ(0);
        opacity: 1;
        pointer-events: auto;
      }
    }

    &:focus-within {

      > .sub-menu,
      > .children {
        transform: translateZ(0);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  @include below(lap) {

    &:not(.hover) {

      > .sub-menu,
      > .children {
        display: none;
      }
    }

    > .sub-menu,
    > .children {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

@include above(lap) {

	.sub-menu,
	.children {
		position: absolute;
		top: 100%;
		left: 0;

		width: 10em;

		background: var(--novablocks-fg2-color);
		color: var(--novablocks-bg-color);

		.sub-menu,
		.children {
			top: 0;
			left: 100%;
		}

		.sub-menu .menu-item-has-children,
		.children .page_item_has_children {
			> a:after {
				transform: translateY(-10%) rotate(-45deg);
			}
		}
	}

	.sub-menu .sub-menu,
	.children .children {
		top: 0;
		left: 100%;
	}

	:not(:hover) > .sub-menu,
	:not(:hover) > .children {
		display: none;
	}

  .menu-item-has-children,
  .page_item_has_children {

    .menu-item {

      &:after {
        content: '';

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;
        background-color: currentColor;

        opacity: 0;
      }

      &:hover:after,
      &:focus-within:after {
        opacity: .05;
      }
    }
  }

  .sub-menu,
  .children {
    transform: translate3d(0, -.75em, 0);
    opacity: 0;

    width: 15.625em;
    padding: .75em 0;

    background-color: var(--novablocks-bg-color);
    color: var(--novablocks-fg2-color);

    border-radius: 0.1875em;
    box-shadow: 0 0.25em 2em rgba(0, 0, 0, 0.1), 0 0.125em 0.25em rgba(0, 0, 0, 0.1);

    transition: var(--novablocks-transition);
    transition-property: opacity, transform;

    z-index: 100;

    pointer-events: none;

    a {
      position: relative;
      padding-left: 1.25em;
      padding-right: 1.875em;

      &:after {
        position: absolute;
        right: 1em;
      }
    }
  }

  .has-submenu-left {

    > .sub-menu,
    > .children {
      left: auto;
      right: 0;
    }
  }

  .sub-menu .menu-item-has-children,
  .children .page_item_has_children {

    > a:after {
      position: absolute;
      right: 1.25em;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }

    .sub-menu,
    .children {
      top: -.75em;
      left: calc(100% - .625em);
    }

    &.has-submenu-left {

      .sub-menu,
      .children {
        left: auto;
        right: calc(100% - .625em);
      }
    }
  }

  :not(:hover) > .sub-menu,
  :not(:hover) > .children {
    display: block;
  }

  .novablocks-navigation {

    > ul.menu,
    > .menu > ul {

      > li:not(.social-menu-item):not([class*="weglot"]):not(.is-cta-button):not(.icon-only) {
        @include header-menu-item-with-hover-animation;
      }

      > li[class*="current"]:not(.menu-item-home) {
        @include header-menu-item-with-active-state;

        > a {
          color: var(--current-color-primary);
        }
      }
    }
  }

  .sub-menu .sub-menu[class] {
    .menu-item-has-children > a:after {
      position: absolute;
      right: 1.25em;
      top: 50%;
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}
