.novablocks-focal-point-picker {

	.components-focal-point-picker_position-display-container {
		display: none;
	}

	.components-focal-point-picker-wrapper {
		overflow: hidden;
	}
}

.components-focal-point-picker__icon_container {

	.novablocks-focal-point-picker &:before {
		content: "";

		position: absolute;
		top: -200px;
		left: 0;

		height: 400px;
		border-left: 1px solid transparent;
	}

	.novablocks-focal-point-picker &:after {
		content: "";

		position: absolute;
		top: 0;
		left: -248px;

		width: 496px;
		border-top: 1px solid transparent;
	}

	.novablocks-focal-point-picker.is-snapped-x &.is-dragging:before {
		border-left: 1px solid #00FFFF;
	}

	.novablocks-focal-point-picker.is-snapped-y &.is-dragging:after {
		border-top: 1px solid #00FFFF;
	}

	// doppler
	.novablocks-focal-point-picker--doppler &:before {
		left: -1px;
		border-left: 2px dotted #0085ba;
	}
}

.novablocks-scrolling-effect-panel {

	.components-panel__body {
		margin-top: 16px;
		margin-left: -16px;
		margin-right: -16px;
	}

	.components-panel__body + .components-panel__body {
		margin-top: 0;
	}
}

@mixin pro-feature {

	&:after {
		content: "Pro";
		display: inline-block;
		padding: 0.05em 0.6em 0.13em;
		margin: -0.05em 0 -0.13em 0.5em;
		background: #4fb669;
		color: #FFF;
		border-radius: 999em;
	}
}

.novablocks-scrolling-effect [value="doppler"] + label {
	@include pro-feature;
}
