.site-branding {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    z-index: 1;
}

.site-logo[class] {

    a {
        display: block;
    }

    img {
        display: block;
        max-width: 100%;
        width: auto;
        object-fit: contain;
    }
}

.site-info {
    text-align: center;
}

.site-logo + .site-info {
    text-align: left;

    .site-title,
    .site-description {
        margin-left: 1rem;
    }
}
