.novablocks-advanced-gallery {
	// padding top to make sure negative margin of child doesn't collapse
	padding-top: 1px;
}

.novablocks-advanced-gallery__grid {
	display: grid;
	grid-auto-rows: 1fr;

	--novablocks-advanced-gallery-grid-gap: 10px;

	margin-top: calc(-1 * var(--novablocks-advanced-gallery-grid-gap));
	margin-left: calc(-1 * var(--novablocks-advanced-gallery-grid-gap));

	& + & {
		margin-top: 0;
	}
}

.novablocks-advanced-gallery__grid-item {
	position: relative;

	margin-top: var(--novablocks-advanced-gallery-grid-gap);
	margin-left: var(--novablocks-advanced-gallery-grid-gap);

	&:nth-child(1) {
		// the first item should be the biggest
		min-height: 300px;
	}
}

.novablocks-advanced-gallery__image[class] {
	@include image-cover;
}
