$nova-breakpoints: (
    mobile: 480px,
    tablet: 768px,
    lap: 1024px,
    desktop: 1366px,
);


@mixin above( $value ) {
    @debug $value;
    $breakpoint: map-get( $nova-breakpoints, $value );

    @if ( $breakpoint != null ) {
        $value: $breakpoint;
    }

    @if ( unitless( $value ) == false ) {
        @media only screen and (min-width: $value) {
            @content;
        }
    }
}

@mixin below( $value ) {
    @debug $value;

    $breakpoint: map-get( $nova-breakpoints, $value );

    @if ( $breakpoint != null ) {
        $value: $breakpoint;
    }

    @if ( unitless( $value ) == false ) {
        @media not screen and (min-width: $value) {
            @content;
        }
    }
}
