:is(.nb-supernova-item--layout-stacked, #specific) {
  display: grid !important;
  min-height: 0 !important;

  .nb-collection__layout.nb-collection__layout--variable-width & .nb-supernova-item__content,
  .nb-collection__layout:not(.nb-collection__layout--variable-width) & .nb-supernova-item__media-wrapper {
    --reference-aspect-ratio: 16/9;
    aspect-ratio: calc(100 / var(--nb-min-height-fallback) * var(--reference-aspect-ratio) * var(--aspect-ratio-multiplier, 1));
  }

  > :is(.nb-supernova-item__content, .nb-supernova-item__media-wrapper) {
    position: static !important;

    width: auto;
    height: auto;

    grid-area: 1 / 1 / span 1 / span 1;
    align-self: stretch;
  }

  > .nb-supernova-item__content {
    min-height: 0 !important;
  }

  &.nb-supernova-item--scrolling-effect-doppler {
    --aspect-ratio-multiplier: 0.5;
  }
}
