@import 'scss/card';
@import 'scss/collection';
@import 'scss/carousel';
@import 'scss/block-background';
@import 'scss/content-alignments';

.nb-supernova {

  &[class*="sm-variation-"]:not(.sm-color-signal-0) {
    background: none !important;
    @include block-background;
  }

  &.nb-supernova--card-layout-horizontal {
    --emphasis-area-gradient-direction: -90deg;
  }
}

:is(.nb-supernova, #specific) {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
