@import 'scss/card';
@import 'scss/collection';
@import 'scss/carousel';
@import 'scss/block-alignments';
@import 'scss/block-background';
@import 'scss/content-alignments';

.supernova {
  --emphasis-area-width: calc( var(--nb-emphasis-area, 100) * 1% );

  background: none !important;
  @include block-background;

  &.supernova--has-minimum-height:not([data-scrolling-effect="doppler"]) {
  
    .supernova-item__media-aspect-ratio {
      --nb-card-media-padding-top: var(--nb-minimum-container-height);
    }
  }
}

.supernova,
.supernova__inner-container {
  @include nb-content-layout-grid;
}

.supernova__inner-container[class] {
  // stack above block background
  //position: relative;
  //@include nb-content-layout-grid;
}

/*
 * Currently Slick is applying display: inline-block.
 * Until we find a solution for that,
 * we are going to use !important for our style.
 */
.supernova-item:not([class*='stacked']) {
  display: flex !important;
}

.supernova-item--layout-stacked {
  display: grid !important;
}

.nb-collection__inner-container {
  position: relative;
}
