@import 'scss/card';
@import 'scss/collection';
@import 'scss/carousel';
@import 'scss/block-background';
@import 'scss/content-alignments';

.supernova {
  background: none !important;
  @include block-background;
}

.supernova-item.supernova-item--layout-stacked {
  --nb-block-minimum-height: calc(var(--nb-minimum-container-height) - var(--admin-bar-height, 0px));
  min-height: var(--nb-block-minimum-height);

  &.supernova-item--scrolling-effect-doppler {
    --nb-block-minimum-height: calc(2 * var(--nb-minimum-container-height) - var(--admin-bar-height, 0px));
  }

  .supernova-item__content {
    min-height: calc(var(--nb-minimum-container-height) - var(--admin-bar-height, 0px));
  }
}

/*
 * Currently Slick is applying display: inline-block.
 * Until we find a solution for that,
 * we are going to use !important for our style.
 */
.supernova-item:not(.supernova-item--layout-stacked) {
  display: flex !important;
}

.supernova-item--layout-stacked {
  display: block !important;
}

.nb-collection__inner-container {
  position: relative;
}
