@mixin navigation-block-layout-common-styles {
  display: flex;
  align-items: center;

  > :first-child:not(:last-child),
  > :last-child:not(:first-child) {
    flex-shrink: 1;
    flex-basis: 50%;
  }

  > :only-child,
  > :not(:first-child):not(:last-child) {
    flex-grow: 1;
  }

  > * {
    --justify-content: center;

    &, .menu {
      justify-content: var(--justify-content);
    }
  }

  > :first-child:not(:last-child) {
    --justify-content: flex-start;
  }

  > :last-child:not(:first-child) {
    --justify-content: flex-end;
  }
}
