@import './card/editor-styles';

.components-palette-control__options {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;

	> * {
		margin-left: 10px;
	}
}

.novablocks-palette {
	display: flex;
}

.novablocks-palette__color {
	width: 30px;
	height: 30px;
	background: currentColor;
	border-radius: 50%;
	box-shadow: black 0 2px 8px -6px inset;

	.novablocks-palette--active & {
		box-shadow: black 0 2px 8px -6px inset, black 0 0 0 2px;
	}

	& + & {
		margin-left: -10px;
	}
}

