@import 'scss/mixins';

.is-sidebar-opened {
  --inspector-controls-width: 280px;
}

.block-editor-block-list__layout.is-root-container {
  @include layout-grid;
  @include layout-settings;
  
  --editor-full: calc((100vw - var(--theme-content-width-wide) - 2 * var(--theme-wrapper-sides-spacing) - var(--inspector-controls-width, 0px) ) * 0.5);
  
  --default-width-offset-sidebar: calc((var(--offset-addon) * 1px - var(--grid-gap)) * 0.5);
  --sidebar-variable-offset-value: calc( (var(--offset-addon)/ var(--body-font-size)) * 1em );
  
  @include above(ultra) {
    --default-width-offset-sidebar: calc( (var(--sidebar-variable-offset-value) - var(--grid-gap)) * 0.5);
  }

  // If is Widget Editor,
  // alter --wds and --wde,
  // so the sidebar will have a smaller width.
  &.edit-widgets-main-block-list {
    --wds: 12.5%;
    --wde: 12.5%;
  }

  .novablocks-sidecar[class][class],
  .novablocks-content[class][class] {
    --default-width-offset-sidebar: var(--default-sidebar-width);
  }
  
  // Markup is different compared to front-end,
  // and because of that, the last block is
  // currently not sticky inside the editor.
  .last-block-is-sticky > :last-child {
    z-index: 1;
  }
  
  > * {
    width: 100%;
    
    grid-column: var(--block-content-start) / var(--block-content-end);
    align-self: flex-start;
  }
  
  .wp-block {
    
    &[data-align=wide] {
      max-width: 100%;
      width: 100%;
    }
  }
  
  [data-align="left"],
  [data-novablocks-alignment="pull-left"],
  [data-align="right"],
  [data-novablocks-alignment="pull-right"] {
    grid-row-end: span 5;
  }
  
  [data-align="left"],
  [data-novablocks-alignment="pull-left"] {
    --block-content-start: ws;
    --block-content-end: gs;
  }
  
  [data-align="right"],
  [data-novablocks-alignment="pull-right"] {
    --block-content-start: ge;
    --block-content-end: we;
  }
  
  [data-type="novablocks/sidecar"] {
    grid-column: var(--all-columns);

    max-width: none;
    width: 100%;
  }
  
  [data-align="left"] {
  
    *:not([class*='align']):not([data-novablocks-alignment]):not([data-align]) {
      --block-content-start: cs;
    }
  }
  
  [data-align="right"],
  [data-align="left"] {
    height: 100%;
    
    > * {
      float: none;
    }
  }
}

.novablocks-sidecar > #{$grid-selector} {
  
  @include layout-grid;

  > :first-child {
    grid-column: var(--all-columns) !important;
  }
  
  > * {
    width: 100%;
  }
}

// The default layout is Content Left with Sidebar Right.
// Content will always be the first child of layout block,
// and it will change it's grid position, according
// to sidebar position (left or right).
.novablocks-sidecar {
  
    --block-content-start: var(--block-limit-left);
    --block-content-end: ce;
  
  > #{$grid-selector} {
  
    > * {
      grid-row: 1;
    }
  
    @include layout-grid;
  
    // Content
    > :first-child {
      
      grid-column: var(--block-content-start)/var(--block-content-end);
    
      > .wp-block-novablocks-sidecar-area {
      
        > #{$grid-selector} {
        
          //@include layout-grid;
        
          > * {
            grid-column: var(--block-content-start)/var(--block-content-end);
          }
        
          [data-type='novablocks/sidecar'] {
            grid-column: var(--all-columns);
          }
        }
      }
    }
  
    // Sidebar
    > :last-child {
      grid-column: ge/var(--block-limit-right);
    }
  }
  
  &--sidebar-left {
      --block-content-start: cs;
      --block-content-end: var(--block-limit-right);
  
    > #{$grid-selector} {
  
      > :first-child {
        grid-column: var(--block-content-start)/var(--block-content-end);
      }
  
      // Sidebar
      > :last-child {
        grid-column: var(--block-limit-left)/gs;
      }
    }
  }
  
  .novablocks-content,
  &--sidebar-left,
  &--sidebar-right,
  &--complex {
    display: block;
  }
}

// Block Grid
.novablocks-sidecar {
  
  &--complex {
    
    > #{$grid-selector} {
      
      > * {
        grid-row: 1;
      }
      
      // Sidebar Left
      >:first-child {
        
        --block-content-start: cs;
        --block-content-end: ce;
  
        > .novablocks-content {
    
          > #{$grid-selector} {
      
            > * {
              grid-column: var(--block-content-start)/var(--block-content-end);
            }
          }
        }
      }
      
      // Content
      >:not(:first-child):not(:last-child) {
  
        grid-column: var(--block-limit-left)/gs;
      }
      
      // Sidebar Right
      >:last-child {
        grid-column: ge/var(--block-limit-right);
      }
    }
  }
}

.novablocks-sidecar--sidebar-right .novablocks-sidecar--sidebar-right {
  --block-content-start: var(--block-limit-left);
  --block-content-end: ce;
}

// Show Sidecar inner areas outline
// when the main block is selected
[data-type='novablocks/sidecar'] {
  &.is-selected,
  &.is-highlighted,
  &.is-multi-selected,
  &.has-child-selected {
    .novablocks-sidebar,
    .novablocks-content {
      > #{$grid-selector} {
        @include block-outline;
      }
    }
  }
}

// Overwrite default focus block style
// and apply them around grid columns.
[data-type='novablocks/sidecar-area'] {
  &.is-selected,
  &.is-highlighted,
  &.is-multi-selected,
  &.has-child-selected {
    
    &:after {
      box-shadow: none !important;
    }
    
    &.is-highlighted {
      
      .novablocks-content,
      .novablocks-sidebar {
    
        > #{$grid-selector} {
      
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            grid-column: var(--block-content-start)/var(--block-content-end);
            box-shadow: 0 0 0 2px #007cba;
            box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
            border-radius: 1px;
            outline: 2px solid transparent;
          }
        }
      }
    }
    
  }
}

.novablocks-content {
  
  > #{$grid-selector} {
    
    @include layout-grid;
  
    > * {
      grid-column: var(--block-content-start)/var(--block-content-end);
      width: 100%;
    }
  }
  
  [data-type="novablocks/sidecar"] {
    
    &,
    > .wp-block {
      margin: 0 !important;
    }
  }
  
}


// Block Alignments

// Right Sidebar
.novablocks-sidecar--sidebar-right {

  .novablocks-content {
  
    [data-align="full"],
    [data-align="wide"] {
      --block-content-end: ce;
    }
  
    [data-align="right"],
    [data-align="left"],
    [data-novablocks-alignment="pull-right"],
    [data-novablocks-alignment="pull-left"] {
      --block-content-start: var(--block-limit-left);
      --block-content-end: ce;
    }
  }
}

// Left Sidebar
.novablocks-sidecar--sidebar-left {
  
  .novablocks-content {
    
    [data-align="full"],
    [data-align="wide"] {
      --block-content-start: cs;
    }
  
    [data-align="right"],
    [data-align="left"],
    [data-novablocks-alignment="pull-right"],
    [data-novablocks-alignment="pull-left"] {
      --block-content-start: cs;
      --block-content-end: var(--block-limit-right)
    }
  }
}

// Two Sidebars
.novablocks-sidecar--complex {
  
  .novablocks-content[class] {
  
    [data-align="full"],
    [data-align="wide"],
    [data-align='right'],
    [data-align='left'],
    [data-novablocks-alignment="pull-left"],
    [data-novablocks-alignment="pull-right"] {
      --block-content-start: cs;
      --block-content-end: ce;
    }
    
  }
}

// Sidecar in Sidecar
.novablocks-content {
  
  .novablocks-content {
    
    [data-align="full"],
    [data-align="wide"],
    [data-align='right'],
    [data-align='left'],
    [data-novablocks-alignment="pull-left"],
    [data-novablocks-alignment="pull-right"] {
      --block-content-start: cs;
      --block-content-end: ce;
    }
   
  }
}

// We want Posts Collection
// to span on all columns.
[data-type="novablocks/posts-collection"] {
  grid-column: var(--all-columns) !important;
}

// Remove resizable component behaviour
// for Image Block.

[data-align="left"],
[data-align="right"],
.novablocks-sidebar {
  
  .wp-block-image {
    margin-left: 0 !important;
    margin-right: 0 !important;
    
    .components-resizable-box__container {
      width: 100% !important;
      height: 100% !important;
    }
    
  }
}

[data-type="novablocks/sidecar-area"] {
  z-index: 1;
  margin-top: 0 !important;
}

.last-block-is-sticky .novablocks-sidebar > :last-child {
  position: static;
}

.novablocks-sidebar {

  .block-editor-inner-blocks {
    margin-top: 0;
  }
}

// This will apply only on new Widget Editor,
// available in WordPress 5.8
.interface-interface-skeleton__secondary-sidebar + .interface-interface-skeleton__content {

  .edit-widgets-main-block-list {
    --inspector-controls-width: 175px;
  }
}
