@import 'scss/mixins';

.is-sidebar-opened {
  --inspector-controls-width: 280px;
}

.block-editor-block-list__layout.is-root-container {
  @include nb-content-layout-grid(true);
}

.block-editor-block-list__layout.is-root-container {
  --editor-full: calc((100vw - var(--theme-content-width-wide) - 2 * var(--theme-wrapper-sides-spacing) - var(--inspector-controls-width, 0px)) * 0.5);

  // If is Widget Editor,
  // alter --wds and --wde,
  // so the sidebar will have a smaller width.
  &.edit-widgets-main-block-list {
    --nb-sidecar-sidebar-left-width: 12.5%;
    --nb-sidecar-sidebar-right-width: 12.5%;
  }
}

// Overwrite default focus block style
// and apply them around grid columns.
[data-type='novablocks/sidecar-area'] {

  &.is-selected,
  &.is-highlighted,
  &.is-multi-selected,
  &.has-child-selected {

    &:after {
      box-shadow: none !important;
    }
  }
}

// Remove resizable component behaviour
// for Image Block.
[data-align="left"],
[data-align="right"],
.nb-sidecar-area--sidebar {

  .wp-block-image {
    margin-left: 0 !important;
    margin-right: 0 !important;

    .components-resizable-box__container {
      width: 100% !important;
      height: 100% !important;
    }

  }
}

.nb-sidecar--sticky-sidebar.nb-sidecar--sidebar-ready .nb-sidecar-area--sidebar > :last-child {
  position: static;
}


// This will apply only on new Widget Editor,
// available in WordPress 5.8
.interface-interface-skeleton__secondary-sidebar + .interface-interface-skeleton__content {

  .edit-widgets-main-block-list {
    --inspector-controls-width: 175px;
  }
}
