@import 'scss/mixins';
@import 'scss/block-content-alignments';
@import 'scss/utility';

// This is where magic starts.
:is(.nb-sidecar, .nb-sidecar-area--content) {
  position: relative;
  align-items: start;
  @include nb-content-layout-grid;
}

.nb-sidecar-area {
  @include block-spacing-container;

  @include above(lap) {
    grid-row: 1;
  }
}

.nb-sidecar-area--sidebar {
  height: 100%;

  // Below 1024px everything is shown on one column, so we need to add a margin top to the sidebar.
  @include below(lap) {
    // @todo maybe var(--element-spacing) is the proper gap to be used here
    margin-top: var(--nb-sidecar-grid-gap);
  }
}

// Apply top and bottom spacing
// on all blocks inside content
// and sidebar.
.nb-sidecar-area--content {
  order: -1;
}

.break-align-left {
  --block-wide-start: ws;
  --block-full-start: fs;
}

.break-align-right {
  --block-wide-end: we;
  --block-full-end: fe;
}

// Default sidebar position is on the right, so it will be positioned between [ge] and block-limit-right.
@include above(lap) {

  .nb-sidecar {

    > .nb-sidecar-area--content:not(:only-child) {
      --block-content-start: var(--block-wide-start);
      --block-content-end: var(--block-wide-end);
    }
  }

  .nb-sidecar--sidebar-left {

    > .nb-sidecar-area--content {
      --block-wide-start: cs;
      --block-full-start: cs;
    }

    > .nb-sidecar-area--sidebar {
      --block-content-start: ws;
      --block-content-end: gs;
    }
  }

  .nb-sidecar--sidebar-right {

    > .nb-sidecar-area--content {
      --block-wide-end: ce;
      --block-full-end: ce;
    }

    > .nb-sidecar-area--sidebar {
      --block-content-start: ge;
      --block-content-end: we;
    }
  }
}

// Make last block from Sidebar Sticky
.nb-sidecar--sticky-sidebar.nb-sidecar--sidebar-ready {
  
  .nb-sidecar-area--sidebar {
    
    > :last-child {
      position: sticky;
      top: var(--sticky-element-top-spacing, 0);

      transition: .1s opacity ease-out;

      @include above(lap) {

        &.novablocks-hidden-block {
          opacity: 0;
        }
      }
    }
  }
}


// Sidebar width overrides
@each $size in small, medium, large {
  @each $side in left, right {
    .nb-sidecar--sidebar-#{$side}.nb-sidecar--sidebar-#{$size} {
      --nb-sidecar-sidebar-#{$side}-width:  var(--nb-sidecar-sidebar-#{$size}-width);
    }
  }
}
