@import 'scss/mixins';
@import 'scss/utility';

:root {
  // Default position for blocks is between CS (content-start) and CE (content-end).
  --block-content-start: ws;
  --block-content-end: we;

  // Default block limits are WS (wide-start) and WE (wide-end).
  --block-wide-start: ws;
  --block-wide-end: we;

  --block-full-start: fs;
  --block-full-end: fe;

  --block-left-start: ws;
  --block-left-end: gs;
  --block-right-start: ge;
  --block-right-end: we;

  @include above(lap) {
    --block-content-start: cs;
    --block-content-end: ce;
  }

  --nb-sidecar-gap: calc(var(--nb-spacing) * 2);
  --nb-sidecar-sidebar-small-width: min(288px, 20%);
  --nb-sidecar-sidebar-medium-width: min(330px, 25%);
  --nb-sidecar-sidebar-large-width: min(576px, 40%);

  // the unit is needed in order for the calc functions to work
  --nb-sidecar-sidebar-left-width: var(--nb-sidecar-sidebar-small-width);
  --nb-sidecar-sidebar-right-width: var(--nb-sidecar-sidebar-small-width);

  --nb-container-width: 1200px;
  --nb-content-width: calc(var(--nb-container-width) - var(--nb-sidecar-sidebar-left-width) - var(--nb-sidecar-sidebar-left-gap) - var(--nb-sidecar-sidebar-right-width) - var(--nb-sidecar-sidebar-right-gap));
  --nb-sidecar-sides: max(var(--nb-wrapper-sides-spacings), calc((100% - var(--nb-container-width)) * 0.5));

  @include nb-layout-settings;
}

// This is where the grid magic starts.
// 
// "Break" classes are added via JS when the aligned block and a Sidebar 
// do not overlap, so there is space that the aligned block can fill. 
.nb-content-layout-grid {

  // Align: WIDE
  > :is(.alignwide, [data-align="wide"]) {

    &.break-align-left {
      grid-column-start: var(--block-wide-start);
    }

    &.break-align-right {
      grid-column-end: var(--block-wide-end);
    }
  }

  // Align: FULL
  > :is(.alignfull, [data-align="full"]) {

    &.break-align-left {
      grid-column-start: var(--block-full-start);
    }

    &.break-align-right {
      grid-column-end: var(--block-full-end);
    }
  }

  > .wp-block-group:not(.break-align-left):not(.break-align-right) > .wp-block-group__inner-container > * {
    max-width: none;
  }

  // Align: LEFT & RIGHT
  > :is(.alignleft, [data-align="left"]).break-align-left,
  > :is(.alignright, [data-align="right"]).break-align-right {
    grid-row-end: span 5;
    align-self: flex-start;
  }

  // Align: LEFT
  > :is(.alignleft, [data-align="left"]).break-align-left {
    grid-column: var(--block-left-start) / var(--block-left-end);

    + :not(:is(.alignright, [data-align="right"])) {
      grid-column-start: cs; // ???
    }
  }

  // Align: RIGHT
  > :is(.alignright, [data-align="right"]).break-align-right {
    grid-column: var(--block-right-start) / var(--block-right-end);

    + :not(:is(.alignleft, [data-align="left"])) {
      grid-column-end: ce; // ???
    }
  }

  // NONBREAKABLE ALIGNED BLOCKS
  // 
  // Left or right-aligned blocks inside a Sidecar [content] area with 
  // no left or right [sidebar] available to get out of the content area
  //
  // Due to the use of the CSS grid there is no support for a float-like
  // alternative until the 'exclusions' feature is implemented.
  // Status of the spec: https://github.com/w3c/csswg-drafts/issues/3308
  // 
  // The current proposal is to support only left/right aligned blocks 
  // that have a *height* equal or smaller to the paragraph after it.

  @include above(lap) {

    // Sidecar inside Sidecar
    :is(.nb-sidecar--sidebar-left .nb-sidecar--sidebar-right,
    .nb-sidecar--sidebar-right .nb-sidecar--sidebar-left) & {
      grid-auto-flow: dense;

      > :is(.alignleft, [data-align="left"], .x2.specificity) {
        grid-column-end: gcs;

        + :not(:is(.alignright, [data-align="right"])) {
          grid-column-start: cc;
        }
      }

      > :is(.alignright, [data-align="right"], .x2.specificity) {
        grid-column-start: gce;

        + :not(:is(.alignleft, [data-align="left"])) {
          grid-column-end: cc;
        }
      }
    }
  }
}

.nb-sidecar-area {

  @include above(lap) {
    grid-row: 1;
    --nb-block-top-spacing: 0 !important;
  }
}

.nb-sidecar-area--sidebar {
  position: relative;
  height: 100%;
}

// Apply top and bottom spacing
// on all blocks inside content
// and sidebar.
.nb-sidecar-area--content {
  order: -1;
}

.break-align-left {
  --block-wide-start: ws;
  --block-full-start: fs;
}

.break-align-right {
  --block-wide-end: we;
  --block-full-end: fe;
}

// Default sidebar position is on the right, so it will be positioned between [ge] and block-limit-right.
@include above(lap) {

  .nb-sidecar {

    > .nb-sidecar-area--content:not(:only-child) {
      --block-content-start: var(--block-wide-start);
      --block-content-end: var(--block-wide-end);
    }
  }

  .nb-sidecar--sidebar-left {

    > .nb-sidecar-area--content {
      --block-wide-start: cs;
      --block-full-start: cs;
    }

    > .nb-sidecar-area--sidebar {
      --block-content-start: ws;
      --block-content-end: gs;
    }
  }

  .nb-sidecar--sidebar-right {

    > .nb-sidecar-area--content {
      --block-wide-end: ce;
      --block-full-end: ce;
      //--block-left-end: var(--block-content-end);
    }

    > .nb-sidecar-area--sidebar {
      --block-content-start: ge;
      --block-content-end: we;
      //--block-right-start: var(--block-content-start);
    }
  }
}

// Make last block from Sidebar Sticky
.nb-sidecar--sticky-sidebar.nb-sidecar--sidebar-ready {

  .nb-sidecar-area--sidebar {

    > :last-child {
      position: sticky;
      top: var(--nb-sidecar-sticky-top, var(--nb-spacing));

      transition: .2s opacity ease-out;

      @include above(lap) {

        &.novablocks-hidden-block {
          opacity: 0;
        }
      }
    }
  }
}


// Sidebar width overrides
@each $size in small, medium, large {
  @each $side in left, right {
    .nb-sidecar--sidebar-#{$side}.nb-sidecar--sidebar-#{$size} {
      --nb-sidecar-sidebar-#{$side}-width: min(var(--nb-sidecar-sidebar-#{$side}-max-width), var(--nb-sidecar-sidebar-#{$size}-width));
    }
  }
}
