.novablocks-advanced-gallery {
	// padding top to make sure negative margin of child doesn't collapse
	position: relative;

  height: 100%;
	padding-top: var( --novablocks-advanced-gallery-aspect-ratio, 50% );

	margin-top: var(--novablocks-advanced-gallery-vertical-spacing);
	margin-bottom: var(--novablocks-advanced-gallery-vertical-spacing);

	transform: translateZ(0);
}

.novablocks-advanced-gallery__grid {
	display: grid;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	--novablocks-advanced-gallery-grid-gap: 10px;

	margin-top: calc(-1 * var(--novablocks-advanced-gallery-grid-gap));
	margin-left: calc(-1 * var(--novablocks-advanced-gallery-grid-gap));

	& + & {
		margin-top: 0;
	}
}

.novablocks-advanced-gallery__grid-item {
	margin-top: var(--novablocks-advanced-gallery-grid-gap);
	margin-left: var(--novablocks-advanced-gallery-grid-gap);

	display: flex;
	flex-direction: column;
  align-items: stretch;
  justify-content: center;

	&[class] .credits {
		font-size: 12px;
	}
}

.novablocks-advanced-gallery__grid-item-media {
	position: relative;
	flex: 1 1 0;
  width: 100%;

  .blob-mix,
  .blob-mix__media,
  .blob-mix__mask {
    width: 100%;
    height: 100%;
  }
}

.novablocks-advanced-gallery__grid-item-info {
	flex: 0 1 auto;

	padding-top: calc(0.125 * var(--novablocks-spacing));

	.show-captions-on-hover & {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;

		opacity: 0;
		pointer-events: none;
		transition: var(--novablocks-transition);
		--novablocks-transition-duration: 0.15s;
		transition-property: opacity;
	}

	.show-captions-on-hover .novablocks-advanced-gallery__grid-item:hover & {
		opacity: 1;
		pointer-events: auto;
	}
}

.novablocks-advanced-gallery__image[class] {
	@include image-cover;
}
