.novablocks-card__media-edit {
	opacity: 0;
}

.novablocks-card__media-edit,
.novablocks-card__media-image,
.novablocks-card__media-placeholder {

	&[class] {
		transition: var(--novablocks-transition);
		transition-property: opacity;
		--novablocks-transition-duration: .15s;
	}
}

[data-type="novablocks/cards-collection"] {

	.novablocks-card__media {

		&:hover {
			cursor: pointer;

			.novablocks-card__media-edit {
				opacity: 1;
			}

			.novablocks-card__media-image,
			.novablocks-card__media-placeholder {
				opacity: 0.7;
			}
		}
	}
}

.novablocks-card__buttons {

	.block-list-appender {
		display: none;
	}
}
