.novablocks-card__media-edit {
	opacity: 0;
	pointer-events: none;
}

.novablocks-card__media-edit,
.novablocks-card__media-image,
.novablocks-card__media-placeholder {

	&[class] {
		transition: opacity .1s ease;
	}
}

.novablocks-card__media {

	.wp-block[data-type="novablocks/card"].is-selected &:hover {
		cursor: pointer;

		.novablocks-card__media-edit {
			opacity: 1;
		}

		.novablocks-card__media-image,
		.novablocks-card__media-placeholder {
			opacity: 0.7;
		}
	}
}

.novablocks-card__buttons {

	.block-list-appender {
		display: none;
	}
}
