.novablocks-card {
	@include clearfix;
  overflow: hidden;
  --nb-spacing-multiplier: var(--nb-spacing-level-3-multiplier);

	.wp-block-buttons[class] {
		float: none;
	}

	> .block-editor-block-list__layout {
		@include clearfix;
	}

  a:not(.novablocks-card__link) {
    position: relative;
    z-index: 20;
  }

  a.novablocks-card__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    display: block;
    margin: 0;
  }
}

.novablocks-card__layout-content {
	overflow: hidden;

	> .nb-grid__item-buttons {
		--nb-spacing-multiplier: 1;
	}
}

.novablocks-card__inner-container[class][class] {
  padding: calc( var(--nb-spacing) * var(--nb-card-content-padding, 0) / 100 );
}

.novablocks-card__media-wrap {
	max-width: none !important;
	padding: calc( var(--nb-spacing) * var(--nb-card-media-padding, 0) / 100 );

	transition: var(--nb-transition);
	transition-property: margin, padding;

	.novablocks-card--placeholder & {
		animation: novablocks-card-media-placeholder-pulse 1s infinite;
	}
}

.novablocks-card__media-image {
	display: block;
	width: 100%;
}

.novablocks-card--fixed-media-aspect-ratio {

	.novablocks-card__media {
		position: relative;
		padding-top: var(--nb-card-media-padding-top, 100%);
		overflow: hidden;
	}

	.novablocks-card__media-placeholder,
	.novablocks-card__media-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.novablocks-card__media-image {
		object-fit: var(--nb-card-media-object-fit, cover);
	}
}

.novablocks-card__media-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
  background: var(--nb-bg-color);

	svg {
		max-width: 50%;
		max-height: 50%;
	}
}

@keyframes novablocks-card-media-placeholder-pulse {
	0% { opacity: 1 }
	50% { opacity: 0.5 }
	100% { opacity: 1 }
}

.novablocks-card__subtitle {

	a {
		text-decoration: inherit;
		color: inherit;
	}
}
