@import 'scss/components/spacing/editor-styles';

// Editor layout adjustments

// Make list view panel appear on top of the block list
// to avoid making content too narrow
.edit-post-editor__list-view-panel {
  position: absolute;
  background: #FFFFFF;
  border-right: 1px solid #E0E0E0;
}

// Quickfix block appender visibility
.block-list-appender__toggle {
	opacity: 1 !important;
	transform: none !important;
}

.block-editor-inserter__preview {
	transform: scale(0.8);
	max-height: 300px;
	overflow: hidden;
}

.components-placeholder {
	line-height: 1.8;
}

// don't collapse margins
.wp-block[data-type="novablocks/media"] {
	display: flex;

	> * {
		flex-grow: 1;
	}
}

// debug
body.debug {

	.wp-block-group__inner-container {
		position: relative;
		z-index: 10;

		&:before,
		&:after {
			position: absolute;
			left: 0;
			right: 0;

			content: '';
			display: block;
			height: calc( 5 * var(--nb-spacing) );
			background:
				linear-gradient(to bottom, rgba(0,0,0,0.2) 1px, rgba(0,0,0,0) 1px),
				linear-gradient(to bottom, transparent 40%, red 40%, red calc(40% + 1px), transparent calc(40% + 1px));
			background-size:
				20% 20%,
				100% 100%;
		}

		&:before {
			top: calc( -2 * var(--nb-spacing) );
		}

		&:after {
			bottom: calc( -3 * var(--nb-spacing) );
		}
	}

	.novablocks-media {
		position: relative;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			background: #b9deff;
			left: 0;
			right: 0;

			transition: var(--nb-transition);
			transition-property: padding, top, bottom;
		}

		&:before {
			--offset: calc( max( 0, -1 * var(--nb-block-top-spacing, 0) ) );
			padding-top: calc( -1 * var(--nb-block-top-spacing, 0) * var(--nb-spacing) );
			padding-bottom: calc( var(--nb-block-top-spacing, 0) * var(--nb-spacing) );
			bottom: calc( 100% - var(--offset) * var(--nb-spacing) );
		}

		&:after {
			--offset: calc( max( 0, -1 * var(--nb-block-bottom-spacing, 0) ) );
			padding-top: calc( -1 * var(--nb-block-bottom-spacing, 0) * var(--nb-spacing) );
			padding-bottom: calc( var(--nb-block-bottom-spacing, 0) * var(--nb-spacing) );
			top: calc( 100% - var(--offset) * var(--nb-spacing) );
		}
	}
}

.block-editor-block-variation-picker__variations[class][class][class] {
	padding-left: 0;

		> li {
			margin: 4px 8px 4px 0;
		}
}

[data-type='novablocks/header'] {

	.block-editor-block-variation-picker__variation-label[class] {
		display: none;
	}
}

/* START Hero Block Toolbar Popovers adjustments */
.components-popover {

  .components-panel__row .components-toolbar {
    flex-wrap: nowrap;
  }

  span + .components-toolbar {
    margin-left: var(--nb-spacing);
  }

  .components-range-control__wrapper {
    min-width: 60px;
  }
}
/* END Hero Block Toolbar Popovers adjustments */
