@import 'scss/variables';

@import 'scss/components/alignment/style';
@import 'scss/components/emphasis/style';
@import 'scss/components/layout/style';
@import 'scss/components/spacing/style';

@import 'blocks/core/list/style';

$slick-arrow-color: var(--sm-current-fg1-color);

@import 'scss/vendor/slick';
@import 'scss/vendor/slick-theme';

// Applying Grid on Group Block
[class*="__inner-container"] {
  @include nb-content-layout;

  > .nb-sidecar {
    max-width: none;
    margin-left: calc( -1 * var(--nb-wrapper-sides-spacings) );
    margin-right: calc( -1 * var(--nb-wrapper-sides-spacings) );
  }

  .sm-color-signal-0:not(.alignfull):not([data-align="full"]) > & {
    padding-left: 0;
    padding-right: 0;

    > :is(.alignfull, [data-align="full"]) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

:is(
  .nb-content-layout-grid,
  .nb-sidecar,
  .nb-sidecar-area--content:not(.supernova),
  .nb-sidecar-area--content > .supernova
) {
  @include nb-content-layout-grid;
}

.wp-block {
  max-width: none;
}

.wp-block-group {

  // groups that have a set color signal (different text and background color)
  // and have no emphasis top or bottom spacing need to have some padding
  // by multiplying with -1 and then adding 1 we make sure that
  // we only add padding when these values are smaller than 1
  .wp-block-group__inner-container {
    padding-top: calc((1 + (-1 * var(--nb-emphasis-top-spacing))) * var(--nb-wrapper-sides-spacings));
    padding-bottom: calc((1 + (-1 * var(--nb-emphasis-bottom-spacing))) * var(--nb-wrapper-sides-spacings));
  }
}

.admin-bar {
  --admin-bar-height: 32px;
  --admin-bar-offset: 0;

  @media screen and (max-width: 782px) {
    --admin-bar-height: 46px;
    --admin-bar-offset: 46px;
  }
}

.novablocks-doppler__mask {
	clip: rect(0 auto auto 0);
	-webkit-mask-image: -webkit-linear-gradient(0deg, white 0, white 100%);
}

.supernova-item__media-aspect-ratio[class] > * {
  @include cover;
}
