@import 'scss/variables';

@import 'scss/components/alignment/style';
@import 'scss/components/emphasis/style';
@import 'scss/components/layout/style';
@import 'scss/components/spacing/style';

@import 'blocks/core/categories/style';
@import 'blocks/core/gallery/style';
@import 'blocks/core/group/style';
@import 'blocks/core/list/style';
@import 'blocks/core/separator/style';

@import 'scss/layout';

*, *:before, *:after {
  box-sizing: border-box;
}

.admin-bar {
  --admin-bar-height: 32px;
  --admin-bar-offset: 0;

  @media screen and (max-width: 782px) {
    --admin-bar-height: 46px;
    --admin-bar-offset: 46px;
  }
}

.novablocks-doppler__mask {
	clip: rect(0 auto auto 0);
	-webkit-mask-image: -webkit-linear-gradient(0deg, white 0, white 100%);
}

.nb-supernova-item__media-aspect-ratio[class] > * {
  @include cover;
}
