@import 'scss/variables';

@import 'scss/components/alignment/style';
@import 'scss/components/emphasis/style';
@import 'scss/components/layout/style';
@import 'scss/components/spacing/style';

$slick-arrow-color: var(--sm-current-fg1-color);

@import 'scss/vendor/slick';
@import 'scss/vendor/slick-theme';

// Applying Grid on Group Block
[class*="__inner-container"][class] {
  @include nb-content-layout;

  [class*='align-pull'] & {
    padding-left: 0;
    padding-right: 0;
  }
}

.admin-bar {
  --admin-bar-height: 32px;
  --admin-bar-offset: 0;

  @media screen and (max-width: 782px) {
    --admin-bar-height: 46px;
    --admin-bar-offset: 46px;
  }
}

.novablocks-doppler__mask {
	clip: rect(0 auto auto 0);
	-webkit-mask-image: -webkit-linear-gradient(0deg, white 0, white 100%);
}

.supernova-item__media-aspect-ratio > * {
  @include cover;
}

.nb-card__layout {
	--card-layout-gap: calc(var(--nb-card-spacing-modifier, 0.5) * var(--nb-spacing));

	display: flex;
	flex-direction: column;
	margin-top: calc( -1 * var(--card-layout-gap) );
	margin-left: calc( -1 * var(--card-layout-gap) );

	&[class][class] > * {
		padding-top: var(--card-layout-gap);
		padding-left: var(--card-layout-gap);
	}
}

.nb-card--landscape {

	.nb-card__layout {
		flex-direction: row;

		> .nb-card__layout-media {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: var(--card-image-width, 50%);
		}

		> .nb-card__layout-content {
			align-self: center;
			flex: 1 1 0;
		}
	}
  
  .nb-collection--classic {
    
    @include below(mobile) {
      
      .nb-card__description {
        display: none;
      }
    }
  }
}
