.novablocks-slideshow {
	position: relative;
	z-index: 20;
}

.novablocks-slideshow__slide {
	position: relative;
	overflow: hidden;
}

.novablocks-slideshow.is-ready {
	.novablocks-slideshow__slider,
	.novablocks-slideshow__foreground,
	.novablocks-slideshow__background,
	.novablocks-slideshow__slide,
	.novablocks-slideshow__slide-wrap {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.novablocks-slideshow__background {
  background-color: var(--novablocks-bg-color);
}

.novablocks-slideshow__slide-wrap {
	overflow: hidden;
}

.novablocks-slideshow__slide--current {
	z-index: 1100 !important;
}

.novablocks-slideshow__slide--next {
	z-index: 1200 !important;
}

.novablocks-slideshow__media {
	@include image-cover;
}

.novablocks-slideshow__slider {
	z-index: 100;
}

.novablocks-slideshow__controls {
	z-index: 200;
}

.novablocks-slideshow__arrow {
	--arrow-width: 2px;
	--arrow-color: #555555;
	--arrow-background: #ffffff;

	position: absolute;
	top: 50%;
	z-index: 999;

	width: 22px;
	height: 24px;

	background: var(--arrow-background);
	border-radius: 3px;

	&:not(.novablocks-slideshow__arrow--disabled) {
		cursor: pointer;
	}

	&:before {
		content: '';
		display: block;

		position: absolute;
		top: 50%;
		left: 50%;

		width: 8px;
		height: 8px;
	}
}

.novablocks-slideshow__arrow--prev {
	left: 10px;

	&:before {
		border-top: var(--arrow-width) solid var(--arrow-color);
		border-left: var(--arrow-width) solid var(--arrow-color);
		transform: translate(-30%, -50%) rotate(-45deg);
	}
}

.novablocks-slideshow__arrow--next {
	right: 10px;

	&:before {
		border-top: var(--arrow-width) solid var(--arrow-color);
		border-right: var(--arrow-width) solid var(--arrow-color);
		transform: translate(-70%, -50%) rotate(45deg);
	}
}

.novablocks-slideshow {

	.slick-list {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}

	.slick-list,
	.slick-track {
		height: 100%;
	}

	// for simpler reveal transitions between slides
	.slick-slide {
		opacity: 1 !important;
	}
}

$button-component-text-color: #555;

.nova-blocks-slideshow-type-panel .block-editor-media-placeholder {
	.components-placeholder__label,
	.block-editor-media-placeholder__button {
		display: none;
	}

	.editor-media-placeholder__media-library-button,
	.components-form-file-upload + .block-editor-media-placeholder__button {
		padding-left: 12px;
		text-indent: -999em;

		display: flex;
		align-items: center;
		height: auto;

		&,
		&:focus:enabled {
			color: transparent;
		}

		&:before,
		&:after {
			color: $button-component-text-color;
			text-indent: 0;
		}

		&:before {
			@include dashicon;
			content: '\f464'; // edit / pencil icon
			margin-right: 0.2em;
		}

		&:after {
			content: 'Edit Gallery';
		}
	}
}
