// Theme Button
$nova-yellow:               #FFE42E         !default;
$nova-blue:                 #2B2BBA         !default;
$nova-border-radius:        20px 16px 18px  !default;
$nova-transition-duration:  0.5s            !default;
$nova-transition-easing:    ease            !default;
