:root {
    --bg-master-dark: #000000;
    --bg-master-light: #FFFFFF;
}

@each $color in dark, light {

    .u-background-#{$color} {
        --hero-background: var(--bg-master-#{$color});
    }

    .u-foreground-#{$color} {
        --hero-foreground: var(--bg-master-#{$color});
    }
}

.u-background {
    background: var(--hero-background);
}

.nova-hide-clear-color {

    .components-color-palette__custom-color {
        margin-right: 0;
    }

    .components-color-palette__clear {
        display: none;
    }
}
