@import "parametric-layout-modifiers";

.nb-grid {
	grid-gap: var(--nb-grid-spacing);

	.nb-grid__item {
		--theme-content-width-normal: 100%;
	}
}

.nb-grid__area + .nb-grid__area,
.nb-grid__area > * + * {
	margin-top: var(--nb-grid-spacing);
}

.nb-grid__area {
	position: relative;
	overflow: hidden;

  .nb-supernova--card-layout-stacked & {
    height: 100%;

    display: flex;
    flex-direction: column;

    > .nb-grid__item {
      flex-grow: 1;

      > .nb-collection__layout-item,
      > .nb-collection__layout-item > .nb-supernova-item {
        height: 100%;
      }
    }
  }

	.nb-grid__column:first-child &:first-child:last-child {
		position: sticky;
		top: var(--nb-grid-spacing);
	}
}

.nb-grid__debug {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding: 10px;
}

.nb-grid--scaled {
	transform: scale(0.5);
	transform-origin: 50% 0;
}

.nb-grid--mask {

	.nb-grid__debug {
		display: block;
	}

	.nb-grid__area {
		border: 2px dashed var(--nb-purple);
	}

	.nb-grid__item {
		border: 2px dashed var(--nb-green);

		.novablocks-block__content {
			opacity: 0;
		}
	}
}
