.novablocks-announcement-bar__url-field-wrapper {

	.components-base-control {
		padding-left: 16px;
		padding-right: 16px;
		max-width: 500px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.components-toggle-control .components-base-control__field {
		justify-content: center;
	}
}

.novablocks-announcement-bar {
	.block-editor-inner-blocks {
		padding: var(--nb-announcement-bar-padding) calc(2*var(--nb-announcement-bar-padding) + var(--nb-announcement-bar-close-width));
	}

	.block-list-appender {
		margin: 0 !important;
	}
}
