.supernova-item:not(.supernova-item--layout-stacked) {

  &.is-selected,
  .supernova.is-selected & {

    .novablocks-media-composition {

      .novablocks-media-composition__grid,
      .novablocks-change-media-overlay {
        transition: var(--nb-transition);
        transition-property: opacity;
        --nb-transition-duration: .15s;
      }

      .novablocks-media-composition__grid {
        pointer-events: none;
      }

      .novablocks-media-composition__grid-item {
        pointer-events: auto;
      }

      &:hover {

        .novablocks-media-composition__grid {
          opacity: 0.7;
        }
      }

      &:not(:hover) {

        .novablocks-change-media-overlay {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}
