.supernova-item {
  background: none !important;

  .supernova-item__media-wrapper,
  .supernova-item__content {
    background: var(--nb-bg-color);
  }
  
  &[class*='layout-stacked'] {
    
    .supernova-item__media-wrapper + .supernova-item__content {
      background: none;
    }
  }
  
  .wp-block-button {
    display: block;
  }
}
