.supernova-item {
  background: none !important;

  .novablocks-media-composition__grid-item-media .blob-mix__mask,
  .supernova--source-type-content & .supernova-item__media-wrapper {
    background: var(--nb-bg-color);
  }
  
  &[class*='layout-stacked'] {
    
    .supernova-item__media-wrapper + .supernova-item__content {
      
      .supernova-item__inner-container {
        background: none;
      }
    }
  }

  &[class*='layout-vertical'] {

  }
  
  .wp-block-button {
    display: block;
  }
}
