.align-full,
.alignfull,
[data-align="full"]{
  --block-content-start: fs;
  --block-content-end: fe;
}

.alignwide,
.align-wide,
[data-align="wide"] {
  --block-content-start: ws;
  --block-content-end: we;
}


.align-pull-left[class] {
  --block-content-start: ws;
  --block-content-end: gs;
}

.align-pull-right[class] {
  --block-content-start: ge;
  --block-content-end: we;
}

.stop-right,
.stop-right * {
  --block-content-end: ce;
}

.stop-left,
.stop-left * {
  --block-content-start: cs;
}
