:root {
  --novablocks-wide-width: 60em;
  --novablocks-content-width: 40em;
}

// Default Layout Grid
// fs - full start
// ws - wide start
// cs - content start
// ce - content end
// cc - content center
// we - wide end
// fe - full end
// gs - gap start
// ge - gap end
// gcs - gap content start
// gce - gap content end
// [cs] [cc] column will be equal with minmax(22ch, var(--novablocks-content-width-start)
// to make sure that we always have a minimum of characters displayed.
// The same thing applies for [cc] [ce].
// Doing that, in content will always be at least 44 characters.

@mixin layout-grid {
  display: var(--display-mode);
  flex-direction: column;
  
  
  --grid-gap: calc(var(--grid-gap-size) * var(--gap-is-active, 1));
  --novablocks-content-width-start-max-value: calc( (var(--novablocks-content-width) + var(--novablocks-content-addon, 0px))/2 - var(--grid-gap));
  --novablocks-content-width-end-max-value:  calc( (var(--novablocks-content-width) + var(--novablocks-content-addon, 0px))/2 - var(--grid-gap));
  
  --novablocks-sidecar-full: 100vw;
  --novablocks-sidecar-wide:  calc( min( var(--novablocks-wide-width), var(--novablocks-sidecar-full) ) );
  
  --content: var(--novablocks-content-width);
  --wd: calc( var(--novablocks-sidecar-wide) * 0.5 - var(--content) * 0.5 );
  --wds:minmax( calc(var(--minimum-sidebar-left-width) * 0.5), calc(var(--wd) * 0.5));
  --wde:minmax( calc(var(--minimum-sidebar-right-width) * 0.5), calc(var(--wd) * 0.5));
  
  grid-template-columns: [fs] 1fr [ws] var(--wds) [wsgs] calc(var(--grid-gap)/2) [wsc] calc(var(--grid-gap)/2) [wsge] var(--wds) [gs] var(--grid-gap) [cs] minmax(0, var(--novablocks-content-width-start-max-value)) [gcs] calc(var(--grid-gap)/2) [cc] calc(var(--grid-gap)/2) [gce]  minmax(0, var(--novablocks-content-width-end-max-value)) [ce] var(--grid-gap) [ge] var(--wde) [wegs] calc(var(--grid-gap)/2) [wec] calc(var(--grid-gap)/2) [wege] var(--wde) [we] 1fr [fe];
}

// Default Layout Settings
// --novablocks-wide-width - Wide Blocks maximum width.
// This can also be considered as container width,
// because a layout block with sidebar will use this width.
// --novablocks-content-width - Content column maximum width.
// --display-mode - Block default display mode. (eg. grid or flex)
// --grid-gap-size - Default gap between grid columns.
// --minimum-sidebar-*-width - Minimum sidebar Width for specific Sidebar.
// This minimum sidebar width is useful when user will display an ad inside
// the sidebar and want the sidebar to have a minimum size.
// --sticky-element-to-spacing - Used to position the sticky block.
// In Rosa2 this value will be equal with site header height, in this way,
// the sticky block will not be under the header.
// --novablocks-content-width-*-max-value - Content column is separated in two columns (start and end),
// which will allow us to achieve layouts with a higher level of complexity.
// --all-columns - Used for blocks that need to span on the entire grid.
@mixin layout-settings {
  --default-width-small-sidebar: 230px;
  --default-width-large-sidebar: 300px;
  --sticky-element-top-spacing: 0px;
  --grid-gap-size: 30px;
  --minimum-sidebar-left-width: var(--default-width-small-sidebar);
  --minimum-sidebar-right-width: var(--default-width-small-sidebar);
  --display-mode: flex;
  --all-columns: fs/fe;
  
  // Default position for blocks is between cs and ce.
  --block-content-start: wsge;
  --block-content-end: wegs;
  
  // Default block limits are ws and we.
  --block-limit-left: ws;
  --block-limit-right: we;
  
  // Make it grid only above 1024px.
  @include above(lap) {
    --display-mode: grid;
  }
}

@mixin grid-border {
  
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% + 20px);
    height: 100%;
  
    margin-left: -10px;
    
    grid-column: var(--block-content-start)/var(--block-content-end);
    border: 2px dashed var(--novablocks-color-1);
  }
}

@mixin pull-align-item( $direction, $is-absolute: false, $no-sidebar: false ) {
  
  // Item is absolute
  // that means it will be absolutely positioned
  // inside wide area and it's width will
  // be equal with that area width.
  @if ($is-absolute) {
    position: absolute;
    width: calc( Max(var(--minimum-sidebar-width), var(--wd)) + var(--grid-gap) );
    
    // Update left or right position,
    // based on item direction.
    @if ($direction == right) {
      left: calc(100% + var(--grid-gap));
      margin-left: 0;
    } @else {
      right: calc(100% + var(--grid-gap));
      margin-right: 0;
    }
  } @else {
    // In some cases, the item cannot be pulled left or right,
    // and we will treat it as an regular block,
    // aligning it left or right and set it's max width to wide section.
    position: relative;
    float: #{$direction};
    width: auto;
    max-width: var(--wd);
    
    // Overwrite some variables, based on item position,
    // and set it's margins to --grid-gap.
    @if ($direction ==  right) {
      left: 0;
      margin-left: var(--grid-gap);
    } @else {
      right: 0;
      margin-right: var(--grid-gap);
    }
  }
  
  // Change item position
  // if there is no sidebar.
  // The item will be positioned after the content,
  // but it's width will be equal with half of wide section
  // plus half of remaining space.
  @if( $no-sidebar ) {
    width: calc(Max( calc(var(--minimum-sidebar-width) * 0.5) , calc(var(--wd) * 0.5 + var(--full-pull-value) * 0.5)) - var(--grid-gap));
  }
}
