:root {
  --novablocks-wide-width: 60em;
  --novablocks-content-width: 40em;
  --body-font-size: 16;
  --offset-addon: 230;
}

// Default Layout Grid
// fs - full start
// ws - wide start
// cs - content start
// ce - content end
// cc - content center
// we - wide end
// fe - full end
// gs - gap start
// ge - gap end
// gcs - gap content start
// gce - gap content end
// [cs] [cc] column will be equal with minmax(22ch, var(--novablocks-content-width-start)
// to make sure that we always have a minimum of characters displayed.
// The same thing applies for [cc] [ce].
// Doing that, in content will always be at least 44 characters.

//noinspection ALL
@mixin layout-grid {
  display: var(--display-mode);
  flex-direction: column;
  
  --default-sidebar-left-width: calc(var(--minimum-sidebar-left-width) * 0.5);
  --default-sidebar-right-width: calc(var(--minimum-sidebar-right-width) * 0.5);
  
  --wds: var(--default-width-offset-sidebar, var(--default-sidebar-left-width));
  --wde: var(--default-width-offset-sidebar, var(--default-sidebar-right-width));
  
  --full: calc((100vw - var(--theme-content-width-wide-new)) * 0.5);
  
  grid-template-columns: [fs] Max(0px, var(--editor-full, var(--full))) [ws] var(--wds) [wsgs] calc(var(--grid-gap)/2) [wsc] calc(var(--grid-gap)/2) [wsge] var(--wds) [gs] var(--grid-gap) [cs] 1fr [gcs] calc(var(--grid-gap)/2) [cc] calc(var(--grid-gap)/2) [gce]  1fr [ce] var(--grid-gap) [ge] var(--wde) [wegs] calc(var(--grid-gap)/2) [wec] calc(var(--grid-gap)/2) [wege] var(--wde) [we] Max(0px, var(--editor-full, var(--full))) [fe];
}

// Default Layout Settings
// --novablocks-wide-width - Wide Blocks maximum width.
// This can also be considered as container width,
// because a layout block with sidebar will use this width.
// --novablocks-content-width - Content column maximum width.
// --display-mode - Block default display mode. (eg. grid or flex)
// --minimum-sidebar-*-width - Minimum sidebar Width for specific Sidebar.
// This minimum sidebar width is useful when user will display an ad inside
// the sidebar and want the sidebar to have a minimum size.
// --sticky-element-to-spacing - Used to position the sticky block.
// In Rosa2 this value will be equal with site header height, in this way,
// the sticky block will not be under the header.
// --novablocks-content-width-*-max-value - Content column is separated in two columns (start and end),
// which will allow us to achieve layouts with a higher level of complexity.
// --all-columns - Used for blocks that need to span on the entire grid.
@mixin layout-settings {
  --default-width-small-sidebar: calc(230px - var(--grid-gap));
  --default-width-medium-sidebar: calc(300px - var(--grid-gap));
  --default-width-large-sidebar: calc(500px - var(--grid-gap));
  --sticky-element-top-spacing: 0px;
  --grid-gap: 2em;
  --minimum-sidebar-left-width: var(--default-width-medium-sidebar);
  --minimum-sidebar-right-width: var(--default-width-medium-sidebar);
  --display-mode: flex;
  --all-columns: fs/fe;
  
  // Default position for blocks is between cs and ce.
  --block-content-start: cs;
  --block-content-end: ce;
  
  // Default block limits are ws and we.
  --block-limit-left: ws;
  --block-limit-right: we;
  
  // Make it grid only above 1024px.
  @include above(lap) {
    --display-mode: grid;
  }
  
  @include above(ultra) {
    --default-width-small-sidebar: calc(10.5em - var(--grid-gap));
    --default-width-medium-sidebar: calc(13.7em - var(--grid-gap));
    --default-width-large-sidebar: calc(22.8em - var(--grid-gap));
  }
}

// Add an outline around a block
@mixin block-outline {
  
  position: relative;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100% + 0px);
    height: 100%;
  
    margin-left: 0;
    
    grid-column: var(--block-content-start)/var(--block-content-end);

    box-shadow: 0 0 0 2px var(--wp-admin-theme-color);
    box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
    border-radius: 1px;
    outline: 2px solid transparent;
  }
}

@mixin grid-item-position($position) {
  
  @if ($position == 'left') {
    --block-content-start: ws;
    --block-content-end: gs;
  }
  
  @if ($position == 'right' ) {
    --block-content-start: ge;
    --block-content-end: we;
  }
  
  @if ($position == 'content-left') {
    --block-content-start: cs;
    --block-content-end: gcs;
  }
  
  @if ($position == 'content-right') {
    --block-content-start: gce;
    --block-content-end: ce;
  }
  
  @if ($position == 'content' ) {
    --block-content-start: cs;
    --block-content-end: ce;
  }
}
