@import "../../../assets/scss/mixins";

$light-gray: #EEF1F2;
$box-shadow-radius: 100px;

$headings-color: #323067;
$text-color: #272743;
$content-bg-color: #FFFFFF;
$boxed-padding: 56px;

.nova-media {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image content";
  grid-column-gap: 56px;

  .has-image-on-the-right & {
    grid-template-areas: "content image";
  }

  .content-is-highlighted & {
    grid-column-gap: 0;
    .nova-media__content {
      background-color: $headings-color;
      padding: $boxed-padding;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $content-bg-color;
    }

    p {
      color: $content-bg-color;
    }
  }

  .content-is-highlighted.block-is-highlighted & {
    .nova-media__content {
      background-color: $content-bg-color;
      padding: $boxed-padding;
    }
    h1, h2, h3, h4, h5, h6 {
      color: $headings-color;
    }

    p {
      color: $text-color;
    }
  }

  .content-is-moderate.block-is-highlighted & {

      h1, h2, h3, h4, h5, h6 {
        color: $headings-color;
      }

      p {
        color: $text-color;
      }
  }

  .content-is-highlighted.block-is-moderate & {
    background-color: $headings-color;

     &:before,
     &:after {
       background-color: $headings-color;
     }
  }

  .block-is-moderate & {
    background-color: $light-gray;
    padding-top: 56px;
    padding-bottom: 56px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: calc(50vw - 50%);
      height: 100%;
      background-color: $light-gray;
      z-index: 1;
      right: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: calc(50vw - 50%);
      height: 100%;
      background-color: $light-gray;
      z-index: 1;
      left: 100%;
    }
  }

  .block-is-highlighted & {
    background-color: $headings-color;
    padding-top: 56px;
    padding-bottom: 56px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: calc(50vw - 50%);
      height: 100%;
      background-color: $headings-color;
      z-index: 1;
      right: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      width: calc(50vw - 50%);
      height: 100%;
      background-color: $headings-color;
      z-index: 1;
      left: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
      color: $content-bg-color;
    }

    p {
      color: $content-bg-color;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $headings-color;
  }

  p {
    color: $text-color;
  }
}

.nova-media__aside {
  grid-area: image;
}

.nova-media__content {
  grid-area: content;

  .content-is-moderate & {
    padding: $boxed-padding;
    background-color: $content-bg-color;
    @include box-shadow(nova);
  }
}

.nova-media__aside {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5%;

  .is-simple-grid & {
    img {
      @include image-cover;
    }
  }
}

.nova-media__image {
  position: relative;
  grid-column: span 3;
  grid-row: span 2;
}



.nova-media__image:first-child:last-child,
.nova-media__placeholder {
  grid-column: span 6;
  grid-row: span 4;
}

.nova-media__image:first-child:nth-last-child(2) ~ *,
.nova-media__image:first-child:nth-last-child(2) {
  grid-column: span 3;
  grid-row: span 4;
}

.nova-media__image:nth-last-child(3):first-child {
  grid-column: 1 / span 3;
  grid-row: 1/ span 2;
}

.nova-media__image:nth-last-child(3):first-child~.nova-media__image:nth-child(2) {
  grid-column: 4 / span 3;
  grid-row: 1/ span 2;
}

.nova-media__image:nth-last-child(3):first-child~.nova-media__image:last-child {
  grid-column: 1 / span 6;
  grid-row: 3 / span 2;
}


// ---------------------------------------
// Themes Use Cases
// Status: Work-in-progress
// ---------------------------------------

// TwentyNineteen Styles
.u-container-width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1168px) {
  .entry .entry-content > .wp-block-pixelgrade-media, 
  .entry .entry-summary > * {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
  }
}

.editor-styles-wrapper {
  h1, h2, h3 {
    line-height: 1.2;
  }
  
}
