[class*="block-is"] {
    + [class*="block-is"] {
        .nova-media {
            padding-top: 0;
        }
    }
}

.wp-block-pixelgrade-media:not([class*="block-is"]) {
    + .wp-block-pixelgrade-media:not([class*="block-is"]) {
        .nova-media {
            margin-top: var(--nova-media-spacing-unit);
        }
    }

    + [class*="block-is"] {
        margin-top: var(--nova-media-spacing-unit);
    }
}

[class*="block-is-moderate"] {
    + [class*="block-is-highlighted"] {
        .nova-media {
            padding-top: var(--nova-media-spacing-unit);
        }
    }
}
