.nova-media__placeholder {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    background-color: #EEEEEE;
}

.wp-block-nova-media {
    transition: all 0.4s ease;
    transition-property: background-color, padding;

    h1, h2, h3, h4, h5, h6 {
        transition: color 0.4s ease-out;
    }
}

.nova-media__content {
    transition: padding 0.4s ease;
}

.nova-media__inner-container {
    padding-left: var(--content-side-spacing);
    padding-right: var(--content-side-spacing);

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > [data-align="full"] {
        margin-left: calc(-1 * var(--content-side-spacing));
        margin-right: calc(-1 * var(--content-side-spacing));
    }
}