.nova-media__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  background-color: #EEEEEE;
}

.wp-block-pixelgrade-media * {
    transition: all 0.4s ease;
}