.novablocks-block {
	--nb-block-padding: var(--nb-spacing);
	--nb-block-content-padding: var(--nb-spacing);
}

.novablocks-media {
	position: relative;
	z-index: var(--nb-current-zindex);
}

.novablocks-block__content {

  &[class] {
    position: relative;
    background: none;

    transform: translateZ(0);

    transition: var(--nb-transition);
    transition-property: padding, box-shadow;
  }

  h1, h2, h3, h4, h5, h6 {
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    display: block;
    background-color: var(--sm-current-bg-color, var(--nb-bg-color));
    pointer-events: none;

    transition: var(--nb-transition);
    transition-property: background-color, opacity;
  }
}
