:root {
	--avatar-column-size: 45px;
	--comments-grid-gap: 10px;
	--component-accent-color: var(--novablocks-color-1);
	--novablocks-conversations-width: 48em;
	--novablocks-conversations-sides: 1em;
	--field-description-color: #67616B;
	--conversations-bg-color: #E4E3E4;
	--comment-author-color: var(--novablocks-color-1);
	--comment-links-color: var(--novablocks-color-1);
	--comment-highlighted-color: #FFF2CE;
	--comments-vertical-spacing: 45px;
	--label-font-size: 15px;
	--label-bg-color: #9195AB;
	--label-highlighted-bg-color: #1479D2;
	--label-border-radius: 100px;
	--field-description-font-size: 13px;

	@include above(tablet) {
		--field-description-font-size: 16px;
		--label-font-size: 18px;
		--avatar-column-size: 50px;
		--comments-grid-gap: 20px;
	}
}

.novablocks-conversations {
	width: 100vw;

	max-width: initial !important;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw !important;
	margin-right: -50vw !important;

	background-color: var(--conversations-bg-color);

	overflow: hidden;

	&__container {
		max-width: var(--novablocks-conversations-width);

		margin-left: auto;
		margin-right: auto;

		padding: 2em var(--novablocks-conversations-sides) 0;

		@include above(tablet) {
			padding: 4em var(--novablocks-conversations-sides);
		}
	}

	&__form-columns {
		display: grid;
		grid-column-gap: var(--comments-grid-gap);
		grid-template-columns: var(--avatar-column-size) 1fr;
	}

	.comment-form {
		position: relative;

		&.form--is-open {

			.comment-form-details {
				opacity: 1;
			}
		}

		&[class][class] {
			label {
				margin-bottom: 0;
			}
		}

		label {
			font-size: var(--label-font-size);
			font-weight: bold;
		}

		.field-description {
			display: block;

			font-size: var(--field-description-font-size);
			color: var(--field-description-color);

			margin-bottom: .5em
		}
	}

	.comment-list {

		@include below(tablet) {
			margin-left: calc( -1 * var(--novablocks-conversations-sides) );
			margin-right: calc( -1 * var(--novablocks-conversations-sides) );
		}
	}

	.comment-text {
		--font-size: 18;

		a {
			color: var(--comment-links-color);
		}
	}

	.comment-author {
		font-weight: bold;
		color: var(--comment-author-color);
	}

	// We want them hidden
	// until user will focus textarea.
	.comment-form-details {
		display: none;
		opacity: 0;
		transition: opacity .2s ease;
	}

	.comment-posted-time,
	.reply {
		opacity: .5;
	}

	a {
		color: currentColor;
		text-decoration: underline;
	}

	.comment-edit-link,
	.comment-reply-link {
		margin-left: 1em;
	}

	.comment-content > *:not(:last-child) {
		margin-bottom: 1em;
	}

	.comment-list {
		.comment {

			@include above(tablet) {
				> .comment-body {
					margin-bottom: var(--comments-vertical-spacing);
				}
			}

			@include below(tablet) {
				&:not(.depth-1),
				&.depth-1.parent {
					> .comment-body {
							margin-bottom: var(--comments-vertical-spacing);
					}
				}
			}

			&[class*="depth-2"] {
				@include above(tablet) {
					margin-left: calc(var(--avatar-column-size) + var(--comments-grid-gap));
				}
			}
		}

		.comment-respond {
			padding-left: var(--novablocks-conversations-sides);
			padding-right: var(--novablocks-conversations-sides);
			margin-bottom: var(--comments-vertical-spacing);

			@include above(tablet) {
				padding-left: calc(var(--avatar-column-size) + var(--comments-grid-gap));
			}
		}

		.comment-form-author,
		.comment-form-email,
		.form-submit,
		.comment-form-experience {
			opacity: 1;
		}
	}

	.avatar {
		max-width: 100%;
		width: var(--avatar-column-size);
		border-radius: 50%;
	}

	.form-grid {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: var(--comments-grid-gap);
		grid-auto-columns: 1fr;

		justify-content: stretch;
	}

	.form-grid > .avatar ~ * {
		grid-column: 2 / 3;
	}

	.comment-grid .comment-content {
		display: grid;
		grid-column-gap: var(--comments-grid-gap);
		grid-template-columns: var(--avatar-column-size) 1fr;
		grid-template-areas: "avatar info"
													"content content";

		@include above(tablet) {
			grid-template-areas: "avatar content";
		}

		.comment-form-details {
			>  p:not(:last-child) {
				margin-bottom: 1.5em;
			}
		}
	}

	.comment-header {
		display: flex;
		flex-direction: column;
	}

	.comment-footer {
		display: flex;
		align-items: center;

		font-size: 17.25px;

		.reply {
			display: flex;
			align-items: center;

			a {
				margin-bottom: 0;
			}
		}
	}

	.comment-experience {
		display: flex;
		align-items: center;

		margin-top: 5px;
	}

	.experience-label {
		display: inline-block;
		background-color: var(--label-bg-color);
		color: var(--novablocks-light-1);

		padding: 0 6px;
		font-size: 13px;

		border-radius: var(--label-border-radius);

		@include above(tablet) {
			padding: 4px 10px;
			font-size: 14px;
		}
	}

	.comment--is-highlighted {

		@include below(tablet) {
			margin-left: calc(-1 * var(--novablocks-conversations-sides));
			margin-right: calc(-1 * var(--novablocks-conversations-sides));
		}

		> .comment-body {
			padding: 0;

			 > .comment-content {
				padding: 1em;
				background-color: var(--comment-highlighted-color);

				@include above(tablet) {
					border-radius: 0 25px;
				}
			}
		}

		.experience-label {
			--label-bg-color: var(--label-highlighted-bg-color);
		}
	}

	.comment {
		&.bypostauthor {
			.experience-label {
				--label-bg-color: var(--label-highlighted-bg-color);
				--label-border-radius: 0;
			}
		}
	}

	.comment-respond {
		display: flex;
		flex-direction: column;

		small {
			order: 2;
			text-align: center;
			margin-top: 1em;
			padding-left: calc(var(--avatar-column-size) + var(--comments-grid-gap));
		}
	}

	[id='cancel-comment-reply-link'] {
		opacity: .5;
		text-align: center;
	}

	.novablocks-conversations__title {
		border-bottom: 4px solid;
		padding-bottom: .5em;
		margin-bottom: .5em;
		font-weight: bold;

		sup {
			font-weight: bold;
		}
	}

	textarea,
	input {
		width: 100%;
		display: block;
		min-height: auto;
	}

	.comment-respond {
		small {
			padding-left: 0;
		}
	}

	.form-submit {
		button {
			width: 100%;
		}
	}

	@include below(tablet) {

		.depth-2 {
			margin-left: -1em;
			margin-right: -1em;
			padding: 1em;
			z-index: 5;
			position: relative;
			overflow: visible;

			background-color: rgba(0, 0, 0, 0.1);

			.comment-body[class][class] {
				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
		}

		.parent {
			> .comment-body + .depth-2 {
				padding-top: 3em;
				margin-top: -4em !important;
			}
		}

		.comment .comment-body {
			padding: 1em;
		}

		.parent > .comment-body {
			position: relative;
			z-index: 10;
			overflow: visible;

			background-color: var(--conversations-bg-color);

			border-radius: 0 0 24px 24px;

			padding: 1em;
		}
	}
}

.comment-author-avatar {
	grid-area: avatar;
}

.comment-author-info {
	grid-area: info;
	grid-row: span 1;

	align-self: center;

	@include above(tablet) {
		grid-area: content;
	}
}

.comment-text,
.comment-footer {
	grid-area: content;
	grid-row: span 1;
}

.comment-author-info {
	display: grid;
	grid-template-areas:
        "info button";
}

.comment-author,
.comment-experience {
	grid-area: info;
	grid-row: span 1;
}

.comment-text > :not(:first-child) {
	margin-top: 1em;
}

.comment-form-comment {
	textarea {
		transform: translateY(calc(-1px * var(--comments-label-height)));
		transition: transform .25s ease;
	}
}

.comment-label__container--first {
	display: block;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity .45s ease;
}

.comment-form-details {
	transform: translateY(calc(-1px * var(--comments-label-height)));
	transition: transform .25s ease;
}

.form--is-open {

	.comment-label__container--first {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	textarea {
		transform: translateY(0);
	}

	.comment-form-details {
		transform: translateY(0);
	}
}

.comment-form[class] p:not(:last-child) {
	margin-bottom: 1em;
}

@include below(tablet) {
	.comment-form-details {
		grid-column: span 2 !important;
	}

	.comment-form-comment,
	.comment-form-details {
		grid-row: span 1;
	}

	.form--is-open {
		.comment-form-comment {
			grid-column: span 2 !important;
		}
	}

	.form-grid {
		grid-row-gap: var(--comments-grid-gap);
	}
}
