:root {
	--avatar-column-size: 45px;
	--comments-grid-gap: 10px;
	--component-accent-color: var(--novablocks-color-1);
	--novablocks-conversations-width: 48em;
	--field-description-color: #67616B;
	--conversations-bg-color: #E4E3E4;
	--comment-author-color: var(--novablocks-color-1);
	--comment-links-color: var(--novablocks-color-1);
	--comment-highlighted-color: #FFF2CE;
	--label-font-size: 15px;
	--label-bg-color: #9195AB;
	--label-highlighted-bg-color: #1479D2;
	--label-border-radius: 100px;
	--field-description-font-size: 13px;

	@include above(tablet) {
		--field-description-font-size: 16px;
		--label-font-size: 18px;
		--avatar-column-size: 50px;
		--comments-grid-gap: 20px;
	}
}

.novablocks-conversations {

	.comment-form {
		position: relative;

		p:empty {
			display: none;
		}

		label {
			font-size: var(--label-font-size);
			font-weight: bold;
		}

		.field-description {
			display: block;

			//font-size: var(--field-description-font-size);
			//color: var(--field-description-color);
		}
	}

	.comment-form-comment {
		margin-bottom: 0;

		.comment-fields-wrapper {
			padding-bottom: calc( var(--novablocks-spacing) * 0.25 );
		}
	}

	.comment-fields-wrapper--others {
		padding-top: calc( var(--novablocks-spacing) * 0.5 );
	}

	.novablocks-conversations__container > *,
	.parent > *,
	.comment-list > *,
	.comment-fields-wrapper,
	.comment-fields-wrapper > * {
		@include block-spacing;
	}

	.parent > *,
	.comment-fields-wrapper,
	.comment-fields-wrapper > * {
		--novablocks-element-spacing-multiplier: 0.5;
	}

	.comment-fields-wrapper > .field-description {
		--novablocks-element-spacing-multiplier: 0; // ??? possible
	}

	.comment-fields-wrapper > .field-description + *,
	.comment-fields-wrapper > label + :not(.field-description) {
		--novablocks-element-spacing-multiplier: 0.25;
	}

	.comment-author {
		font-weight: bold;
		//color: var(--comment-author-color);
	}

	.comment-posted-time,
	.reply {
		opacity: .5;
	}

	a {
		color: currentColor;
		text-decoration: underline;
	}

	.comment-edit-link,
	.comment-reply-link {
		margin-left: 1em;
	}

	.comment-list {

		.comment-respond {

			@include above(tablet) {
				padding-left: calc(var(--avatar-column-size) + var(--comments-grid-gap));
			}
		}
	}

	.avatar {
		max-width: 100%;
		height: auto;
		border-radius: 50%;
	}

	.form-grid {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: var(--comments-grid-gap);
		grid-auto-columns: 1fr;

		justify-content: stretch;
	}

	.comment-avatar {
		width: var(--avatar-column-size);

		//
		grid-row: 1 / span 2;
	}

	.form-grid > .comment-avatar ~ * {
		grid-column: 2 / 3;
	}

	.parent {

		@include above(tablet) {

			> .comment {
				padding-left: calc( var(--comments-grid-gap) + var(--avatar-column-size) );
			}
		}

		@include below(tablet) {
			--element-spacing: calc( var(--novablocks-spacing) * 0.5 );

			margin-left: calc( -1 * var(--site-container-spacings) );
			margin-right: calc( -1 * var(--site-container-spacings) );

			background-color: var(--novablocks-current-light-secondary);
			padding-bottom: var(--element-spacing);

			> .comment-body {
				padding-bottom: var(--element-spacing);
				background-color: var(--novablocks-current-light-primary);
				border-radius: 0 0 var(--element-spacing) var(--element-spacing);
			}

			> .comment,
			> .comment-body {
				padding-left: var(--site-container-spacings);
				padding-right: var(--site-container-spacings);
			}
		}
	}

	.comment-content {
		display: grid;
		grid-column-gap: var(--comments-grid-gap);
		grid-template-columns: var(--avatar-column-size) 1fr;

		// layout
		> * {
			grid-column: 2 / span 1;
		}

		> .comment-author-avatar {
			grid-row-start: 1;
			grid-column: 1 / span 1;
		}

		> .comment-author-info {
			grid-row-start: 1;
			grid-column: 2 / span 1;
		}

		// spacing
		> * {
			@include block-spacing;
			--novablocks-element-spacing-multiplier: 0.25;
		}

		> .comment-author-info {
			margin-top: 0;
		}
	}

	.depth-1 > .comment-body .comment-content {

		@include below(tablet) {

			> :not(.comment-author-avatar):not(.comment-author-info) {
				grid-column: 1 / span 2;
			}
		}
	}

	.comment-footer {
		display: flex;
		align-items: center;

		.reply {
			display: flex;
			align-items: center;

			a {
				margin-bottom: 0;
			}
		}
	}

	.comment--is-highlighted {

		> .comment-body {
			padding: 0;

			 > .comment-content {
				padding: 1em;
				//background-color: var(--comment-highlighted-color);

				@include above(tablet) {
					border-radius: 0 25px;
				}
			}
		}

		.experience-label {
			//--label-bg-color: var(--label-highlighted-bg-color);
		}
	}

	.comment {
		&.bypostauthor {
			.experience-label {
				--label-bg-color: var(--label-highlighted-bg-color);
				--label-border-radius: 0;
			}
		}
	}

	.comment-respond {
		display: flex;
		flex-direction: column;
	}

	[id="cancel-comment-reply-link"] {
		padding-left: calc(var(--avatar-column-size) + var(--comments-grid-gap));

		text-align: center;

		order: 2;
		opacity: .5;
	}

	textarea,
	input {
		width: 100%;
		display: block;
		min-height: auto;
	}

	.comment-respond {
		small {
			padding-left: 0;
		}
	}

	.form-submit {
		button {
			width: 100%;
		}
	}
}

.comment-author-avatar {
	grid-area: avatar;

	@include below(tablet) {
		align-self: center;
	}
}

.comment-author-info {
	align-self: center;
}

@include below(tablet) {

	.comment-form-details {
		grid-column: span 2 !important;
	}

	.comment-form-comment,
	.comment-form-details {
		grid-row: span 1;
	}

	.form-grid {
		grid-row-gap: var(--comments-grid-gap);
	}
}
