:root {
  --hero-master-dark: #000000;
  --hero-master-light: #FFFFFF;
  --hero-spacing: 10%;
  --hero-spacing-small: 5%;
  --hero-spacing-medium: 10%;
  --hero-spacing-large: 15%;
  --hero-content-width: 50%;
  --hero-content-width-full: 100%;
  --hero-content-width-large: 50%;
  --hero-content-width-narrow: 30%; }

.c-hero {
  position: relative;
  display: -ms-flexbox;
  display: flex; }

.c-hero__mask,
.c-hero__background,
.c-hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.c-hero__image[class] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto; }
  @supports (transform: translate(-50%, -50%)) {
    .c-hero__image[class] {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .c-hero__image[class] {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      left: 0;
      transform: none; } }

.c-hero--background-dark {
  --hero-background: var(--hero-master-dark); }

.c-hero--foreground-dark {
  --hero-foreground: var(--hero-master-dark); }

.c-hero--background-light {
  --hero-background: var(--hero-master-light); }

.c-hero--foreground-light {
  --hero-foreground: var(--hero-master-light); }

.c-hero__background {
  background: var(--hero-background);
  will-change: transform; }

.c-hero__foreground {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%; }
  .c-hero__foreground h1, .c-hero__foreground h2, .c-hero__foreground h3, .c-hero__foreground h4, .c-hero__foreground h5, .c-hero__foreground h6,
  .c-hero__foreground ul, .c-hero__foreground ol, .c-hero__foreground dl,
  .c-hero__foreground .editor-block-list__block[class] {
    color: inherit; }
  [class*="c-hero--spacing"] .c-hero__foreground {
    padding-top: var(--hero-spacing);
    padding-bottom: var(--hero-spacing);
    padding-left: var(--hero-spacing-small);
    padding-right: var(--hero-spacing-small); }
  .c-hero--spacing-small .c-hero__foreground {
    --hero-spacing: var(--hero-spacing-small); }
  .c-hero--spacing-medium .c-hero__foreground {
    --hero-spacing: var(--hero-spacing-medium); }
  .c-hero--spacing-large .c-hero__foreground {
    --hero-spacing: var(--hero-spacing-large); }

.c-hero__content-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex; }
  .c-hero--h-align-left .c-hero__content-wrapper {
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .c-hero--h-align-center .c-hero__content-wrapper {
    -ms-flex-pack: center;
        justify-content: center; }
  .c-hero--h-align-right .c-hero__content-wrapper {
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .c-hero--v-align-top .c-hero__content-wrapper {
    -ms-flex-align: start;
        align-items: flex-start; }
  .c-hero--v-align-center .c-hero__content-wrapper {
    -ms-flex-align: center;
        align-items: center; }
  .c-hero--v-align-bottom .c-hero__content-wrapper {
    -ms-flex-align: end;
        align-items: flex-end; }

[class*="c-hero--content-width"] .c-hero__content {
  max-width: var(--hero-content-width); }

.c-hero--content-width-full .c-hero__content {
  --hero-content-width: var(--hero-content-width-full); }

.c-hero--content-width-large .c-hero__content {
  --hero-content-width: var(--hero-content-width-large); }

.c-hero--content-width-narrow .c-hero__content {
  --hero-content-width: var(--hero-content-width-narrow); }

.c-hero__slider.slick-slider {
  position: absolute; }

.c-hero__slider .slick-list,
.c-hero__slider .slick-track {
  height: 100%; }

.c-hero__slide {
  position: relative;
  height: 100%; }

.pixelgrade-hero-horizontal-alignment-toolbar svg {
  transform: rotate(-90deg); }

.c-hero__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: inherit; }
  .c-hero__indicator:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid transparent;
    border-right-color: currentColor;
    border-bottom-color: currentColor;
    transform: translateY(-100%) rotate(45deg); }

.pixelgrade-hero-button-group-wrapper label + .components-button-group {
  margin-top: 5px; }

.pixelgrade-hero-button-group-wrapper .components-button-group {
  display: -ms-flexbox;
  display: flex; }
  .pixelgrade-hero-button-group-wrapper .components-button-group:not(:last-child) {
    margin-bottom: 10px; }
  .pixelgrade-hero-button-group-wrapper .components-button-group .components-button {
    padding: 1px 5px 3px;
    height: auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center; }

.pixelgrade-hero-block-toolbar svg {
  width: 20px;
  height: 20px; }

.pixelgrade-hero-block-toolbar-dropdown button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .pixelgrade-hero-block-toolbar-dropdown button:after {
    content: "";
    border: 0 solid transparent;
    border-width: 4px 3px 0;
    border-top-color: currentColor;
    margin-left: 4px; }
