.nova-hero {
  position: relative;
  display: -ms-flexbox;
  display: flex; }

.nova-hero__mask,
.nova-hero__background,
.nova-hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nova-hero__media[class] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto; }
  @supports (transform: translate(-50%, -50%)) {
    .nova-hero__media[class] {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .nova-hero__media[class] {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      left: 0;
      transform: none; } }

.nova-hero__foreground {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%; }
  .nova-hero__foreground h1, .nova-hero__foreground h2, .nova-hero__foreground h3, .nova-hero__foreground h4, .nova-hero__foreground h5, .nova-hero__foreground h6,
  .nova-hero__foreground ul, .nova-hero__foreground ol, .nova-hero__foreground dl,
  .nova-hero__foreground .editor-block-list__block[class] {
    color: inherit; }

.nova-hero__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: inherit; }
  .nova-hero__indicator:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid transparent;
    border-right-color: currentColor;
    border-bottom-color: currentColor;
    transform: translateY(-100%) rotate(45deg); }

.components-nova--popover.components-popover:not(.is-mobile) .components-popover__content {
  padding: 16px; }

:root {
  --blocks-spacing: -2em; }

.alignfull.nova-hero + .alignfull.nova-hero {
  margin-top: var(--blocks-spacing); }

@media only screen and (min-width: 768px) {
  .entry .entry-content {
    --blocks-spacing: calc(-2 * 1rem); }
    .entry .entry-content .alignfull.nova-hero + .entry .entry-content .alignfull.nova-hero {
      margin-top: var(--blocks-spacing); } }

.pixelgrade-hero-block-toolbar svg {
  width: 20px;
  height: 20px; }

.pixelgrade-hero-block-toolbar-dropdown button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .pixelgrade-hero-block-toolbar-dropdown button:after {
    content: "";
    border: 0 solid transparent;
    border-width: 4px 3px 0;
    border-top-color: currentColor;
    margin-left: 4px; }
