@charset "UTF-8";
:root {
  --hero-master-dark: #000000;
  --hero-master-light: #FFFFFF; }

.c-hero {
  position: relative;
  display: -ms-flexbox;
  display: flex; }

.c-hero__mask,
.c-hero__background,
.c-hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.c-hero__image[class] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto; }
  @supports (transform: translate(-50%, -50%)) {
    .c-hero__image[class] {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .c-hero__image[class] {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      left: 0;
      transform: none; } }

.c-hero--background-dark {
  --hero-background: var(--hero-master-dark); }

.c-hero--foreground-dark {
  --hero-foreground: var(--hero-master-dark); }

.c-hero--background-light {
  --hero-background: var(--hero-master-light); }

.c-hero--foreground-light {
  --hero-foreground: var(--hero-master-light); }

.c-hero__background {
  background: var(--hero-background);
  will-change: transform; }

.c-hero__foreground {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%; }
  .c-hero__foreground h1, .c-hero__foreground h2, .c-hero__foreground h3, .c-hero__foreground h4, .c-hero__foreground h5, .c-hero__foreground h6,
  .c-hero__foreground ul, .c-hero__foreground ol, .c-hero__foreground dl,
  .c-hero__foreground .editor-block-list__block[class] {
    color: inherit; }
  .c-hero--spacing-small .c-hero__foreground {
    padding: 20px; }
  .c-hero--spacing-medium .c-hero__foreground {
    padding: 40px; }
  .c-hero--spacing-large .c-hero__foreground {
    padding: 60px; }

.c-hero--h-align-left .c-hero__foreground {
  -ms-flex-pack: start;
      justify-content: flex-start; }

.c-hero--h-align-center .c-hero__foreground {
  -ms-flex-pack: center;
      justify-content: center; }

.c-hero--h-align-right .c-hero__foreground {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.c-hero--v-align-top .c-hero__foreground {
  -ms-flex-align: start;
      align-items: flex-start; }

.c-hero--v-align-center .c-hero__foreground {
  -ms-flex-align: center;
      align-items: center; }

.c-hero--v-align-bottom .c-hero__foreground {
  -ms-flex-align: end;
      align-items: flex-end; }

.c-hero--content-width-full .c-hero__content {
  max-width: 100%; }

.c-hero--content-width-large .c-hero__content {
  max-width: 50%; }

.c-hero--content-width-narrow .c-hero__content {
  max-width: 25%; }

.c-hero__slider.slick-slider {
  position: absolute; }

.c-hero__slider .slick-list,
.c-hero__slider .slick-track {
  height: 100%; }

.c-hero__slide {
  position: relative;
  height: 100%; }

.pixelgrade-hero-horizontal-alignment-toolbar svg {
  transform: rotate(-90deg); }

.c-hero__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.pixelgrade-hero-button-group-wrapper label + .components-button-group {
  margin-top: 5px; }

.pixelgrade-hero-button-group-wrapper .components-button-group {
  display: -ms-flexbox;
  display: flex; }
  .pixelgrade-hero-button-group-wrapper .components-button-group:not(:last-child) {
    margin-bottom: 10px; }
  .pixelgrade-hero-button-group-wrapper .components-button-group .components-button {
    padding: 1px 5px 3px;
    height: auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 9999;
  display: block;
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0px;
  line-height: 0px;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  cursor: pointer; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 25px; }
  .slick-prev:before {
    content: "←"; }

.slick-next {
  right: 25px; }
  .slick-next:before {
    content: "→"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }
