.nova-hero {
  position: relative;
  display: -ms-flexbox;
  display: flex; }

.nova-hero__mask,
.nova-hero__background,
.nova-hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nova-hero__media[class] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto; }
  @supports (transform: translate(-50%, -50%)) {
    .nova-hero__media[class] {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .nova-hero__media[class] {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      left: 0;
      transform: none; } }

.nova-hero__foreground {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%; }
  .nova-hero__foreground h1, .nova-hero__foreground h2, .nova-hero__foreground h3, .nova-hero__foreground h4, .nova-hero__foreground h5, .nova-hero__foreground h6,
  .nova-hero__foreground ul, .nova-hero__foreground ol, .nova-hero__foreground dl,
  .nova-hero__foreground .editor-block-list__block[class] {
    color: inherit; }

.nova-hero__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: inherit; }
  .nova-hero__indicator:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid transparent;
    border-right-color: currentColor;
    border-bottom-color: currentColor;
    transform: translateY(-100%) rotate(45deg); }

.components-nova--popover.components-popover:not(.is-mobile) .components-popover__content {
  padding: 16px; }

.wp-block-pixelgrade-hero, .wp-block-pixelgrade-hero * {
  transition: all 0.4s ease; }

.pixelgrade-hero-block-toolbar svg {
  width: 20px;
  height: 20px; }

.pixelgrade-hero-block-toolbar-dropdown button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .pixelgrade-hero-block-toolbar-dropdown button:after {
    content: "";
    border: 0 solid transparent;
    border-width: 4px 3px 0;
    border-top-color: currentColor;
    margin-left: 4px; }
:root {
  --nova-media-white: #FFFFFF;
  --nova-media-gray: #EEF1F2;
  --nova-media-gray-darkest: #272743;
  --nova-media-blue: #203AB6;
  --nova-media-blue-dark: #323067;
  --nova-media-blue-darker: #000043;
  --nova-media-spacing-unit: 56px; }
  @media not screen and (min-width: 1024px) {
    :root {
      --nova-media-mobile-spacing-unit: 28px; } }

.wp-block-pixelgrade-media {
  --nova-media-text-color: var(--nova-media-gray-darkest);
  --nova-media-titles-color: var(--nova-media-blue-dark);
  --nova-media-subtitles-color: var(--nova-media-blue);
  --nova-media-background-color: transparent;
  --nova-media-padding: 0;
  --nova-media-content-padding: 0;
  --nova-media-content-background-color: transparent;
  --nova-media-content-box-shadow: none; }

.nova-media {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: var(--nova-media-spacing-unit);
  padding-top: var(--nova-media-padding);
  padding-bottom: var(--nova-media-padding); }
  .nova-media h1, .nova-media h3, .nova-media h3 {
    color: var(--nova-media-titles-color); }
  .nova-media h4, .nova-media h5, .nova-media h6 {
    color: var(--nova-media-subtitles-color); }
  .nova-media p {
    color: var(--nova-media-text-color); }
  .nova-media:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50vw;
    right: -50vw;
    z-index: -1;
    display: block;
    height: 100%;
    background-color: var(--nova-media-background-color); }

.block-is-moderate,
.block-is-highlighted {
  --nova-media-padding: var(--nova-media-spacing-unit); }

.block-is-moderate {
  --nova-media-background-color: var(--nova-media-gray); }

.block-is-highlighted {
  --nova-media-background-color: var(--nova-media-blue-darker); }

.content-is-moderate,
.content-is-highlighted {
  --nova-media-content-padding: var(--nova-media-spacing-unit); }

.content-is-moderate,
.content-is-highlighted.block-is-highlighted {
  --nova-media-content-background-color: var(--nova-media-white);
  --nova-media-content-box-shadow: 0 32px 128px rgba(42, 54, 52, 0.1), 0 16px 64px rgba(42, 54, 52, 0.1), 0 8px 16px rgba(42, 54, 52, 0.1); }

.content-is-moderate.block-is-highlighted {
  --nova-media-content-background-color: rgba(255, 255, 255, 0.2); }

.block-is-highlighted:not(.content-is-highlighted),
.content-is-highlighted:not(.block-is-highlighted) {
  --nova-media-text-color: var(--nova-media-white);
  --nova-media-titles-color: var(--nova-media-text-color);
  --nova-media-subtitles-color: var(--nova-media-text-color); }

.content-is-highlighted:not(.block-is-highlighted) {
  --nova-media-content-background-color: var(--nova-media-blue-darker); }

.nova-media__content {
  padding: var(--nova-media-content-padding);
  background-color: var(--nova-media-content-background-color);
  box-shadow: var(--nova-media-content-box-shadow);
  z-index: 2; }
  .content-is-moderate .nova-media__content {
    margin-bottom: var(--nova-media-mobile-spacing-unit); }
  .content-is-highlighted .nova-media__content {
    margin-top: var(--nova-media-mobile-spacing-unit); }

.nova-media__aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  grid-gap: 15px;
  min-height: 400px; }
  .is-simple-grid .nova-media__aside img,
  .is-overlap-grid .nova-media__aside img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto; }
    @supports (transform: translate(-50%, -50%)) {
      .is-simple-grid .nova-media__aside img,
      .is-overlap-grid .nova-media__aside img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
      .is-simple-grid .nova-media__aside img,
      .is-overlap-grid .nova-media__aside img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        top: 0;
        left: 0;
        transform: none; } }
  @media only screen and (min-width: 1024px) {
    .has-image-on-the-right .nova-media__aside {
      -ms-flex-order: 2;
          order: 2; } }

.nova-media__image {
  position: relative;
  -ms-grid-column: span 6;
      grid-column: span 6;
  -ms-grid-row: span 6;
      grid-row: span 6; }
  .nova-media__image:nth-child(n+5) {
    display: none; }

@media not screen and (min-width: 1024px) {
  .nova-media__content {
    -ms-grid-column: span 2;
        grid-column: span 2; }
  .nova-media__aside {
    -ms-grid-column: span 2;
        grid-column: span 2;
    -ms-flex-order: 2;
        order: 2; } }

.nova-media__image:first-child:last-child,
.nova-media__placeholder {
  -ms-grid-column: span 12;
      grid-column: span 12;
  -ms-grid-row: span 12;
      grid-row: span 12; }

.nova-media__image:first-child:nth-last-child(2) ~ *,
.nova-media__image:first-child:nth-last-child(2) {
  -ms-grid-column: span 6;
      grid-column: span 6;
  -ms-grid-row: span 12;
      grid-row: span 12; }

.nova-media__image:nth-last-child(3):first-child {
  -ms-grid-column-span: 6;
  -ms-grid-column: 1;
      grid-column: 1 / span 6;
  -ms-grid-row-span: 6;
  -ms-grid-row: 1;
      grid-row: 1/ span 6; }

.nova-media__image:nth-last-child(3):first-child ~ .nova-media__image:nth-child(2) {
  -ms-grid-column-span: 6;
  -ms-grid-column: 7;
      grid-column: 7 / span 6;
  -ms-grid-row-span: 6;
  -ms-grid-row: 1;
      grid-row: 1/ span 6; }

.nova-media__image:nth-last-child(3):first-child ~ .nova-media__image:last-child {
  -ms-grid-column-span: 12;
  -ms-grid-column: 1;
      grid-column: 1 / span 12;
  -ms-grid-row-span: 6;
  -ms-grid-row: 7;
      grid-row: 7 / span 6; }

.wp-block-pixelgrade-media[class][class] {
  margin: 0; }

[class*="block-is"] + [class*="block-is"] .nova-media {
  padding-top: 0; }

.wp-block-pixelgrade-media:not([class*="block-is"]) + .wp-block-pixelgrade-media:not([class*="block-is"]) .nova-media {
  margin-top: var(--nova-media-spacing-unit); }

.wp-block-pixelgrade-media:not([class*="block-is"]) + [class*="block-is"] {
  margin-top: var(--nova-media-spacing-unit); }

[class*="block-is-moderate"] + [class*="block-is-highlighted"] .nova-media {
  padding-top: var(--nova-media-spacing-unit); }

.nova-media__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%;
  background-color: #EEEEEE; }

.wp-block-pixelgrade-media * {
  transition: all 0.4s ease; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL2Fzc2V0cy9jc3MvYmxvY2tzLmVkaXRvci5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/