@charset "UTF-8";
:root {
  --nova-color-1: #203AB6;
  --nova-color-2: #FFE42E;
  --nova-color-3: #FFE42E;
  --nova-dark-1: #000043;
  --nova-dark-2: #272743;
  --nova-dark-3: #323067;
  --nova-light-1: #FFFFFF;
  --nova-light-2: #EEF1F2;
  --nova-light-3: #EEF1F2;
  --nova-spacing-unit: 56px; }

.nova-hero {
  position: relative;
  display: -ms-flexbox;
  display: flex; }

.nova-hero__mask,
.nova-hero__background,
.nova-hero__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nova-hero__media[class] {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto; }
  @supports (transform: translate(-50%, -50%)) {
    .nova-hero__media[class] {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .nova-hero__media[class] {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      left: 0;
      transform: none; } }

.nova-hero__foreground {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%; }
  .nova-hero__foreground h1, .nova-hero__foreground h2, .nova-hero__foreground h3, .nova-hero__foreground h4, .nova-hero__foreground h5, .nova-hero__foreground h6,
  .nova-hero__foreground ul, .nova-hero__foreground ol, .nova-hero__foreground dl,
  .nova-hero__foreground .editor-block-list__block[class] {
    color: inherit; }

.nova-hero__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: inherit; }
  .nova-hero__indicator:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border: 2px solid transparent;
    border-right-color: currentColor;
    border-bottom-color: currentColor;
    transform: translateY(-100%) rotate(45deg); }

.components-nova--popover.components-popover:not(.is-mobile) .components-popover__content {
  padding: 16px; }

.wp-block-pixelgrade-media {
  margin-left: auto;
  margin-right: auto;
  --nova-media-padding: 0; }

.nova-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-column-gap: var(--nova-spacing-unit);
  padding-top: var(--nova-media-padding);
  padding-bottom: var(--nova-media-padding); }

.wp-block-pixelgrade-media {
  --nova-media-text-color: var(--nova-dark-2);
  --nova-media-titles-color: var(--nova-dark-3);
  --nova-media-subtitles-color: var(--nova-color-1);
  --nova-media-background-color: transparent;
  --nova-media-content-padding: 0;
  --nova-media-content-background-color: transparent;
  --nova-media-content-box-shadow: none; }

.nova-media {
  color: var(--nova-media-text-color); }
  .nova-media h1, .nova-media h3, .nova-media h3 {
    color: var(--nova-media-titles-color); }
  .nova-media h4, .nova-media h5, .nova-media h6 {
    color: var(--nova-media-subtitles-color); }

.nova-media {
  position: relative;
  transform: translateZ(0); }
  .nova-media:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50vw;
    right: -50vw;
    z-index: -1;
    display: block;
    height: 100%;
    background-color: var(--nova-media-background-color); }

.block-is-moderate,
.block-is-highlighted {
  --nova-media-padding: var(--nova-spacing-unit); }

.block-is-moderate {
  --nova-media-background-color: var(--nova-light-2); }

.block-is-highlighted {
  --nova-media-background-color: var(--nova-dark-1); }

.content-is-moderate,
.content-is-highlighted {
  --nova-media-content-padding: var(--nova-spacing-unit); }

.content-is-moderate,
.content-is-highlighted.block-is-highlighted {
  --nova-media-content-background-color: var(--nova-light-1);
  --nova-media-content-box-shadow: 0 32px 128px rgba(42, 54, 52, 0.1), 0 16px 64px rgba(42, 54, 52, 0.1), 0 8px 16px rgba(42, 54, 52, 0.1); }

.content-is-moderate.block-is-highlighted {
  --nova-media-content-background-color: rgba(255, 255, 255, 0.2); }

.block-is-highlighted:not(.content-is-highlighted),
.content-is-highlighted:not(.block-is-highlighted) {
  --nova-media-text-color: var(--nova-light-1);
  --nova-media-titles-color: var(--nova-media-text-color);
  --nova-media-subtitles-color: var(--nova-media-text-color); }

.content-is-highlighted:not(.block-is-highlighted) {
  --nova-media-content-background-color: var(--nova-dark-1); }

.nova-media__content {
  padding: var(--nova-media-content-padding);
  background-color: var(--nova-media-content-background-color);
  box-shadow: var(--nova-media-content-box-shadow);
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2; }
  @media not screen and (min-width: 1024px) {
    .nova-media__content {
      -ms-grid-column: span 2;
          grid-column: span 2; } }

.nova-media__aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  min-height: 400px; }
  @media only screen and (min-width: 1024px) {
    .has-image-on-the-right .nova-media__aside {
      -ms-flex-order: 2;
          order: 2; } }
  @media not screen and (min-width: 1024px) {
    .nova-media__aside {
      -ms-grid-column: span 2;
          grid-column: span 2;
      -ms-flex-order: 2;
          order: 2; } }

.nova-media__image {
  position: relative;
  -ms-grid-column: span 6;
      grid-column: span 6; }
  .nova-media__image img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto; }
    @supports (transform: translate(-50%, -50%)) {
      .nova-media__image img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @supports ((-o-object-fit: cover) or (object-fit: cover)) {
      .nova-media__image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        top: 0;
        left: 0;
        transform: none; } }

.nova-media__image:first-child:last-child,
.nova-media__placeholder {
  -ms-grid-column: span 12;
      grid-column: span 12; }

.nova-media__image:first-child:nth-last-child(3) {
  -ms-grid-column-span: 6;
  -ms-grid-column: 1;
      grid-column: 1 / span 6; }
  .nova-media__image:first-child:nth-last-child(3) ~ .nova-media__image:nth-child(2) {
    -ms-grid-column-span: 6;
    -ms-grid-column: 7;
        grid-column: 7 / span 6; }
  .nova-media__image:first-child:nth-last-child(3) ~ .nova-media__image:last-child {
    -ms-grid-column-span: 12;
    -ms-grid-column: 1;
        grid-column: 1 / span 12; }

.nova-media__image:nth-child(n+5) {
  display: none; }

[class*="block-is"] + [class*="block-is"] .nova-media {
  padding-top: 0; }

.wp-block-pixelgrade-media:not([class*="block-is"]) + .wp-block-pixelgrade-media:not([class*="block-is"]) .nova-media {
  margin-top: var(--nova-media-spacing-unit); }

.wp-block-pixelgrade-media:not([class*="block-is"]) + [class*="block-is"] {
  margin-top: var(--nova-media-spacing-unit); }

[class*="block-is-moderate"] + [class*="block-is-highlighted"] .nova-media {
  padding-top: var(--nova-media-spacing-unit); }

.nova-slideshow {
  position: relative; }

.nova-slideshow__slide {
  position: relative;
  overflow: hidden; }

.editor-block-list__block-edit[class][class] .nova-slideshow__slider,
.editor-block-list__block-edit[class][class] .nova-slideshow__slide,
.editor-block-list__block-edit[class][class] .nova-slideshow__content {
  position: static; }

.editor-block-list__block-edit[class][class] .nova-slideshow__slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }

.nova-slideshow.is-ready .nova-slideshow__slider,
.nova-slideshow.is-ready .nova-slideshow__mask,
.nova-slideshow.is-ready .nova-slideshow__foreground,
.nova-slideshow.is-ready .nova-slideshow__content,
.nova-slideshow.is-ready .nova-slideshow__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nova-slideshow__background,
.nova-slideshow__foreground {
  will-color: transform; }

.nova-slideshow__media {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  width: auto;
  height: auto; }
  @supports (transform: translate(-50%, -50%)) {
    .nova-slideshow__media {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .nova-slideshow__media {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      top: 0;
      left: 0;
      transform: none; } }

.nova-slideshow__gallery-edit {
  --gallery-spacing: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc( -1 * var(--gallery-spacing));
  margin-left: calc( -1 * var(--gallery-spacing)); }
  .nova-slideshow__gallery-edit > * {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    padding-top: var(--gallery-spacing);
    padding-left: var(--gallery-spacing); }

.nova-slideshow__slider {
  z-index: 100; }

.nova-slideshow__controls {
  z-index: 200; }

.nova-slideshow__arrow {
  --arrow-width: 2px;
  --arrow-color: #555555;
  --arrow-background: #FFFFFF;
  position: absolute;
  top: 50%;
  z-index: 999;
  width: 22px;
  height: 24px;
  background: var(--arrow-background);
  border-radius: 3px; }
  .nova-slideshow__arrow:not(.nova-slideshow__arrow--disabled) {
    cursor: pointer; }
  .nova-slideshow__arrow:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px; }

.nova-slideshow__arrow--prev {
  left: 10px; }
  .nova-slideshow__arrow--prev:before {
    border-top: var(--arrow-width) solid var(--arrow-color);
    border-left: var(--arrow-width) solid var(--arrow-color);
    transform: translate(-30%, -50%) rotate(-45deg); }

.nova-slideshow__arrow--next {
  right: 10px; }
  .nova-slideshow__arrow--next:before {
    border-top: var(--arrow-width) solid var(--arrow-color);
    border-right: var(--arrow-width) solid var(--arrow-color);
    transform: translate(-70%, -50%) rotate(45deg); }

.nova-slideshow__gallery-item {
  border-radius: 4px;
  border: 1px solid #EBEBEB;
  padding: 4px;
  cursor: pointer; }
  .nova-slideshow__gallery-item img {
    display: block; }

.nova-slideshow__gallery-item--active {
  border-width: 2px;
  border-color: #0085BA;
  padding: 3px; }

.nova-slideshow .slick-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.nova-slideshow .slick-list,
.nova-slideshow .slick-track {
  height: 100%; }

.nova-slideshow .slick-slide {
  opacity: 1 !important; }

.nova-blocks-slideshow-type-panel .block-editor-media-placeholder .components-placeholder__label,
.nova-blocks-slideshow-type-panel .block-editor-media-placeholder .block-editor-media-placeholder__button {
  display: none; }

.nova-blocks-slideshow-type-panel .block-editor-media-placeholder .editor-media-placeholder__media-library-button {
  padding-left: 12px;
  text-indent: -999em; }
  .nova-blocks-slideshow-type-panel .block-editor-media-placeholder .editor-media-placeholder__media-library-button:after {
    content: 'Edit Gallery';
    text-indent: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 9999;
  display: block;
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  outline: none;
  font-size: 0px;
  line-height: 0px;
  background: transparent;
  color: transparent;
  transform: translate(0, -50%);
  cursor: pointer; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 25px; }
  .slick-prev:before {
    content: "←"; }

.slick-next {
  right: 25px; }
  .slick-next:before {
    content: "→"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.pixelgrade-hero-button-group-wrapper label + .components-button-group {
  margin-top: 5px; }

.pixelgrade-hero-button-group-wrapper .components-button-group {
  display: -ms-flexbox;
  display: flex; }
  .pixelgrade-hero-button-group-wrapper .components-button-group:not(:last-child) {
    margin-bottom: 10px; }
  .pixelgrade-hero-button-group-wrapper .components-button-group .components-button {
    padding: 1px 5px 3px;
    height: auto;
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center; }

.pixelgrade-hero-horizontal-alignment-button svg {
  transform: rotate(-90deg); }

.u-container-width {
  margin-left: auto;
  margin-right: auto; }
:root {
  --nova-spacing: 10%;
  --nova-spacing-small: 5%;
  --nova-spacing-medium: 10%;
  --nova-spacing-large: 15%;
  --nova-content-width-full: 100%;
  --nova-content-width-large: 70%;
  --nova-content-width-narrow: 30%; }

.nova-u-content-width {
  --nova-content-width: var(--nova-content-width-full);
  max-width: var(--nova-content-width); }
  .nova-u-content-width-full .nova-u-content-width {
    --nova-content-width: var(--nova-content-width-full); }
  .nova-u-content-width-large .nova-u-content-width {
    --nova-content-width: var(--nova-content-width-large); }
  .nova-u-content-width-narrow .nova-u-content-width {
    --nova-content-width: var(--nova-content-width-narrow); }

.nova-u-content-padding {
  padding: var(--nova-spacing) var(--nova-spacing-small); }
  .nova-u-spacing-small .nova-u-content-padding {
    --nova-spacing: var(--nova-spacing-small); }
  .nova-u-spacing-medium .nova-u-content-padding {
    --nova-spacing: var(--nova-spacing-medium); }
  .nova-u-spacing-large .nova-u-content-padding {
    --nova-spacing: var(--nova-spacing-large); }
:root {
  --bg-master-dark: #000000;
  --bg-master-light: #FFFFFF; }

.nova-u-background-dark {
  --element-background: var(--bg-master-dark); }

.nova-u-background-light {
  --element-background: var(--bg-master-light); }

.nova-u-background {
  background: var(--element-background); }

.nova-hide-clear-color .components-color-palette__custom-color {
  margin-right: 0; }

.nova-hide-clear-color .components-color-palette__clear {
  display: none; }
.nova-u-content-align {
  position: relative;
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex; }
  .nova-u-halign-left .nova-u-content-align {
    -ms-flex-pack: start;
        justify-content: flex-start;
    text-align: left; }
  .nova-u-halign-center .nova-u-content-align {
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center; }
  .nova-u-halign-right .nova-u-content-align {
    -ms-flex-pack: end;
        justify-content: flex-end;
    text-align: right; }
  .nova-u-valign-top .nova-u-content-align {
    -ms-flex-align: start;
        align-items: flex-start; }
  .nova-u-valign-center .nova-u-content-align {
    -ms-flex-align: center;
        align-items: center; }
  .nova-u-valign-bottom .nova-u-content-align {
    -ms-flex-align: end;
        align-items: flex-end; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL2Fzc2V0cy9jc3MvYmxvY2tzLnN0eWxlLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/