:root {
	--nb-spacing: 24px;
	--nb-media-background-direction: 90deg;

  --nb-wrapper-sides-spacings: var(--nb-spacing);

	--nb-transition-duration: 0.5s;
	--nb-transition-easing: ease;
	--nb-transition: all var(--nb-transition-duration) var(--nb-transition-easing);

  --nb-spacing-base: 1;
	--nb-spacing-level-1-multiplier: 1;
	--nb-spacing-level-2-multiplier: 0.5;
	--nb-spacing-level-3-multiplier: 0.25;
	--nb-spacing-level-4-multiplier: 0.125;
  --nb-spacing-current-level-multiplier: var(--nb-spacing-level-1-multiplier);

	--nb-block-content-box-shadow:
		0 32px 128px rgba(42, 54, 52, 0.1),
		0 16px 64px rgba(42, 54, 52, 0.1),
		0 8px 16px rgba(42, 54, 52, 0.1);
}

* {
  --nb-bg-color: var(--sm-current-bg-color, #FFFFFF);
  --nb-accent-color: var(--sm-current-accent-color, #203AB6);
  --nb-fg1-color: var(--sm-current-fg1-color, #272743);
  --nb-fg2-color: var(--sm-current-fg2-color, #000043);

  --nb-spacing-current-multiplier: calc(var(--nb-spacing-base) * var(--nb-spacing-current-level-multiplier));
  --nb-current-spacing: calc(var(--nb-spacing) * var(--nb-spacing-current-multiplier));
}

:is(
  .supernova,
  .novablocks-media,
  .novablocks-hero,
  .novablocks-slideshow,
  .wp-block-group,
  .wp-block-columns
) {
  --nb-spacing-base: 2;
}

:is(
  .supernova__inner-container
) {
  --nb-spacing-base: 1;
}
