.novablocks-block-editor-map-styles {

	.block-editor-block-styles__item {
		padding: 6px;
	}

	.block-editor-block-styles__item-preview {
		padding: 0;
		margin: 0;

		img {
			display: block;
			max-width: 100%;
		}
	}
}

.novablocks-map__map-container {

	&:after {
		content: "";
		@include cover;
		z-index: 5;
	}
}

.novablocks-map__search-box {

	.components-placeholder {
		min-height: 0;
		margin-bottom: 5px;
	}

	.components-placeholder__label:empty {
		display: none;
	}

	.components-placeholder__fieldset {

		input {
			display: block;
			width: 100%;
		}
	}
}
