.novablocks-map__map-container {
	position: relative;
	padding-top: 100%;

	@include above(tablet) {
		padding-top: percentage(3/4);
	}

	@include above(desktop) {
		padding-top: percentage(9/16);
	}
}

.novablocks-map__parallax {
	will-change: transform;
}

.novablocks-map__map,
.novablocks-map__mask,
.novablocks-map__parallax {
	@include cover;
}
