.novablocks-sections {
  border-top: 1px solid #e2e4e7; }

.novablocks-sections__header {
  position: relative;
  padding: 16px; }
  .novablocks-sections__header .novablocks-sections__title {
    padding-top: 8px; }
  .novablocks-sections__header + .novablocks-drawers__list {
    margin-top: -16px; }

.novablocks-sections__title {
  color: #191e23;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 0 8px; }

.novablocks-sections__button {
  position: relative;
  padding: 12px 16px;
  border-radius: 5px;
  font-weight: 600;
  background: #f2f2f2;
  color: #9195AB;
  cursor: pointer; }
  .novablocks-sections__button + .novablocks-sections__button {
    margin-top: 6px; }
  .novablocks-sections__button:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    display: block;
    width: 10px;
    height: 10px;
    border: 0 solid currentColor;
    border-top-width: 2px;
    border-right-width: 2px; }
  .novablocks-sections__button:hover {
    color: #2A2136; }

:root {
  --novablocks-red: #DE1651;
  --novablocks-green: #00CAB6;
  --novablocks-purple: #8E65C0; }

.novablocks-sections__cube {
  position: absolute;
  top: 50%;
  right: 30px; }

.novablocks-sections__cube-face {
  position: absolute;
  height: 15px;
  width: 15px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0; }

.novablocks-sections__cube-face--top {
  -webkit-transform: translateY(-2px) rotate(210deg) skewX(-30deg) scaleY(0.864);
          transform: translateY(-2px) rotate(210deg) skewX(-30deg) scaleY(0.864);
  background: var(--novablocks-purple); }

.novablocks-sections__cube-face--left {
  -webkit-transform: translateX(-1px) rotate(90deg) skewX(-30deg) scaleY(0.864);
          transform: translateX(-1px) rotate(90deg) skewX(-30deg) scaleY(0.864);
  background: var(--novablocks-red); }

.novablocks-sections__cube-face--right {
  -webkit-transform: translateX(1px) rotate(-30deg) skewX(-30deg) scaleY(0.864);
          transform: translateX(1px) rotate(-30deg) skewX(-30deg) scaleY(0.864);
  background: var(--novablocks-green); }

.novablocks-section__controls {
  --novablocks-section-controls-accent: var(--novablocks-red); }
  .novablocks-section__controls input[type="checkbox"]:checked,
  .novablocks-section__controls input[type="radio"]:checked {
    background: var(--novablocks-section-controls-accent);
    border-color: var(--novablocks-section-controls-accent); }
  .novablocks-section__controls .components-form-toggle.is-checked .components-form-toggle__track {
    background: var(--novablocks-section-controls-accent); }
  .novablocks-section__controls .components-range-control__track {
    color: var(--novablocks-section-controls-accent); }
  .novablocks-section__controls .components-button.is-primary, .novablocks-section__controls .components-button.is-primary:not(:disabled):not([aria-disabled="true"]):hover, .novablocks-section__controls .components-button.is-primary:focus:enabled {
    background: var(--novablocks-section-controls-accent);
    border-color: var(--novablocks-section-controls-accent); }
  .novablocks-section__controls .components-button.is-primary:disabled {
    color: rgba(255, 255, 255, 0.5); }
  .novablocks-section__controls .components-button.is-secondary {
    color: #545d66;
    border-color: #e2e4e7; }
    .novablocks-section__controls .components-button.is-secondary:not(:disabled):not([aria-disabled="true"]):hover {
      color: #191e24;
      border-color: #e2e4e7;
      background: #FFFFFF; }

.novablocks-section__controls--customize {
  --novablocks-section-controls-accent: var(--novablocks-green); }

.novablocks-section__controls--general {
  --novablocks-section-controls-accent: var(--novablocks-purple); }

.novablocks-sections__controls-header {
  position: relative;
  padding: 20px 16px;
  font-size: 16px;
  text-align: center;
  background-color: var(--novablocks-section-controls-accent);
  color: #FFFFFF; }

.novablocks-sections__controls-back {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 20px;
  cursor: pointer; }
  .novablocks-sections__controls-back:before, .novablocks-sections__controls-back:after {
    content: "";
    border: 0 solid #FFFFFF;
    position: absolute; }
  .novablocks-sections__controls-back:before {
    top: 50%;
    left: 4px;
    width: 13px;
    border-top-width: 2px;
    margin-top: -1px; }
  .novablocks-sections__controls-back:after {
    top: 50%;
    left: 1px;
    width: 9px;
    height: 9px;
    border-top-width: 2px;
    border-left-width: 2px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0; }

.novablocks-sections__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--novablocks-section-controls-accent);
  color: #FFFFFF;
  padding: 0 16px; }

.novablocks-sections__tab {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  cursor: pointer; }

.novablocks-sections__tab--active {
  background-color: #FFFFFF;
  color: #555D66; }

.novablocks-sections__tab-content {
  padding: 16px; }
  .novablocks-sections__tab-content .components-panel__body {
    margin-left: -16px;
    margin-right: -16px; }

.novablocks-controls-wrap:not(:last-child) {
  margin-bottom: 24px; }

.novablocks-controls-wrap--dirty {
  --novablocks-section-controls-accent: #919191;
  opacity: 0.5; }

.novablocks-panel {
  position: relative; }

.novablocks-subpanel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%; }
