@function get-colors( $variation ) {
  $textIsWhite: $variation > 5;
  $textLightColor: var(--novablocks-current-color-0);
  $textDarkColor: var(--novablocks-current-text-color-1);
  $textDarkerColor: var(--novablocks-current-text-color-2);

  @if $variation >= 4 {
    $textDarkColor: var(--novablocks-current-text-color-2);
  }

  $accentIndex: 5;

  @if $variation > 1 {
    $accentIndex: $variation + 4;
  }

  $text: $textDarkColor;
  $titles: $textDarkerColor;
  $accent: var(--novablocks-current-color-#{ $accentIndex });

  @if ( $textIsWhite ) {
    $accent: $textLightColor;
    $text: $textLightColor;
    $titles: $textLightColor;
  }

  $map: (
    accent: $accent,
    text: $text,
    titles: $titles,
    background: var(--novablocks-current-color-#{ $variation })
  );

  @return $map
}

@function get-color( $source, $variation: 0 ) {
  $colors: get-colors( $variation );
  $color: map-get( $colors, $source );

  @return $color;
}
