@import "../../../assets/scss/mixins";

.nova-hero {
    position: relative;
    display: flex;
}

.nova-hero__mask,
.nova-hero__background,
.nova-hero__slider {
    @include cover;
}

.nova-hero__media[class] {
    @include image-cover;
}

.nova-hero__foreground {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1, h2, h3, h4, h5, h6,
    ul, ol, dl,
    .editor-block-list__block[class] {
        color: inherit;
    }
}

.nova-hero__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    color: inherit;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 12px;
        border: 2px solid transparent;
        border-right-color: currentColor;
        border-bottom-color: currentColor;

        transform: translateY(-100%) rotate(45deg);
    }
}

.components-nova--popover {
    &.components-popover {
        &:not(.is-mobile) {
            .components-popover__content {
                // min-width: 260px;
                padding: 16px;
            }
        }
    }
}




// ---------------------------------------
// Themes Use Cases
// Status: Work-in-progress
// ---------------------------------------

:root {
    --blocks-spacing: -2em;
}

// Remove space between 
// two consecutives Hero blocks
@mixin remove-consecutive-blocks-spacing {
    .alignfull {
        &.nova-hero + &.nova-hero {
            margin-top: var(--blocks-spacing);
        }
    }
}
@include remove-consecutive-blocks-spacing(); 

// Theme: Twenty Nineteen
.entry {
    .entry-content {
        @media only screen and (min-width: 768px) {
            --blocks-spacing: calc(-2 * 1rem);
            @include remove-consecutive-blocks-spacing();
        }
    }
}

// Theme Button
@mixin default-button {
    background-color: #FFE42E;
    color: #2B2BBA;
    border-radius: 20px 16px 18px;

    transition: all 0.5s ease;

    &:hover {
        background-color: #2B2BBA;
        color: #FFE42E;
    }
}

// Theme Changes
@mixin theme-content-changes {
    .nova-hero {
        h1 {
        margin-bottom: 0;
        @media only screen and (min-width: 768px) {
            font-size: 3.5em;
        }

        }
        p {
            font-size: 1.2em;
        }
    }

    h1:before, h2:before {
        display: none;
    }
}

// Theme Font
@mixin theme-font {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

// Frontend
html body {
    @include theme-font;
}
.content-area .entry .entry-content {
    .wp-block-button {
        .wp-block-button__link:not(.has-background) {
            @include default-button;
        }
    }

    @include theme-content-changes;
}


// Editor
.editor-styles-wrapper.editor-styles-wrapper {
    @include theme-content-changes;
    @include theme-font;

    .wp-block-button:not(.is-style-outline) .wp-block-button__link {
        @include default-button;
    }
}
