
:root {
    --hero-master-dark: #000000;
    --hero-master-light: #FFFFFF;
    --hero-master-color: #FF0000;
}

.c-hero {
    position: relative;
    display: flex;
}

@mixin cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.c-hero__mask,
.c-hero__background,
.c-hero__slider {
    @include cover;
}

.c-hero__image[class] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    width: auto;
    height: auto;

    @supports (transform: translate(-50%,-50%)) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @supports (object-fit: cover) {
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        transform: none;
    }
}

.c-hero {
    --hero-background: var(--hero-master-dark);
    --hero-foreground: var(--hero-master-light);
}

@each $color in dark, light, color {

    .c-hero--background-#{$color} {
        --hero-background: var(--hero-master-#{$color});
    }

    .c-hero--foreground-#{$color} {
        --hero-foreground: var(--hero-master-#{$color});
    }
}

.c-hero__background {
    background: var(--hero-background);
    will-change: transform;
}

.c-hero__foreground {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    //color: var(--hero-foreground);

    h1, h2, h3, h4, h5, h6,
    ul, ol, dl,
    .editor-block-list__block[class] {
        color: inherit;
    }

    .c-hero--spacing-small & {
        padding: 20px;
    }

    .c-hero--spacing-medium & {
        padding: 40px;
    }

    .c-hero--spacing-large & {
        padding: 60px;
    }
}

.c-hero__foreground {

    .c-hero--h-align-left & {
        justify-content: flex-start;
        //text-align: left;
    }

    .c-hero--h-align-center & {
        justify-content: center;
        //text-align: center;
    }

    .c-hero--h-align-right & {
        justify-content: flex-end;
        //text-align: right;
    }

    .c-hero--v-align-top & {
        align-items: flex-start;
    }

    .c-hero--v-align-center & {
        align-items: center;
    }

    .c-hero--v-align-bottom & {
        align-items: flex-end;
    }
}


.c-hero__slider {

    &.slick-slider {
        position: absolute;
    }

    .slick-list,
    .slick-track {
        height: 100%;
    }
}

.c-hero__slide {
    position: relative;
    height: 100%;
}

.pixelgrade-hero-horizontal-alignment-toolbar {
    svg {
        transform: rotate(-90deg);
    }
}

.c-hero__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
}
