.novablocks-controls-group {
	margin: 0 -16px;
	padding: 0 16px;

	& + & {
		border-top: 1px solid #e2e4e7;
		padding-top: 16px;
		margin-top: 16px;
	}
}

.novablocks-controls-group__title {
	color: #191e23;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 16px;
}
