@mixin block-background {
  position: relative;
  --emphasis-area-width: calc( var(--nb-emphasis-area, 100) * 1% );

  &:before {
    content: '';
    
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    grid-column: var(--block-full-start) / var(--block-full-end);
    
    background: linear-gradient(
        90deg,
        var(--sm-current-bg-color, var(--nb-bg-color)) 0,
        var(--sm-current-bg-color, var(--nb-bg-color)) var(--emphasis-area-width),
        transparent var(--emphasis-area-width)
    );
  }
}
