@mixin block-background {
  
  &:before {
    content: '';
    
    position: absolute;
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    
    grid-column: var(--custom-limit-left) / var(--custom-limit-right);
    
    background: linear-gradient(
        90deg,
        var(--nb-bg-color) 0,
        var(--nb-bg-color) var(--emphasis-area-width),
        transparent var(--emphasis-area-width)
    );
  }
}
