/*
 * Supernova is a spacial block, so
 * it's alignment need some adjustments.
 */

.supernova {
  
  > .alignfull[class] {
    margin-left: 0;
    margin-right: 0;
  }
  
  > * {
    margin-bottom: 0 !important;
  }
}

.novablocks-sidebar {
  
  .supernova {
    --display-mode: block;
  }
  
  [class*='__inner-container'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.novablocks-sidecar {
  
  &--sidebar-right:not(.ignore-block) {
  
    .block-is-wide,
    .block-is-none {
    
      &[class*='stop'] {
      
        --custom-limit-left: var(--block-limit-left);
        --custom-limit-right: ce;
      
        > * {
          --block-content-start: ws !important;
          --block-content-end: ce !important;
        }
      }
    }
  
    .block-is-full {
    
      &[class*='stop'] {
      
        --custom-limit-left: var(--block-limit-left);
        --custom-limit-right: ce;
      
        > * {
          --block-content-start: fs !important;
          --block-content-end: ce !important;
        }
      }
    }
  }
  
  &--sidebar-left:not(.ignore-block) {
  
    .block-is-wide,
    .block-is-none {
    
      &[class*='stop'] {
      
        --custom-limit-left: cs;
        --custom-limit-right: var(--block-limit-right);
      
        > * {
          --block-content-start: cs !important;
          --block-content-end: we !important;
        }
      }
    }
  
    .block-is-full {
    
      &[class*='stop'] {
      
        --custom-limit-left: cs;
        --custom-limit-right: var(--block-limit-right);
      
        > * {
          --block-content-start: cs !important;
          --block-content-end: fe !important;
        }
      }
    }
  }
}

.supernova-item__inner-container {

  > .wp-block-group[class] {
  
    display: block;
  
    margin-left: calc(-1 * var(--nb-card-content-padding, 0));
    margin-right: calc(-1 * var(--nb-card-content-padding, 0));
    
    padding-top: 0;
    padding-bottom: 0;
    
    &:not([class*='align']) {
      --block-limit-left: cs;
      --block-limit-right: ce;
    }
    
    @include above(lap) {
      
      &:not(.alignfull) {
    
        > [class*='__inner-container'] {
      
          &:before {
            left: var(--theme-wrapper-sides-spacing);
            width: calc(100% - var(--theme-wrapper-sides-spacing));
          }
        }
      }
    }
    
    > [class*='__inner-container'] {
      
      @include above(lap) {
        --display-mode: grid;
      }
      
      padding: calc(var(--nb-emphasis-top-spacing) * var(--nb-spacing) * var(--nb-element-spacing-multiplier)) 0 calc(var(--nb-emphasis-bottom-spacing) * var(--nb-spacing) * var(--nb-element-spacing-multiplier));
  
      > * {
        padding-left: var(--theme-wrapper-sides-spacing);
        padding-right: var(--theme-wrapper-sides-spacing);
      }
    }
  }
  
  > .novablocks-sidecar {
    margin-left: calc(-1 * var(--nb-card-content-padding, 0));
    margin-right: calc(-1 * var(--nb-card-content-padding, 0));
  }
}
