/*
 * Supernova is a special block, so
 * it's alignment need some adjustments.
 */

.supernova {
  
  --wide-content-width: calc(100% - var(--full) * 2 + var(--nb-wrapper-sides-spacing) * 2);
  --regular-content-width: calc(var(--wide-content-width) - var(--wds)*2 - var(--wde)*2 - var(--nb-sidecar-grid-gap) * 2);
  
  > .alignfull[class] {
    margin-left: 0;
    margin-right: 0;
  }
  
  > * {
    margin-bottom: 0 !important;
  }
}

.novablocks-sidebar {
  
  .supernova {
    --nb-sidecar-display: block;
  }
  
  [class*='__inner-container'] {
    padding-left: 0;
    padding-right: 0;
  }
}

.novablocks-sidecar {
  
  &--sidebar-right:not(.ignore-block) {
  
    .block-is-wide,
    .block-is-none {
    
      &[class*='stop'] {
      
        --custom-limit-left: var(--block-limit-left);
        --custom-limit-right: ce;
      
        > * {
          --block-content-start: ws !important;
          --block-content-end: ce !important;
        }
      }
    }
  
    .block-is-full {
    
      &[class*='stop'] {
      
        --custom-limit-left: var(--block-limit-left);
        --custom-limit-right: ce;
      
        > * {
          --block-content-start: fs !important;
          --block-content-end: ce !important;
        }
      }
    }
  }
  
  &--sidebar-left:not(.ignore-block) {
  
    .block-is-wide,
    .block-is-none {
    
      &[class*='stop'] {
      
        --custom-limit-left: cs;
        --custom-limit-right: var(--block-limit-right);
      
        > * {
          --block-content-start: cs !important;
          --block-content-end: we !important;
        }
      }
    }
  
    .block-is-full {
    
      &[class*='stop'] {
      
        --custom-limit-left: cs;
        --custom-limit-right: var(--block-limit-right);
      
        > * {
          --block-content-start: cs !important;
          --block-content-end: fe !important;
        }
      }
    }
  }
}

/*
 * To avoid using grid inside Supernova,
 * we are going to use classic alignment
 * styling for blocks.
 *
 * .block { max-width: var(--block-width); margin-left: auto; margin-right: auto; }
 
 * Stacked cards are different types of cards,
 * and they can hold content in a similar way of groups.
 * That means, inside stacked card, block alignments
 * should work similar to the rest of the site.
 */
.supernova-card-layout--stacked {
  
  &.supernova-layout-one-column {
    
    .supernova-item__inner-container {
      
      > * {
        max-width: var(--block-width);
        margin-left: auto;
        margin-right: auto;
      }
    
      > :not([class*='align']) {
        --block-width: var(--regular-content-width);
      }
      
      > .alignwide {
        --block-width: var(--wide-content-width);
      }
      
      /*
       * When block is full, we want to 'cancel'
       * the padding applied by parent.
       */
      > .alignfull {
        margin-left: calc(-1 * var(--nb-card-content-padding, 0));
        margin-right: calc(-1 * var(--nb-card-content-padding, 0));
      }
    }
  }
}


