.nb-collection__layout--carousel {

  /*
   * Carousel Settings
   */
  --nb-carousel-arrow-width: 2px;
  --nb-carousel-arrow-color: #555555;
  --nb-carousel-arrow-bg: #ffffff;
  
  .nb-collection__layout-item,
  .supernova-item {
    height: 100%;
  }

  .slick-track {
    display: flex;
    align-items: stretch;
  }

  .slick-slide {
    float: none;
    height: auto;

    > div {

      &,
      & > .supernova-item {
        height: 100%;
      }
    }
  }
  
  .slick-list {
    padding: 0 !important;
  }

  /*
   * Pagination
   */
  .slick-dots {
    
    margin-top: var(--nb-spacing);
    margin-bottom: 0;
    
    padding-bottom: var(--nb-spacing);
    padding-left: 0;
    
    background: none !important;
  
    button {

      /*
       * We are using !important for the moment,
       * because in Anima, button styles are applied
       * using a selector with IDS.
       */
      margin: 0 calc(var(--nb-spacing) * 0.5);
      padding: 0 !important;
      border: 0 !important;
      border-bottom: 1px solid transparent !important;

      color: inherit !important;
      background: none !important;
      outline: 0;

      transition: opacity .15s ease;
      cursor: pointer;

      &:hover {
        opacity: .6;
      }
    }

    .slick-active {

      button {
        border-bottom-color: currentColor !important;
      }
    }
  }
  
  &.slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  /*
   * Arrows
   */
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;

    width: 22px;
    height: 24px;

    background: var(--nb-carousel-arrow-bg);
    border-radius: 3px;

    &:before {
      content: '';
      display: block;

      position: absolute;
      top: 50%;
      left: 50%;

      width: 8px;
      height: 8px;
    }
  }

  .slick-prev {
    left: var(--nb-wrapper-sides-spacings);

    &:before {
      border-top: var(--nb-carousel-arrow-width) solid var(--nb-carousel-arrow-color);
      border-left: var(--nb-carousel-arrow-width) solid var(--nb-carousel-arrow-color);
      transform: translate(-30%, -50%) rotate(-45deg);
    }
  }

  .slick-next {
    right: var(--nb-wrapper-sides-spacings);

    &:before {
      border-top: var(--nb-carousel-arrow-width) solid var(--nb-carousel-arrow-color);
      border-right: var(--nb-carousel-arrow-width) solid var(--nb-carousel-arrow-color);
      transform: translate(-70%, -50%) rotate(45deg);
    }
  }
  
  .slick-dots,
  .slick-arrow {
    z-index: 2000;
  }
  
}

/*
 * Supernova does not have collection
 * layout or card stacking classes,
 * so we are using data attributes to
 * style properly.
 * This styles are getting applied when
 * Collection Layout is Carousel,
 * Card Layout is Stacked,
 * Pagination is true,
 * and Number of Items per Row is set to 1.
 */
.supernova--card-layout-stacked {
  
  .slick-dots {
    position: absolute;
    bottom: 0;
  }
}

.nb-collection__layout--carousel {

  .supernova-item__inner-container {
    margin-bottom: calc(2 * var(--nb-spacing) + var(--current-font-size) * var(--current-line-height));
  }
}

.nb-collection__layout--variable-width {
  
  .supernova-item__media-aspect-ratio {
    
    > * {
      position: relative;
    }
  }
}

.supernova {

  &:not(.supernova--1-columns) {

    .slick-track {
      gap: var(--nb-grid-spacing);
    }
  }
}
