.supernova-item {
  
  position: relative;
  
  display: flex;
  flex-direction: column;

  gap: var(--nb-card-gap);

  --nb-card-gap: calc( var(--nb-spacing) * var(--nb-element-spacing-multiplier, 1) * var(--nb-collection-gutter, 0) * 0.02 );
  --nb-card-content-padding: calc( var(--nb-spacing) * var(--nb-element-spacing-multiplier, 1) * ( 2 * var(--nb-card-content-padding-multiplier, 0) ) );
  --nb-card-image-padding: calc( var(--nb-spacing) * var(--nb-element-spacing-multiplier, 1) * ( 2 * var(--nb-card-media-padding-multiplier, 0) ) );
  --nb-card-content-column-width: calc( var(--nb-card-content-area-width) - var(--nb-card-gap) * 0.5 );
  --nb-card-media-column-width: calc( 100% - var(--nb-card-content-column-width) - var(--nb-card-gap));

  & &__inner-container[class] {
    padding: var(--nb-card-content-padding, 0);
  }
}

.supernova-item__media[class] {
  width: 100%;
  height: 100%;
  object-fit: var(--nb-card-media-object-fit, cover);
}

.supernova-item__media--placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
}


.supernova-item__content,
.supernova-item__media-wrapper {
  flex: 0 0 auto;
}

.supernova__layout {

  &:not(&--parametric) .supernova-item--layout-vertical-reverse {
    flex-direction: column-reverse;
  }

  &--parametric .novablocks-grid__area--landscape .supernova-item,
  &:not(&--parametric) .supernova-item--layout-horizontal,
  &:not(&--parametric) .supernova-item--layout-horizontal-reverse {
    flex-direction: row;

    .supernova-item__content {
      width: var(--nb-card-content-column-width);
      flex: 1 0 var(--nb-card-content-column-width);
    }

    .supernova-item__media-wrapper {
      width: var(--nb-card-media-column-width);
      flex: 1 0 var(--nb-card-media-column-width);
    }
  }

  &:not(&--parametric) .supernova-item--layout-horizontal-reverse {
    flex-direction: row-reverse;
  }
}

.supernova-item--layout-stacked {
  display: grid;

  .supernova-item__media-wrapper,
  .supernova-item__content {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .supernova-item__inner-container {
    margin-left: auto;
    margin-right: auto;
  }

  &.supernova-item--style-basic .supernova-item__inner-container {
    background: none;
  }
}

.supernova-item--layout-horizontal,
.supernova-item--layout-horizontal-reverse {

  @include above(tablet) {
    margin-top: calc( var(--block-top-spacing) * var(--nb-spacing) );
    margin-bottom: calc( var(--block-bottom-spacing) * var(--nb-spacing) );

    padding-top: calc( -1 * var(--emphasis-top-spacing) * var(--nb-spacing) );
    padding-bottom: calc( -1 * var(--emphasis-bottom-spacing) * var(--nb-spacing) );

    .supernova-item__media-wrapper {
      margin-top: calc( var(--emphasis-top-spacing) * var(--nb-spacing) );
      margin-bottom: calc( var(--emphasis-bottom-spacing) * var(--nb-spacing) );
    }

    .supernova-item__content {
      padding-top: calc( var(--emphasis-top-spacing) * var(--nb-spacing) );
      padding-bottom: calc( var(--emphasis-bottom-spacing) * var(--nb-spacing) );
    }
  }
}

.supernova-item__media-wrapper > *,
.supernova-item--layout-stacked .supernova-item__media-aspect-ratio {
  height: 100%;
}

.supernova-item__media-aspect-ratio {
  position: relative;

  &:before {
    content: "";
    padding-top: var(--nb-card-media-padding-top, 100%);
    display: block;
  }
}

.supernova-item__media-wrapper {
  position: relative;
  padding: var(--nb-card-image-padding, 0);
  
  z-index: 1;
  
  .supernova-item__media-aspect-ratio {
    z-index: 2;
  }
  
  img,
  video {
    opacity: calc( 1 - var(--nb-overlay-filter-strength, 1));
  }
}

.supernova-item__content {
  z-index: 2;
}

.supernova-item__media-doppler {
  width: 100%;
}

.supernova-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  overflow: hidden;

  &:before,
  &:after {
    content: '';
    display: block;
    height: 0;
    flex: 1 0 auto;
  }

  &--valign-top:before,
  &--valign-bottom:after {
    flex-grow: 0;
  }

  @each $align in left, center, right {
    &--halign-#{ $align } {
      text-align: $align;
    }
  }
}

/*
 * Carousel Layout - Variable Width
 */

.supernova__layout--carousel {
  
  &.supernova__layout--variable-width {
  
    // Replace display: tablet; width: 1px; trick
    // with flex-basis, so we can use display: grid
    // on supernova-item.
    
    .slick-track > * {
      flex-basis: 1px;
    }
    
    .supernova-item__media,
    .novablocks-doppler__mask {
      position: static;
      width: auto;
      height: 30em;
      max-width: none;
    }
    
    .supernova-item__media-aspect-ratio:before {
      position: absolute;
    }
    // !!! TEMPORARY
    // @todo: should remove this, so doppler can work.
    .supernova-item__media-doppler {
      position: relative !important;
      width: 100% !important;
    }
  }
}

.supernova__layout--content-width {
  
  .slick-slide {
    --slider-content-width: calc( 100vw - ( var(--theme-wrapper-sides-spacing) + var(--full) + var(--wds) + var(--wde) + var(--grid-gap) ) * 2);
    width: var(--slider-content-width) !important;
  }
}

.supernova-item__media-doppler {
  height: 100%;
}

.supernova-item__link {
  position: absolute;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  display: block;
}

.novablocks-grid__item-buttons {
  position: relative;
  z-index: 1;
}
