.supernova-card {
  display: flex;
  flex-direction: column;

  gap: var(--novablocks-card-gap);

  --novablocks-card-gap: calc( var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) * var(--collection-card-layout-gutter, 0) / 10 );
  --novablocks-card-content-padding: calc( var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) * ( 2 * var(--supernova-card-content-padding-multiplier, 0) ) );
  --novablocks-card-image-padding: calc( var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) * ( 2 * var(--supernova-card-image-padding-multiplier, 0) ) );
  --novablocks-card-content-column-width: calc( var(--collection-card-content-area-width) - var(--novablocks-card-gap) * 0.5 );
  --novablocks-card-media-column-width: calc( 100% - var(--novablocks-card-content-column-width) - var(--novablocks-card-gap));

  & &__inner-container[class] {
    padding: var(--novablocks-card-content-padding, 0);
  }
}

.supernova-card__content,
.supernova-card__media-wrapper {
  flex: 0 0 auto;
}

.supernova-collection__layout {

  &:not(&--parametric) .supernova-card--layout-vertical-reverse {
    flex-direction: column-reverse;
  }

  &--parametric .novablocks-grid__area--landscape .supernova-card,
  &:not(&--parametric) .supernova-card--layout-horizontal,
  &:not(&--parametric) .supernova-card--layout-horizontal-reverse {
    flex-direction: row;

    .supernova-card__content {
      width: var(--novablocks-card-content-column-width);
      flex: 1 0 var(--novablocks-card-content-column-width);
    }

    .supernova-card__media-wrapper {
      width: var(--novablocks-card-media-column-width);
      flex: 1 0 var(--novablocks-card-media-column-width);
    }
  }

  &:not(&--parametric) .supernova-card--layout-horizontal-reverse {
    flex-direction: row-reverse;
  }
}

.supernova-card--layout-stacked {
  display: grid;

  .supernova-card__media-wrapper,
  .supernova-card__content {
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .supernova-card__inner-container {
    margin-left: auto;
    margin-right: auto;
  }

  &.supernova-card--style-basic .supernova-card__inner-container {
    background: none;
  }
}

.supernova-card--layout-horizontal,
.supernova-card--layout-horizontal-reverse {

  @include above(tablet) {
    margin-top: calc( var(--block-top-spacing) * var(--novablocks-spacing) );
    margin-bottom: calc( var(--block-bottom-spacing) * var(--novablocks-spacing) );

    padding-top: calc( -1 * var(--emphasis-top-spacing) * var(--novablocks-spacing) );
    padding-bottom: calc( -1 * var(--emphasis-bottom-spacing) * var(--novablocks-spacing) );

    .supernova-card__media-wrapper {
      margin-top: calc( var(--emphasis-top-spacing) * var(--novablocks-spacing) );
      margin-bottom: calc( var(--emphasis-bottom-spacing) * var(--novablocks-spacing) );
    }

    .supernova-card__content {
      padding-top: calc( var(--emphasis-top-spacing) * var(--novablocks-spacing) );
      padding-bottom: calc( var(--emphasis-bottom-spacing) * var(--novablocks-spacing) );
    }
  }
}

.supernova-card__media-wrapper > *,
.supernova-card--layout-stacked .supernova-card__media-aspect-ratio {
  height: 100%;
}

.supernova-card__media-aspect-ratio {
  position: relative;

  &:before {
    content: "";
    padding-top: calc( var(--collection-card-media-aspect-ratio, 100) * 1% );
    display: block;
  }
}

.supernova-card__media-wrapper {
  position: relative;
  background-color: var(--novablocks-bg-color);
  padding: var(--novablocks-card-image-padding, 0);
  opacity: var(--collection-card-media-opacity, 1);
}

.supernova-card__media-doppler {
  width: 100%;
}

.supernova-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  position: relative;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    display: block;
    height: 0;
    flex: 1 0 auto;
  }

  &--valign-top:before,
  &--valign-bottom:after {
    flex-grow: 0;
  }

  @each $align in left, center, right {
    &--halign-#{ $align } {
      text-align: $align;
    }
  }
}

/*
 * Carousel Layout - Variable Width
 */

.supernova-collection__layout--carousel {
  
  &.supernova-collection__layout--variable-width {
  
    // Replace display: tablet; width: 1px; trick
    // with flex-basis, so we can use display: grid
    // on supernova-card.
    
    .slick-track > * {
      flex-basis: 1px;
    }
    
    .supernova-card__media,
    .novablocks-doppler__mask {
      position: static;
      width: auto;
      height: 20em;
      max-width: none;
    }
    
    .supernova-card__media-aspect-ratio:before {
      position: absolute;
    }
  }
}
