.supernova-collection__layout {
  --nb-grid-spacing: var(--nb-spacing);
}

.supernova-collection__layout--fixed-width {
  .supernova-card:not(.supernova-card--aspect-ratio-auto) {
    .novablocks-card__media-image {
      @include image-cover;
    }
  }
}

.supernova-card--aspect-ratio-auto {

  .novablocks-advanced-gallery__image {
    position: static;

    display: block;
    width: 100%;
    height: auto;
    min-width: 0;
    min-height: 0;
    transform: none;
  }

  .novablocks-advanced-gallery__grid-item-media {
    flex-grow: 0;
  }

  .blob-mix {
    position: relative;
  }

  .blob-mix__mask {
    position: static;
    height: auto;
  }

  .blob-mix__media {
    position: relative;
    height: auto;
  }
}

@mixin with-editor-layout-selectors {

  &:not(.supernova-collection__layout--edit),
  &.supernova-collection__layout--edit > .block-editor-inner-blocks > .block-editor-block-list__layout {
    @content;
  }
}

.supernova-collection__layout--classic,
.supernova-collection__layout--parametric {

  @include with-editor-layout-selectors {

    display: grid;
    grid-gap: calc( var(--nb-grid-spacing) * var(--nb-grid-spacing-modifier, 1) );
    grid-template-columns: repeat(var(--nb-collection-columns-count, 1), 1fr);

    > * {
      margin: 0;
    }
  }
}
