.supernova-collection__layout--fixed-width {

  .supernova-card__media {
    @include image-cover;
  }
}

.supernova-collection__layout--grid {

  &:not([data-source]),
  &[data-source="auto"],
  &[data-source="custom"] > .block-editor-inner-blocks > .block-editor-block-list__layout {
    display: grid;
    grid-template-columns: repeat(var(--collection-columns-count, 1), 1fr);
  }

  &[data-source="custom"] {

    > .block-editor-inner-blocks > .block-editor-block-list__layout > * {
      max-width: none;
      margin-left: 0;
      margin-right: 0;

      --novablocks-block-top-spacing: 0;
      --novablocks-block-bottom-spacing: 0;
      --novablocks-emphasis-top-spacing: 0;
      --novablocks-emphasis-bottom-spacing: 0;
    }
  }
}

//.supernova-collection__layout--carousel {
//
//  .slick-track {
//    display: flex;
//    align-items: stretch;
//  }
//
//  .slick-slide {
//    float: none;
//    height: auto;
//
//    > div,
//    > div > .supernova-card {
//      height: 100%;
//    }
//  }
//}
