.nb-supernova-item__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  
  overflow: hidden;
  
  &:before,
  &:after {
    content: '';
    display: block;
    height: 0;
    flex: 1 0 auto;
  }
  
  &--valign-top:before,
  &--valign-bottom:after {
    flex-grow: 0;
  }
}
  
@each $align in left, center, right {
  .nb-supernova--halign-#{ $align } {
    text-align: $align;
  }
}

.nb-supernova-item__inner-container[class] > * {

  .nb-supernova--halign-left & {
    margin-left: 0;
  }

  .nb-supernova--halign-right & {
    margin-right: 0;
  }
}
