:is(.wp-block-separator, #very.specific) {
  border: 0;
  background: none;
  color: var(--nb-bg-color);

  html.is-dark & {
    color: var(--nb-accent-color);
  }
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  width: auto;
}
