@import "mixins";

.novablocks-cards-collection__layout[class] {
	display: block;
	margin: 0;

	> * {
		max-width: none;
		padding: 0;
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout {
		@include novablocks-cards-collection-layout;
		@include novablocks-cards-columns-count(1);

		--surplus: 100px;

		> .block-list-appender {
			align-self: center;
			flex: 0 0 var(--surplus);
			padding-left: calc(0.5 * var(--novablocks-spacing));
		}

		.wp-block[class][class] {
			max-width: none;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
