.novablocks-cards-collection {

	.block-editor-block-list__layout {
		@include novablocks-cards-collection-layout;

		> .block-list-appender {
			flex: 0 0 auto;
		}

		> .wp-block[class][class] {
			max-width: none;
			margin-left: 0;
			margin-right: 0;
		}
	}
}
