@import "mixins";

.novablocks-cards-collection {
	background: var(--novablocks-block-background-color);

	&.has-background {
		padding: var(--novablocks-block-padding) 0;
	}
}

.novablocks-cards-collection__layout {
	@include novablocks-cards-collection-layout;
	@include novablocks-cards-columns-count;
}

@each $alignment in left, center, right {

	.novablocks-cards-collection--align-#{ $alignment } {
		text-align: $alignment;
	}
}

.novablocks-cards-collection--align-right {
	.wp-block-buttons {
		flex-direction: row-reverse;
	}
}
