@import "mixins";

.novablocks-cards-collection {
	padding: var(--novablocks-media-padding);
	background: var(--novablocks-media-background-color);
}

.novablocks-cards-collection__layout {
	@include novablocks-cards-collection-layout;
}

@each $alignment in left, center, right {

	.novablocks-cards-collection--align-#{ $alignment } {
		text-align: $alignment;
	}
}

.novablocks-cards-collection--align-right {
	.wp-block-buttons {
		flex-direction: row-reverse;
	}
}
