.novablocks-opentable {

  .ot-title[class][class] {
    line-height: 1;
    margin-bottom: var(--nova-spacing-small);
  }

  .ot-button[class] {
    border: 0;
    transition: all .2s cubic-bezier(0, 0, 0.58, 1);
    box-shadow: none;

    height: auto;
  }

  .ot-dtp-picker .ot-dtp-picker-selector,
  .picker__weekday {
    border: 0;
  }

  // Calendar
  .picker__day--selected, .picker__day--highlighted,
  .picker__day--selected:hover, .picker__day--infocus:hover,
  .picker__day--outfocus:hover {
    border-color: var(--nova-dark-1);
  }

  .picker__day {
    height: 26px;
    width: 26px;

    border: 2px solid transparent;

    transition: border-color 0.15s cubic-bezier(0, 0, 0.58, 1);
  }

  .picker__day--selected {
    border-color: #CCC;
  }

  .picker__close {
    color: var(--nova-dark-1);

    &:hover {
      color: var(--nova-dark-2);
    }
  }

  .picker__nav--next,
  .picker__nav--prev {
    transition: border-color 0.15s cubic-bezier(0, 0, 0.58, 1);

    &:hover {
      border-color: var(--nova-dark-1);
    }
  }

  .ot-dtp-picker .ot-dtp-picker-form {
    background: transparent;
    border: 0;
  }

  .ot-dtp-picker {
    background: transparent;
    width: 100%;
  }

  .picker__holder:focus {
    outline: none;
  }

  .ot-dtp-picker .ot-dtp-picker-selector:hover .ot-dtp-picker-selector-link {
    outline: none;
  }

  .ot-dtp-picker.wide {
    max-width: 750px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    .ot-dtp-picker-form {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      border: 0;

      height: auto;

      @include above(tablet) {
        flex-direction: row;
      }
    }

    .ot-powered-by {
      background-position: center;
    }

    .ot-dtp-picker-form .ot-dtp-picker-selector + .ot-dtp-picker-selector {
      border-left: 0;
    }

    .ot-select-label[class],
    .ot-dtp-picker-label[class] {
      text-decoration: none;
    }

    .ot-dtp-picker {
      .ot-dtp-picker-selector .ot-dtp-picker-selector-link.ot-date-label.menu-opened,
      .ot-dtp-picker-selector .ot-dtp-picker-selector-link.ot-select-label.highlighted,
      .ot-dtp-picker-selector:hover .ot-dtp-picker-selector-link.ot-date-label.menu-opened,
      .ot-dtp-picker-selector:hover .ot-dtp-picker-selector-link.ot-select-label.highlighted {
        outline: 0;
        box-shadow: none;
      }
    }

  }

  &.novablocks-opentable__wide[class] {
    width: 100%;

    .ot-dtp-picker-selector[class][class] {
      border: 1px solid var(--nova-light-2);
    }

    .ot-title {
      font-size: 1.5rem;
      text-align: center;
    }

    .ot-dtp-picker-form .ot-dtp-picker-button {
      margin-top: var(--nova-spacing-small) !important;
    }

    .ot-dtp-picker-form .ot-dtp-picker-selector {
      width: 100%;
      border-bottom: none;
      float: left;
      margin-bottom: 1rem;

      @include above(tablet) {
        width: 10rem;
        margin-left: var(--nova-spacing-small);
        margin-bottom: 0;
      }
    }

    .ot-dtp-picker-form input[type="hidden"] + .ot-dtp-picker-selector {
      margin-left: 0;
    }

    .ot-powered-by[class] {
      margin-top: 1rem;
    }

    .ot-button {
      background-color: var(--nova-color-3);
      color: var(--nova-light-1);

      &:hover {
        background-color: var(--nova-color-1);
      }
    }

    .picker .picker__holder {
      height: auto;
    }

    .ot-date-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.novablocks-opentable__standard[class] {
    background-color: var(--nova-dark-1);
    color: var(--nova-light-1);

    padding: 3rem;

    .ot-dtp-picker-selector .ot-dtp-picker-selector-link {
      padding-left: 1.5rem;

      color: var(--nova-light-1);
      border-bottom: 2px solid currentColor;
    }

    .ot-dtp-picker-selector .ot-dtp-picker-selector-link:before {
      left: 0;
      color: var(--nova-light-1);
    }

    .ot-dtp-picker-selector .ot-dtp-picker-selector-link:after {
      content: none;
    }

    .ot-dtp-picker-selector {
      margin-bottom: var(--nova-spacing-small);
    }

    .ot-title {
      font-size: 2rem;
      text-align: left;
    }

    .ot-button {
      background-color: var(--nova-light-1);
      color: var(--nova-dark-1);

      padding: 20px 0;

      &:hover {
        background-color: var(--nova-light-3);
      }
    }

    .ot-powered-by {
      -webkit-filter: invert(1) saturate(0);
      mix-blend-mode: lighten;
    }

    .picker {
      top: 100%;
    }

    .picker__holder {
      left: 0;
    }
  }
}

.ot-powered-by[class] {
  display: none;

  margin-top: var(--nova-spacing-small);

  .has-opentable-logo & {
    display: block;
  }
}

