.novablocks-opentable__wrapper {
  @include above(mobile) {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    flex-wrap: wrap;
  }
}

.novablocks-opentable .otb-input,
.novablocks-opentable select{
  @include above(mobile) {
    width: 9.5em;
  }
}

.novablocks-opentable__button-wrap {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;

  margin-top: 1em;
}

.novablocks-opentable__input-wrap {
  display: flex;
  flex-direction: column;
}
