.novablocks-u-background {
	transition: background-color 0.4s ease-out;

	.block-editor-inserter__toggle {
		background: #FFFFFF;
	}
}

.nova-hide-clear-color {

	.components-color-palette__custom-color {
		margin-right: 0;
	}

	.components-color-palette__clear {
		display: none;
	}
}
