:root {
  --novablocks-hero-transition-duration: 0.5s;
  --novablocks-hero-transition-easing: ease;
  --novablocks-hero-transition: all
		var(--novablocks-media-transition-duration)
		var(--novablocks-media-transition-easing); }

.wp-block-novablocks-hero.novablocks-hero {
  -webkit-transition: var(--novablocks-hero-transition);
  transition: var(--novablocks-hero-transition);
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity; }

.novablocks-hero__media,
.novablocks-hero__foreground {
  -webkit-transition: var(--novablocks-hero-transition);
  transition: var(--novablocks-hero-transition);
  -webkit-transition-property: color, background-color, opacity;
  transition-property: color, background-color, opacity; }

.pixelgrade-hero-block-toolbar-dropdown button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pixelgrade-hero-block-toolbar-dropdown button:after {
    content: '';
    border: 0 solid transparent;
    border-width: 4px 3px 0;
    border-top-color: currentColor;
    margin-right: 4px; }

.pixelgrade-hero-button-group-wrapper label + .components-button-group {
  margin-top: 5px; }

.pixelgrade-hero-button-group-wrapper .components-button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .pixelgrade-hero-button-group-wrapper .components-button-group:not(:last-child) {
    margin-bottom: 10px; }
  .pixelgrade-hero-button-group-wrapper .components-button-group .components-button {
    padding: 1px 5px 3px;
    height: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }

.pixelgrade-hero-horizontal-alignment-button svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
