.novablocks-u-content-align {
	display: flex;

	.novablocks-u-halign-left & {
		align-items: flex-start;
		text-align: left;
	}

	.novablocks-u-halign-center & {
		align-items: center;
		text-align: center;
	}

	.novablocks-u-halign-right & {
		align-items: flex-end;
		text-align: right;
	}
}
