.novablocks-foreground {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.novablocks-u-halign-left & {
		justify-content: flex-start;
		text-align: left;
	}

	.novablocks-u-halign-center & {
		justify-content: center;
		text-align: center;
	}

	.novablocks-u-halign-right & {
		justify-content: flex-end;
		text-align: right;
	}

	.novablocks-u-valign-top & {
		align-items: flex-start;
	}

	.novablocks-u-valign-center & {
		align-items: center;
	}

	.novablocks-u-valign-bottom & {
		align-items: flex-end;
	}
}
