.menu {
    display: flex;
    flex-wrap: wrap;
}

.menu-item-has-children {
    position: relative;

    &[class] > a {
        display: flex;
        align-items: center;

        &:after {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-right: 2px solid currentColor;
            border-bottom: 2px solid currentColor;
            transform: translateY(-30%) rotate(45deg);
            margin-left: 0.5em;
        }
    }
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;

    width: 10em;

    background: var(--novablocks-dark-2);
    color: var(--novablocks-light-1);

    .sub-menu {
        top: 0;
        left: 100%;
    }

    .menu-item-has-children > a:after {
        transform: translateY(-10%) rotate(-45deg);
    }
}

:not(:hover) > .sub-menu {
    display: none;
}
