@import "../mixins";

.novablocks-collection__title[class] {
  
  width: 100%;

	&[class] {
		margin-top: 0;
	}

	> h2,
	> h3 {
		margin-top: 0;
		margin-bottom: 0;
	}

}

.novablocks-collection__subtitle[class] {

	z-index: 2;

	> p {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.novablocks-collection__cards {
	z-index: 1;
}

.novablocks-collection__layout[class] {

	// in editor the layout is handled by .block-editor-block-list__layout
	// but frontend styles are also loaded in editor
	// and we won't fix that at the moment
	display: block;
	margin: 0;
  
  .block-editor-block-list__layout {
    width: 100%;
  }

	> [class][class] {
		max-width: none;
		margin: 0;
	}

	.block-editor-block-list__block[data-type="core/buttons"][data-align],
	.novablocks-card__buttons .wp-block[data-align] {
		height: auto;

		> .is-block-content {
			float: none;
			margin-left: 0;
			margin-right: 0;
		}
	}

	> .block-editor-inner-blocks > .block-editor-block-list__layout[class] {
		@include novablocks-collection-layout;

		.wp-block[class][class] {
			margin-right: 0;
		}

		.novablocks-cards-collection.has-appender & {
			@include novablocks-cards-columns-count(1);

			--apender-width: 60px;

			> * {
				--surplus: calc(var(--apender-width) + var(--novablocks-spacing) * 0.5);
			}

			> .block-list-appender {
				align-self: center;
				flex: 0 0 var(--apender-width);
				margin-left: calc(0.5 * var(--novablocks-spacing));
				margin-right: 0;
			}
		}

		.novablocks-cards-collection:not(.has-appender) & {
			@include novablocks-cards-columns-count;
		}
	}
}
