.nb-collection__scroll-indicator {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  
  display: flex;
  justify-content: center;

  z-index: 9999;
  
  transition: all .3s ease-out;
  transition-property: opacity;
  cursor: pointer;

  background: none !important;

  svg {
    fill: var(--nb-bg-color);
  }
  
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 12px;
    height: 12px;
    border: 2px solid var(--nb-fg2-color);
    border-left: 0;
    border-top: 0;
    
    transform: translate(-50%, -70%) rotate(45deg);
  }
}

.nb-collection__scroll-indicator--hidden {
  opacity: 0;
}

.nb-collection__scroll-indicator:not(.nb-collection__scroll-indicator--middle) {
  width: 160px;
  height: 50px;
  
  margin-left: auto;
  margin-right: auto;
}
