@import "../mixins";

.novablocks-collection__layout {
	@include novablocks-collection-layout;
	@include novablocks-cards-columns-count;
}

@each $alignment in left, center, right {

	.novablocks-collection--align-#{ $alignment } {
		text-align: $alignment;
	}
}

.novablocks-collection--align-right {

	.wp-block-buttons {
		flex-direction: row-reverse;
	}
}

.novablocks-collection--align-center {

	.wp-block-buttons {
		justify-content: center;
	}
}

.novablocks-collection {

	.novablocks-block__content {
		padding: 0;
	}

	// proper spacing inside collection header
	// and between collection header and cards
	.novablocks-collection__title + .novablocks-collection__subtitle {
		--nb-element-spacing-multiplier: var(--nb-element-spacing-level-3-multiplier);
	}

	.novablocks-collection__cards {
		--nb-element-spacing-multiplier: var(--nb-element-spacing-level-1-multiplier);
	}
}

.novablocks-collection__title,
.novablocks-collection__subtitle {
  position: relative;
  z-index: 1;
}

.novablocks-collection__title {

	a {
		text-decoration: inherit;
		color: inherit;
	}
}

// avoid collection layout overlapping collection header
// fix inspector view and pointer events for collection header elements
.novablocks-collection__cards {
	border-top: 1px solid transparent;

	> .novablocks-collection__layout {
		pointer-events: none;

		> * {
			pointer-events: auto;
		}
	}
}

.novablocks-collection {
  @include block-spacing;
}

.slick-slide {
  opacity: 1 !important;

  // element on which we apply the custom transition
  > * {
    overflow: hidden;
    //background-color: var(--nb-bg-color);
  }
}

.slick-slide--current {
  z-index: 1100 !important;
}

.slick-slide--next {
  z-index: 1200 !important;
}
