@mixin header-background {
  position: relative;
  background: none !important;

  &:before {
    content: '';

    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: var(--novablocks-bg-color);
    opacity: var(--header-background-opacity, 1);

    transition: var(--novablocks-transition);
    transition-property: opacity;
  }
}

@mixin header-shadow {
  
  --header-shadow-opacity: 0;
  
  &.novablocks-header--sticky,
  &.novablocks-header--mobile[style*='fixed']{
    --header-shadow-opacity: 0.1;
  }

  &:after {
    content: "";
    display: block;
    @include cover;
    box-shadow: var(--shadow-color, #000000) 0 var(--shadow-y-offset, 0.0625em) var(--shadow-blur, 0.125em);
    opacity: var(--header-shadow-opacity, 0);
    pointer-events: none;
    transition: var(--novablocks-transition);
    transition-property: opacity;
    z-index: -1;
  }
}
