.site-header {
	display: none;
	overflow-y: auto;

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 999;

	background: #fff;

	.c-menu-toggle__checkbox ~ & {
		display: block;
	}

	.c-menu-toggle__checkbox:not(:checked) ~ & {
		transform: translateX(-100%);
	}
}

.site-header__content {
	display: flex;
	flex-direction: column;

  [class*="__inner-container"] > & {
    max-width: none;
  }

	.site-branding {
		padding: 1em;
		order: -1;
	}
}
