@include below(lap) {

  .novablocks-header--main {

    &.novablocks-header-background:before {
      position: fixed;
    }
  }

  .novablocks-header {
    display: none;
    overflow-y: auto;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    .c-menu-toggle__checkbox ~ & {
      display: block;
    }

    .c-menu-toggle__checkbox:not(:checked) ~ & {
      transform: translateX(-100%);
    }
  }

  .novablocks-header__content {
    display: flex;
    flex-direction: column;

    [class*="__inner-container"] > & {
      max-width: none;
    }

    .site-branding {
      padding: 1em;
      order: -1;
    }
  }
}
