/*------------------------------------*\
  #COMPONENT - Reading Progress Bar
\*------------------------------------*/

:root {
  // Design System tokens
  --theme-reading-progress-width: 3px; // use '0' to remove it
  --theme-reading-progress-color: var(--sm-current-accent-color);
}



// ------ #MIXINS
@mixin progress-bar-style-below {
  left: 0;
  bottom: 0;
}

@mixin progress-bar-style-above {
  left: 0;
  top: 0;
  bottom: auto;
}

// Work in Progress
@mixin progress-bar-style-overlay {
  .c-reading-progress {
    left: 0;
    top: 0;
    bottom: auto;
    height: 100%;

    opacity: 0.3 !important;
  }

  .c-reading-bar {
    z-index: 12 !important;
  }

  .site-header--reading .c-reading-bar {
    background: transparent !important;
  }
}



// ------ #PROGRESS BAR STYLING
.c-reading-progress {
  @include progress-bar-style-below;
  position: absolute;
  z-index: 11;

  
  width: 100%;
  height: var(--theme-reading-progress-width);
  
  border: none;
  appearance: none;
  
  
  &[class] {
    background-color: transparent;
  }
}

  .c-reading-progress::-webkit-progress-bar {
    background-color: transparent;
  }

  .c-reading-progress::-webkit-progress-value {
    background-color: var(--theme-reading-progress-color);
  }

  .c-reading-progress::-moz-progress-bar {
    background-color: var(--theme-reading-progress-color);
  }

  // Change the .c-reading-progress bar color based on .c-reading-bar Color Signal
  // @todo: find a way to apply the Color Signal classes to .c-reading-progress too
  .c-reading-bar.sm-dark + .c-reading-progress {
    --theme-reading-progress-color: var(--sm-current-bg-color);
  }





// ------ #ALTERNATIVE STYLES
 // @include progress-bar-style-overlay;

// @todo: for options below, add a global 
// control option to change those styles
.c-reading-progress[data-progress-bar-style-="below"] {}
.c-reading-progress[data-progress-bar-style-="overlay"] {}






.c-reading-bar {
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 10;
  
  height: 100%;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.5s transform ease;
  will-change: transform;
  
  transform: translateY(-100%);
  pointer-events: none;
  
  padding-left: 32px;
  padding-right: 32px;

  &[class] {
    background: none;
  }
  
  .site-header--reading & {
    transform: translateY(0);
    pointer-events: auto;
  }
  
  @include below(lap) {
    display: none;
  }


}

.novablocks-header-row {
  
  .wp-block {
    
    &[class][class][class][class][class][class] {
      transition: all .3s ease;
      transition-property: all;
    }
  }
}

.site-header--next,
.site-header--reading {
  
  .c-reading-bar {
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .novablocks-header-row__inner-container {
    
    > .wp-block {
      transform: translateY(calc(100% + 50px));
      pointer-events: none;
    }
  }
}

[class*="c-reading-bar__wrapper-title"] {
  transition: all 0.35s ease;
}

.site-header--next {
  
  .c-reading-bar__wrapper-title--current {
    opacity: 0;
  }
  
  .c-reading-bar__wrapper-title--next {
    opacity: 1;
  }
}

.c-reading-bar__wrapper-title {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

.c-reading-bar__wrapper-title--next {
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  pointer-events: none;
  
  .post-title__post-name {
    text-decoration: none;
    color: currentColor;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.c-reading-bar {
  
  &[class][class][class][class] {
    
    .wp-block-button__link {
      padding: 0;
      background-color: transparent;
      color: inherit;
      border: 0;
    
      span {
        padding: 0;
        margin: 0;
      }
      
      svg {
        display: none;
      }
    
      &:before {
        background-color: transparent;
      }
    }
  
    .wp-block-buttons {
      margin-top: 0;
    }
  }
  
  .post-title__label[class] {
    margin-bottom: 0;
  }
  
  .post-title__post-name {
    margin-left: 5px;
  }
}

.site-header--next .c-reading-bar__wrapper-title--next {
  z-index: 10;
  pointer-events: auto;
}
