.novablocks-drawers {
  position: relative;
  overflow: hidden; }

.novablocks-drawers__list {
  padding: 16px; }

.novablocks-drawers__list-title {
  font-size: 14px;
  font-weight: 600;
  color: #2A2136; }

.novablocks-drawers__panel {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%; }

.novablocks-drawers__panel--hidden {
  opacity: 0;
  pointer-events: none; }

.novablocks-drawer {
  position: relative;
  padding: 12px 16px;
  font-size: 13px;
  font-weight: 500;
  background: #F4F5F8;
  color: #555D66;
  border-radius: 4px;
  cursor: pointer; }
  .novablocks-drawer:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 18px;
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
    display: block;
    width: 10px;
    height: 10px;
    border: 0 solid #9195AB;
    border-top-width: 2px;
    border-right-width: 2px;
    -webkit-transition: var(--novablocks-transition);
    transition: var(--novablocks-transition);
    -webkit-transition-property: border-color;
    transition-property: border-color; }
  .novablocks-drawer:not(:first-child) {
    margin-top: 6px; }
  .novablocks-drawer:hover:after {
    border-color: #2A2136; }
