.novablocks-card {
	@include clearfix;
	--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-3-multiplier);

	> .novablocks-grid__item-image + *,
	> .novablocks-grid__item-buttons {
		--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-1-multiplier);
	}

	.wp-block-buttons[class] {
		float: none;
	}

	> .block-editor-block-list__layout {
		@include clearfix;
	}
}

.novablocks-card__media-wrap {
	max-width: none !important;
	padding: calc( var(--novablocks-spacing) * var(--card-media-padding, 0) / 100 );
	padding-bottom: 0;

	transition: var(--novablocks-transition);
	transition-property: margin;
}

.novablocks-card__media {
	position: relative;
	padding-top: var(--card-media-padding-top, 100%);
	overflow: hidden;
}

.novablocks-card__media-placeholder,
.novablocks-card__media-image[class] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.novablocks-card__media-image {
	object-fit: var(--card-media-object-fit, cover);
}

.novablocks-card__media-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--novablocks-light-3);

	svg {
		max-width: 50%;
		max-height: 50%;
	}
}

.novablocks-card__subtitle {

	a {
		text-decoration: inherit;
		color: inherit;
	}
}

.novablocks-card {

	a:not(.novablocks-card__link) {
		position: relative;
		z-index: 20;
	}

	a.novablocks-card__link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;

		display: block;
		margin: 0;
	}
}
