.novablocks-card {
	@include clearfix;

	.wp-block-buttons[class] {
		float: none;
	}

	> .block-editor-block-list__layout {
		@include clearfix;
	}
}

.novablocks-card__media-wrap {
	max-width: none !important;
	padding: calc( var(--novablocks-spacing) * var(--card-media-padding, 0) / 100 );

	transition: var(--novablocks-transition);
	transition-property: margin;
}

.novablocks-collection {
	--block-top-spacing: var(--novablocks-block-top-spacing);
	--block-bottom-spacing: var(--novablocks-block-bottom-spacing);
	--emphasis-top-spacing: var(--novablocks-emphasis-top-spacing);
	--emphasis-bottom-spacing: var(--novablocks-emphasis-bottom-spacing);

	margin-top: calc(var(--block-top-spacing, 1) * var(--novablocks-spacing));
	margin-bottom: calc(var(--block-bottom-spacing, 1) * var(--novablocks-spacing));
	padding-top: calc(var(--emphasis-top-spacing, 1) * var(--novablocks-spacing));
	padding-bottom: calc(var(--emphasis-bottom-spacing, 1) * var(--novablocks-spacing));

	.novablocks-block__content {
		padding: 0;
	}
}

.novablocks-collection:not(.content-is-basic) {

	.novablocks-card__media-wrap {
		margin: calc( -0.5 * var(--block-content-padding) );
		margin-bottom: calc( 0.5 * var(--block-content-padding) );
	}

	.novablocks-block__content {
		padding: calc( 0.5 * var(--block-content-padding) );
	}
}

.novablocks-card__media {
	position: relative;
	padding-top: var(--card-media-padding-top, 100%);
	overflow: hidden;
}

.novablocks-card__media-placeholder,
.novablocks-card__media-image[class] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.novablocks-card__media-image {
	object-fit: var(--card-media-object-fit, cover);
}

.novablocks-card__media-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--novablocks-light-3);

	svg {
		max-width: 50%;
		max-height: 50%;
	}
}

.novablocks-card__subtitle {

	a {
		text-decoration: inherit;
		color: inherit;
	}
}

.novablocks-card {

	a:not(.novablocks-card__link) {
		position: relative;
		z-index: 20;
	}

	a.novablocks-card__link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;

		display: block;
		margin: 0;
	}
}
