[data-type="novablocks/media"] {

  &[data-type] {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

	@include advanced-gallery-overlay-styles;
}

.novablocks-media__aside {

	> .block-editor-media-placeholder {
		height: 100%;
		margin-bottom: 0;
	}
}

.novablocks-media__placeholder {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;

	background-color: #EEEEEE;
}

.novablocks-media__content:before,
.novablocks-media__content:after,
.novablocks-media__inner-container {
	transition: var(--novablocks-transition);
	transition-property: flex-grow;
}
