.novablocks-media {
  --nb-card-content-padding: calc( var(--nb-spacing) * var(--nb-element-spacing-multiplier, 1) * ( 2 * var(--nb-card-content-padding-multiplier, 0) ) );
  --nb-layout-gap: calc( var(--nb-media-layout-gutter) * 0.02 * var(--nb-media-spacing) );

  margin-left: auto;
	margin-right: auto;

	// hack to contain negative margin-top of .novablocks-media__layout
	> .wp-block-group__inner-container {
		padding-top: 1px;
	}

	// make sure negative margin used for layout doesnt overlap other blocks
	.wp-block-group__inner-container > .wp-block {
		display: flex;
    
    // We want all items inside Media Content
    // to have 100%. We do the same on front-end.
    // Doing that, we avoid squashing the Media Card, when
    // content is not long enough.
    width: 100%;

		> * {
			flex-grow: 1;
		}
	}
}

.novablocks-media__layout {
	margin-top: calc( -1 * var(--nb-layout-gap) );
	margin-left: calc( -1 * var(--nb-layout-gap) );
	pointer-events: none;

	> * {
		padding-left: var(--nb-layout-gap);
		margin-top: var(--nb-layout-gap);
		pointer-events: auto;
	}

	@include above(tablet) {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;

		.novablocks-media__aside {
			flex: 1 1 calc( 100% - var(--nb-media-content-width, 50%) );
		}

		.novablocks-media__content {
			flex: 1 1 var(--nb-media-content-width, 50%);
		}
	}
}

.novablocks-media,
.novablocks-media .novablocks-media-composition,
.novablocks-media__layout,
.novablocks-media__aside,
.novablocks-media__content {
	transition: var(--nb-transition);
	transition-property: padding, margin;
}

.novablocks-media {
  --block-top-spacing: var(--nb-block-top-spacing, 0);
  --block-bottom-spacing: var(--nb-block-bottom-spacing, 0);
  --emphasis-top-spacing: var(--nb-emphasis-top-spacing, 0);
  --emphasis-bottom-spacing: var(--nb-emphasis-bottom-spacing, 0);

  &[class][class] {
    padding-top: 0;
    padding-bottom: 0;
  }

	@include above(tablet) {
		margin-top: calc( var(--block-top-spacing) * var(--nb-media-spacing));
		margin-bottom: calc( var(--block-bottom-spacing) * var(--nb-media-spacing));

		padding-top: calc( -1 * var(--emphasis-top-spacing) * var(--nb-media-spacing));
		padding-bottom: calc( -1 * var(--emphasis-bottom-spacing) * var(--nb-media-spacing));

		.components-placeholder,
		.novablocks-media-composition {
			margin-top: calc( var(--emphasis-top-spacing) * var(--nb-media-spacing));
			margin-bottom: calc( var(--emphasis-bottom-spacing) * var(--nb-media-spacing));
		}

		.novablocks-media__content {
			padding-top: calc( var(--emphasis-top-spacing) * var(--nb-media-spacing));
			padding-bottom: calc( var(--emphasis-bottom-spacing) * var(--nb-media-spacing));
		}
	}

	@include below(tablet) {
		--nb-layout-gap: 0 !important;
		--nb-block-top-spacing: 1;
		--nb-block-bottom-spacing: 1;
		--nb-emphasis-top-spacing: 0;
		--nb-emphasis-bottom-spacing: 0;

		.novablocks-block,
		.novablocks-media__content,
		.novablocks-media__aside {
			padding-top: calc( var(--nb-media-spacing) * 0.5 );
			padding-bottom: calc( var(--nb-media-spacing) * 0.5 );
		}
	}
}

.novablocks-media {

	.novablocks-block[class] {
		background: linear-gradient(
				var(--nb-media-background-direction),
				var(--nb-bg-color) 0,
				var(--nb-bg-color) calc(var(--nb-emphasis-area) * 1%),
				transparent calc(var(--nb-emphasis-area) * 1%)
		);
		background-size: 100% 100%;

		@include below(tablet) {
			--nb-emphasis-area: 100;
		}
	}

	&.has-image-on-the-left {
		--nb-media-background-direction: -90deg;
	}
}

// Transition between different alignment states
.novablocks-media__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 0;
		flex: 0 0 auto;
	}

	.novablocks-u-valign-top &,
	.novablocks-u-valign-center &,
	.novablocks-u-valign-bottom & {

		&:before,
		&:after {
			flex-grow: 1;
		}
	}

	.novablocks-u-valign-top & {

		&:before {
			flex-grow: 0;
		}
	}

	.novablocks-u-valign-bottom & {

		&:after {
			flex-grow: 0;
		}
	}
}

.novablocks-media__inner-container {
	flex-grow: 1;

	.novablocks-u-valign-top &,
	.novablocks-u-valign-center &,
	.novablocks-u-valign-bottom & {
		flex-grow: 0;
	}

	&.has-image-on-the-left {
		--nb-media-background-direction: -90deg;
	}

	> * {
		width: 100%;
	}
}

@import 'scss/content';
@import 'scss/aside';
