.novablocks-media {
	margin-left: auto;
	margin-right: auto;

	// hack to contain negative margin-top of .novablocks-media__layout
	> .wp-block-group__inner-container {
		padding-top: 1px;
	}

	// make sure negative margin used for layout doesnt overlap other blocks
	.wp-block-group__inner-container > .wp-block {
		display: flex;

		> * {
			flex-grow: 1;
		}
	}
}

.novablocks-media__layout {
	margin-top: calc( -1 * var(--novablocks-media-gutter) );
	margin-left: calc( -1 * var(--novablocks-media-gutter) );
	pointer-events: none;

	> * {
		padding-left: var(--novablocks-media-gutter);
		margin-top: var(--novablocks-media-gutter);
		pointer-events: auto;
	}

	@include above(tablet) {
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;

		.novablocks-media__aside {
			flex: 1 1 calc( 100% - var(--novablocks-media-content-width, 50%) );
		}

		.novablocks-media__content {
			flex: 1 1 var(--novablocks-media-content-width, 50%);
		}
	}
}

.novablocks-media,
.novablocks-media .novablocks-advanced-gallery,
.novablocks-media__layout,
.novablocks-media__aside,
.novablocks-media__content {
	transition: var(--novablocks-transition);
	transition-property: padding, margin;
}

.novablocks-media[class][class] {
	--block-top-spacing: var(--novablocks-block-top-spacing);
	--block-bottom-spacing: var(--novablocks-block-bottom-spacing);
	--emphasis-top-spacing: var(--novablocks-emphasis-top-spacing);
	--emphasis-bottom-spacing: var(--novablocks-emphasis-bottom-spacing);

	@include above(tablet) {
		margin-top: calc( var(--block-top-spacing, 0) * var(--novablocks-media-spacing) );
		margin-bottom: calc( var(--block-bottom-spacing, 0) * var(--novablocks-media-spacing) );

		padding-top: calc( -1 * var(--emphasis-top-spacing, 0) * var(--novablocks-media-spacing) );
		padding-bottom: calc( -1 * var(--emphasis-bottom-spacing, 0) * var(--novablocks-media-spacing) );

		.components-placeholder,
		.novablocks-advanced-gallery {
			margin-top: calc( var(--emphasis-top-spacing, 0) * var(--novablocks-media-spacing) );
			margin-bottom: calc( var(--emphasis-bottom-spacing, 0) * var(--novablocks-media-spacing) );
		}

		.novablocks-media__content {
			padding-top: calc( var(--emphasis-top-spacing, 0) * var(--novablocks-media-spacing) );
			padding-bottom: calc( var(--emphasis-bottom-spacing, 0) * var(--novablocks-media-spacing) );
		}
	}

	@include below(tablet) {
		--novablocks-media-gutter: 0 !important;
		--block-top-spacing: 1;
		--block-bottom-spacing: 1;
		--emphasis-top-spacing: 0;
		--emphasis-bottom-spacing: 0;

		.novablocks-block,
		.novablocks-media__content,
		.novablocks-media__aside {
			padding-top: calc( var(--novablocks-media-spacing) * 0.5 );
			padding-bottom: calc( var(--novablocks-media-spacing) * 0.5 );
		}
	}
}

.novablocks-media {

	.novablocks-block[class] {
		background: linear-gradient(
				var(--novablocks-media-background-direction),
				var(--novablocks-block-background-color) 0,
				var(--novablocks-block-background-color) calc(var(--emphasis-area) * 1%),
				transparent calc(var(--emphasis-area) * 1%)
		);
		background-size: 100% 100%;


		@include below(tablet) {
			--emphasis-area: 100;
		}
	}

	&.has-image-on-the-left {
		--novablocks-media-background-direction: -90deg;
	}
}

// Transition between different alignment states
.novablocks-media__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 0;
		flex: 0 0 auto;
	}

	.novablocks-u-valign-top &,
	.novablocks-u-valign-center &,
	.novablocks-u-valign-bottom & {

		&:before,
		&:after {
			flex-grow: 1;
		}
	}

	.novablocks-u-valign-top & {

		&:before {
			flex-grow: 0;
		}
	}

	.novablocks-u-valign-bottom & {

		&:after {
			flex-grow: 0;
		}
	}
}

.novablocks-media__inner-container {
	flex-grow: 1;

	.novablocks-u-valign-top &,
	.novablocks-u-valign-center &,
	.novablocks-u-valign-bottom & {
		flex-grow: 0;
	}

	&.has-image-on-the-left {
		--novablocks-media-background-direction: -90deg;
	}

	> * {
		width: 100%;
	}
}

@import 'scss/content';
@import 'scss/aside';
