.novablocks-collection-carousel--variable {

  .novablocks-card__layout {
    display: table;
    width: 1px;
  }

  .novablocks-card--fixed-media-aspect-ratio .novablocks-card__media {

    padding-top: 0;

    img {
      position: static;

      width: auto;
      height: 20em;

      max-width: none;
    }
  }
}

.novablocks-collection__layout .slick-slide[class] {
  opacity: 1;
}

.novablocks-collection--carousel {
  .slick-slider {
    // This will prevent carousel
    // overflowing in editor
    // source: https://github.com/kenwheeler/slick/issues/982#issuecomment-408044585
    
    overflow: hidden;
    min-width: 100%;
    width: 0;
  }
}
