.novablocks-collection__layout[data-layoutstyle="carousel"] {
  --novablocks-collection-layout-spacing: 0;
}

.novablocks-collection--carousel {
  --carousel-arrow-width: 1.5rem;
  --slider-gap: 0.5rem;
  
  .novablocks-card--landscape .novablocks-card__layout {
    @include below(lap) {
      flex-direction: column;
      --grid-item-content-display: block;
      --grid-item-buttons-display: block;
      --novablocks-card-title-font-size-modifier: 1;
      
      > .novablocks-card__layout-content {
        flex: 1;
      }
    }
  }
  
  .novablocks-collection__layout[data-columns="1"] {
    .slick-slide {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  
  @include below(lap) {
    --slider-gap: 0.3rem;
    
    .slick-list {
      padding-left: 0 !important;
    }
    
    .novablocks-collection__layout {
      margin-left: calc( var(--slider-gap) * -1 );
    }
  }
}

.novablocks-collection-carousel--variable {
  
  // Hackish way to allow
  // variable width in Carousel
  @include above(lap) {
    .novablocks-card__layout {
      display: table;
      width: 1px;
    }
  
    .novablocks-block__content .novablocks-card__media {
    
      padding-top: 0;
    
      img {
        position: static;
      
        width: auto;
        // Height used for Carousel
        // with Variable Width
        height: 20em;
      
        max-width: none;
      }
    }
  }
}

.novablocks-collection__layout {
  
  @include below(lap) {
    .slick-arrow {
      display: none !important;
    }
    
    .slick-slide {
      padding-left: var(--slider-gap) ;
      padding-right: var(--slider-gap) ;
    }
  }
  
  @include above(lap) {
    
    .slick-slide {
      padding-left: var(--slider-gap);
      padding-right: var(--slider-gap);
    }
  
    .slick-list {
      margin-left: calc( -1 * var(--slider-gap) );
    }
    
    .slick-slider {
      margin-bottom: 0;
    }
  }
  
  .slick-slide {
    transition: opacity .2s ease;
  }
  
  .slick-arrow {
    top: calc( -1 * var(--element-spacing) - 1.3rem );
    left: auto;
    width: var(--carousel-arrow-width);
    height: var(--carousel-arrow-width);
  
    z-index: 100;
  
    &,
    &:hover,
    &:focus {
      color: currentColor;
    
    }
  
    &:before {
      font-size: var(--carousel-arrow-width);
      color: currentColor;
    }
    
    &.slick-next {
      right: 0;
    }
    
    &.slick-prev {
      right: calc( var(--carousel-arrow-width) + 1rem );
    }
  }
  
  .slick-slide:not(.slick-active) {
    opacity: 0.5;
  }
  
  .slick-dots {
    
    margin-left: -1em;
    margin-top: 1em;
    padding-left: 0 !important;
    
    z-index: 9999;
    
    > li {
      margin-left: 1em;
    }
    
    a {
      color: currentColor;
      text-decoration: none;
      border-bottom: 1px solid transparent;
    }
    
    .slick-active {
      a {
        color: var(--novablocks-color-primary);
        border-color: currentColor;
      }
    }
  }
}


.novablocks-collection__title,
.novablocks-collection__subtitle {
  // Make sure that title and subtitles
  // are not overlapping carousel arrows.
  padding-right: calc( 2 * var(--carousel-arrow-width) + 1rem );
}
