.nova-food-menu-item--highlighted[class] {
	margin-left: 0;
	margin-right: 0;
}

.nova-food-menu-item:not(.nova-food-menu-item--highlighted) {
	padding-left: 1em;
	padding-right: 1em;
}

.nova-food-menu__header {
	padding-left: 1em;
}

.nova-food-menu--layout
	> .block-editor-inner-blocks
	> .block-editor-block-list__layout {
	@include above(tablet) {
		column-count: 2;
		column-gap: 4em;
	}
}

.nova-food-menu[class] {
	.item-title,
	.item-description {
		margin-top: 0;
		margin-bottom: 0;
	}
}

[data-type*='menu-food-section']:not(:first-child) .nova-food-menu__section {
	margin-top: 1.5em;
}
.editor-styles-wrapper .nova-food-menu-item--highlight[class][class] {
	margin: 0 -1em 1em;
	width: calc(100% + 2em);
}

.nova-food-menu-item__label {
	margin: 0 !important;
	color: white;
}
