.nova-food-menu-item--highlighted[class] {
  margin-left: 0;
  margin-right: 0;
  padding: 0 1em 0.75em 1em;
}

.nova-food-menu-item:not(.nova-food-menu-item--highlighted) {
  padding-left: 1em;
  padding-right: 1em;
}

.nova-food-menu__header {
  padding-left: 1em;
}

.nova-food-menu--layout > .block-editor-inner-blocks > .block-editor-block-list__layout {
  column-count: 2;
}

.nova-food-menu[class] {
  .item-title,
  .item-description {
    margin-top: 0;
    margin-bottom: 0;
  }
}

[data-type*=menu-food-section]:not(:first-child) .nova-food-menu__section {
  margin-top: 1.5em;
}
