.nova-food-menu-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "title title title prices"
  "description description description prices";

  margin-bottom: 1em;
}


.nova-food-menu-item__title {
  position: relative;
  grid-area: title;
}

.nova-food-menu-item__prices {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 5;

  grid-area: prices;
}

.nova-food-menu-item__description {
  position: relative;

  grid-area: description;
}

.nova-food-menu-item--highlight {
  grid-area: label;

  font-size: 1em;
}

.item-price--sale {
  font-weight: 700;
  margin-left: 10px;
}

.has-sale-price .item-price {
  text-decoration: line-through;
  opacity: .6;
}

.nova-food-menu-item--highlight[class][class] {
  display: block;

  margin: 0 -1em 1em;
  width: calc(100% + 2em);

  padding: .2em 1em;

  color: white;
  background-color: $nova-blue;
}

.nova-food-menu-item--highlighted {
  grid-template-areas: "label label label label"
  "title title title prices"
  "description description description prices";

  margin-left: -1em;
  margin-right: -1em;
  padding: 0 1em 0.75em;
  border: 2px solid $nova-blue;
}

.entry-content .nova-food-menu--layout {
  @include above(tablet) {
    column-count: 2;
    column-gap: 2em;
  }
}
.nova-blocks-appender {
  flex-direction: row;
}

.item-title,
.item-description {
  margin-top: 0;
  margin-bottom: 0;
}

.item-description {
  line-height: 1.5;
}
