.nova-food-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  margin-bottom: 1em;
}

.nova-food-menu-item__title {
  position: relative;

  flex: 1 0 auto;
  margin-top: 0;
  margin-bottom: 0;

  text-align: left;
}

.nova-food-menu-item__prices {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.nova-food-menu-item__description {
  position: relative;

  flex-basis: 100%;

  margin-bottom: 0;
  text-align: left;
}

.item-price--sale {
  margin-left: 16px;
  background-color: $nova-blue;
  padding: 5px 10px;
  color: #FFFFFF;
}

.nova-food-menu-item--highlight {
  display: block;

  margin: 0 -1.35em 15px;
  width: calc(100% + 2.7em);

  padding: 3px 1.25em 2px 1.25em;

  text-transform: uppercase;

  color: white;
  background-color: $nova-blue;
}

.nova-food-menu-item--highlighted {
  margin-left: -1.35em;
  margin-right: -1.35em;
  padding: 0 1.35em 0.75em 1.35em;
  border: 2px solid $nova-blue;
}
