.novablocks-u-background {
	background-color: var(--element-background);
}

.novablocks-u-background-dark {
	--element-background: #000;
}

.novablocks-u-background-light {
	--element-background: #FFF;
}

.novablocks-u-background-none {
	--element-background: none;
}

* {
  --novablocks-current-accent-color: var(--sm-current-accent-color);
  --novablocks-current-text-color: var(--sm-current-dark-color);
  --novablocks-current-titles-color: var(--sm-current-darker-color);
  --novablocks-current-background-color: var(--sm-current-background-color);
}
