:root {
    --novablocks-hero-transition-duration: 0.4s;
    --novablocks-hero-transition-easing: ease-out;
    --novablocks-hero-transition: all var(--novablocks-media-transition-duration) var(--novablocks-media-transition-easing);
}

.wp-block-pixelgrade-hero {
    transition: var(--novablocks-hero-transition);
    transition-property: color;
}

.novablocks-hero__media {
    transition: var(--novablocks-hero-transition);
    transition-property: opacity;
}

.novablocks-hero__mask {
	overflow: hidden;
}

.pixelgrade-hero-block-toolbar-dropdown {

    button {
        display: flex;
        align-items: center;

        &:after {
            content: "";
            border: 0 solid transparent;
            border-width: 4px 3px 0;
            border-top-color: currentColor;
            margin-left: 4px;
        }
    }
}
