.novablocks-hero {
    position: relative;
    display: flex;
}

.novablocks-hero__mask,
.novablocks-hero__parallax,
.novablocks-hero__slider {
    @include cover;
}

body:not(.wp-admin) .novablocks-hero__parallax {
	opacity: 0;
	transition: opacity .3s ease-out;
}

.novablocks-hero__media[class] {
    @include image-cover;
}

.novablocks-hero__foreground {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.novablocks-hero__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    color: inherit;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 12px;
        border: 2px solid transparent;
        border-right-color: currentColor;
        border-bottom-color: currentColor;

        transform: translateY(-100%) rotate(45deg);
    }
}

.components-nova--popover {
    &.components-popover {
        &:not(.is-mobile) {
            .components-popover__content {
                // min-width: 260px;
                padding: 16px;
            }
        }
    }
}




