@import 'bully';

.novablocks-hero {
	position: relative;
	display: flex;
	color: var(--novablocks-hero-text-color);
}

.novablocks-hero.scrolling-effect-doppler {
	align-items: flex-start;
}

.novablocks-hero__slider {
	@include cover;
}

.novablocks-hero__media[class] {
	@include image-cover;
}

.novablocks-hero__foreground {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

	.novablocks-hero__inner-container {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: inherit;
		}
	}
}

.novablocks-hero__indicator {
	position: absolute;
	top: calc( 100% - var(--novablocks-content-padding) );
	left: 50%;
	right: 0;

	display: flex;
	justify-content: center;
	color: inherit;

	transition: all .3s ease-out;
	transition-property: opacity;
	transform: translate(-50%, -100%);
	cursor: pointer;

	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;

		width: 12px;
		height: 12px;
		border: 2px solid currentColor;
		border-left: 0;
		border-top: 0;

		transform: translate(-50%, -70%) rotate(45deg);
	}
}

.novablocks-hero__indicator--hidden {
	opacity: 0;
}

.components-nova--popover {
	&.components-popover {
		&:not(.is-mobile) {
			.components-popover__content {
				// min-width: 260px;
				padding: 16px;
			}
		}
	}
}
