.nova-hero {
    position: relative;
    display: flex;
}

.nova-hero__mask,
.nova-hero__background,
.nova-hero__slider {
    @include cover;
}

.nova-hero__media[class] {
    @include image-cover;
}

.nova-hero__foreground {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nova-hero__foreground[class] {

	h1, h2, h3, h4, h5, h6,
	ul, ol, dl,
	.editor-block-list__block {
		color: inherit;
	}
}

.nova-hero__indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    color: inherit;

    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 12px;
        height: 12px;
        border: 2px solid transparent;
        border-right-color: currentColor;
        border-bottom-color: currentColor;

        transform: translateY(-100%) rotate(45deg);
    }
}

.components-nova--popover {
    &.components-popover {
        &:not(.is-mobile) {
            .components-popover__content {
                // min-width: 260px;
                padding: 16px;
            }
        }
    }
}




