@mixin novablocks-sharing-link-hover {
  transform: translateZ(0);

  &:before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    background: var(--nb-fg1-color);
    transition: var(--nb-transition);
    transition-property: background-color;
    transition-duration: .15s;
    opacity: 0.1;
  }

  &:hover:before {
    background: var(--nb-bg-color);
  }
}
