@mixin novablocks-collection-layout {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	--novablocks-collection-layout-spacing: calc(var(--novablocks-collection-layout-spacing-multiplier, 1) * var(--novablocks-spacing));
	margin-top: calc(-1 * var(--novablocks-collection-layout-spacing));
	margin-left: calc(-1 * var(--novablocks-collection-layout-spacing));
	pointer-events: none;

	> * {
		--surplus: 0px;
		--width: calc( ( 100% - var(--surplus) ) / var(--columns, 1) - var(--novablocks-collection-layout-spacing));

		flex: 0 1 var(--width);
		margin-top: var(--novablocks-collection-layout-spacing);
		margin-left: var(--novablocks-collection-layout-spacing);
		pointer-events: auto;

		@include below(lap) {
			--columns: var(--columns-below-lap, 1) !important;
		}

		@include below(tablet) {
			--columns: var(--columns-below-tablet, 1) !important;
		}
	}

	&[class][class] > * {
		max-width: var(--width);
	}

	> div:not([class]) {
		display: flex;
		flex-direction: column;

		> .novablocks-card {
			height: 100%;
		}
	}
}

// $surplus: number of extra elements that ar siblings of the columns
@mixin novablocks-cards-columns-count( $surplus: 0 ) {

	> * {

		@include count(#{2 + $surplus}) {
			--columns: 2;
		}

		@include count(#{3 + $surplus}) {
			--columns: 3;
		}

		@include count(#{4 + $surplus}) {
			--columns: 4;
			--columns-below-lap: 2;
		}
	}
}
