@import 'scss/mixins';

:root {
  --enable-social-icons: 1;
}

:is(.novablocks-header, #more.specific) {
  display: block;
  position: relative;
}

.novablocks-header:not(.novablocks-header--ready) {
  opacity: 1;
  --header-background-opacity: 1;
}
