@import 'scss/mixins';

:root {
  --enable-social-icons: 1;
}

:is(.nb-header, #more.specific) {
  display: block;
  position: relative;
}

.nb-header:not(.nb-header--ready) {
  opacity: 1;
  --header-background-opacity: 1;
}
