@import 'scss/mixins';
@import 'scss/menu-toggle';
@import 'scss/reading-bar';

@import 'scss/header-mobile';
@import 'scss/header-secondary';

:root {
  --icons-size-multiplier: 1.3;
  --icons-horizontal-spacing-reducer: 2;
}

.novablocks-header[class] {
  //position: absolute;
  width: 100%;
}

.novablocks-header--sticky[class] {
  --header-background-opacity: 0.95;

  //position: fixed;
  //top: 0;
}

.novablocks-header--mobile {
  
  @include above(lap) {
    display: none;
  }

  &.novablocks-header--scrolled {
    color: var(--sm-current-fg2-color, var(--nb-fg2-color));
  }
}

@include above(lap) {

  .novablocks-header--main {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2001;

    transition: var(--theme-transition);
    transition-property: opacity;

    //will-change: transform;
  }

  .novablocks-header__inner-container {
    width: 100%;
  }

  .novablocks-header__content {

    > .novablocks-navigation {

      > .menu,
      > .menu > ul {
        justify-content: inherit;
      }
    }
  }
}

@import 'scss/mobile';
@import 'scss/mobile-transitions';

:where(.novablocks-header-background) {
  @include header-background;
}

:where(.novablocks-header-shadow) {
  @include header-shadow;
}

//.novablocks-header--main:not(.novablocks-header--sticky) {
//
//  @include above(lap) {
//    // @todo:
//    // In case the Header is a single sticky row, there is a slight
//    // jerkiness when start scrolling and the "position" is changed
//    // from "absolute" to "fixed".
//    //
//    // The "position: fixed" seem solve this issue, but it's not working
//    // when there are multiple rows inside the Header.
//    position: absolute !important;
//    top: 0 !important;
//  }
//
//  @include below(lap) {
//    margin-top: 0 !important;
//  }
//}

.novablocks-header:not(.novablocks-header--ready) {
  opacity: 0;
  --header-background-opacity: 0;
}

// hide all header and header-row backgrounds when header is transparent
.novablocks-header.novablocks-header--transparent:not(.novablocks-header--sticky) {

  @include above(lap) {
    --header-background-opacity: 0;
  }
}

.novablocks-header--mobile {

  &.novablocks-header--transparent {

    &:before {
      --header-background-opacity: 0;
    }
  }

  &:not(.novablocks-header--transparent) {
    --header-background-opacity: 0.95;
  }
}


.novablocks-header--sticky:not(.novablocks-header--main) {

  @include above(lap) {
    margin-top: 0 !important;
  }
}

//.novablocks-header--sticky.novablocks-header--main {
//  position: fixed !important;
//  top: 0 !important;
//
//  @include above(lap) {
//    &:before {
//      --header-background-opacity: 0;
//    }
//  }
//}

