@import 'scss/mixins';
@import 'scss/menu-toggle';

:root {
  --icons-size-multiplier: 1.3;
  --icons-horizontal-spacing-reducer: 2;
}

// Nova Blocks hacks
.site-header {
  position: absolute;
  width: 100%;
}

.site-header--mobile {
  display: none;

  &.site-header--scrolled {
    color: var(--novablocks-fg2-color);
  }
}

@import "scss/header-secondary";

@include above(lap) {

  .site-header--main {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    transition: var(--theme-transition);
    transition-property: opacity;

    will-change: transform;
  }

  .site-header__inner-container {
    width: 100%;
  }

  .site-header__content {

    > .wp-block-novablocks-navigation {

      > .menu,
      > .menu > ul {
        justify-content: inherit;
      }
    }

    &.alignfull[class] {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@import 'scss/mobile';
@import 'scss/mobile-transitions';

@include below(lap) {

  .site-header__row {
    display: flex;
    flex-direction: column;

    .site-header__menu--primary {
      order: -1;
    }
  }

  .site-header__row--primary {
    order: -1;
  }
}


.site-header-background {
  @include header-background;
}

.site-header-shadow {
  @include header-shadow;
}

.site-header--sticky {
  --header-background-opacity: 0.95;

  position: fixed;
  top: 0;
}

