.nb-facetwp-filter--section-type-hidden:not(.is-visible) {
  display: none;
}

:is(.facetwp-selections, #specific) {

  > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    > li {
      position: relative;
      padding: 0.25em 0.75em;
      transform: translateZ(0);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        background: currentColor;
        opacity: 0.1;
        border-radius: 0.25em;
      }
    }
  }

  .facetwp-selection-value {
    position: relative;

    padding-right: 1.1em;
    margin-right: 0;
    background: none;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: calc(50% - 0.5em);
      right: 0.4em;

      display: block;
      width: 0.1em;
      height: 1em;
      border-radius: 0.1em;
      background: currentColor;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.nb-facetwp-filter--orientation-horizontal {
  display: flex;
  gap: var(--nb-spacing);

  .nb-facetwp-facet {
    display: flex;
    gap: calc( var(--nb-spacing) * 0.5 );
  }

  :is(.facetwp-type-radio) {
    display: flex;
    flex-wrap: wrap;
    gap: calc( var(--nb-spacing) * 0.5 );
  }
}
