.novablocks-media__inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	word-break: break-word;

  &[class][class] {
    padding: calc( var(--nb-media-spacing) * var(--nb-card-content-padding, 0) / 100 );
  }
}
