.novablocks-block {
	--novablocks-block-text-color: var(--novablocks-dark-2);
	--novablocks-block-titles-color: var(--novablocks-dark-2);
	--novablocks-block-subtitles-color: var(--novablocks-color-1);
	--novablocks-block-background-color: var(--novablocks-light-1);

	--novablocks-block-padding: 0;
	--novablocks-block-content-padding: 0;

	--novablocks-block-content-text-color: var(--novablocks-dark-2);
	--novablocks-block-content-titles-color: var(--novablocks-dark-2);
	--novablocks-block-content-subtitles-color: var(--novablocks-color-1);
	--novablocks-block-content-background-color: transparent;
	--novablocks-block-content-background-opacity: 1;
	--novablocks-block-content-box-shadow: none;

	&[class] {
		padding: var(--novablocks-block-padding) 0;
		color: var(--novablocks-block-text-color);
		background-color: var(--novablocks-block-background-color);

		transition: var(--novablocks-transition);
		transition-property: background-color, padding;

		h1, h2, h3, h4, h5, h6 {
			transition: var(--novablocks-transition);
			transition-property: color;
		}

		h1, h2, h3 {
			color: var(--novablocks-block-titles-color);
		}

		h4, h5, h6 {
			color: var(--novablocks-block-subtitles-color);
		}
	}

	.wp-block-group__inner-container {
		padding-left: var(--novablocks-sides-spacings);
		padding-right: var(--novablocks-sides-spacings);
	}
}

.novablocks-block__content {
	position: relative;

	color: var(--novablocks-block-content-text-color);
	transform: translateZ(0);

	transition: var(--novablocks-transition);
	transition-property: padding, box-shadow;

	&[class] {
		padding: var(--novablocks-block-content-padding);

		h1, h2, h3 {
			color: var(--novablocks-block-content-titles-color);
		}

		h4, h5, h6 {
			color: var(--novablocks-block-content-subtitles-color);
		}
	}

	@include above(tablet) {
		box-shadow: var(--novablocks-block-content-box-shadow);

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;

			display: block;
			background-color: var(--novablocks-block-content-background-color);
			opacity: var(--novablocks-block-content-background-opacity);
			pointer-events: none;

			transition: var(--novablocks-transition);
			transition-property: background-color, opacity;
		}
	}
}

.block-is-moderate,
.block-is-highlighted {
	--novablocks-block-padding: var(--novablocks-spacing);
}

@include above(tablet) {

	.block-is-moderate {
		--novablocks-block-background-color: var(--novablocks-light-3);
	}

	.block-is-highlighted {
		--novablocks-block-background-color: var(--novablocks-dark-3);
		--novablocks-block-text-color: var(--novablocks-light-1);
		--novablocks-block-titles-color: var(--novablocks-light-1);
		--novablocks-block-subtitles-color: var(--novablocks-light-1);
	}

	.content-is-moderate,
	.content-is-highlighted {
		--novablocks-block-content-padding: var(--novablocks-spacing);
	}

	.content-is-moderate,
	.content-is-highlighted.block-is-highlighted {
		--novablocks-block-content-background-color: var(--novablocks-light-1);
		--novablocks-block-content-box-shadow: #{$nova-box-shadow-nova};
	}

	.content-is-moderate.block-is-highlighted {
		--novablocks-block-content-background-color: var(--novablocks-light-1);
		--novablocks-block-content-background-opacity: 0.2;
	}

	.block-is-highlighted:not(.content-is-highlighted),
	.content-is-highlighted:not(.block-is-highlighted) {
		--novablocks-block-content-text-color: var(--novablocks-light-1);
		--novablocks-block-content-titles-color: var(--novablocks-block-content-text-color);
	}

	.content-is-highlighted:not(.block-is-highlighted) {
		--novablocks-block-content-background-color: var(--novablocks-dark-3);
	}
}
