:root {
	--novablocks-element-spacing-level-1-multiplier: 1;
	--novablocks-element-spacing-level-2-multiplier: 0.5;
	--novablocks-element-spacing-level-3-multiplier: 0.25;
}

.block-editor-block-list__layout {

	& {
		--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-1-multiplier);
	}

	& & {
		--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-2-multiplier);
	}

	& & & {
		--novablocks-element-spacing-multiplier: var(--novablocks-element-spacing-level-3-multiplier);
	}
}

@mixin block-spacing {
	--block-top-spacing: 0;
	--block-bottom-spacing: 0;

	&:not(:first-child) {
		--block-top-spacing: 1;
	}

	margin-top: calc( var(--block-top-spacing) * var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) );
	margin-bottom: calc( var(--block-bottom-spacing) * var(--novablocks-spacing) * var(--novablocks-element-spacing-multiplier, 1) );
}

.block-editor-block-list__layout > * {
	@include block-spacing;
}

[data-type="novablocks/cards-collection"],
[data-type="novablocks/media"] {

	&[data-type] {
		--block-top-spacing: 0;
		--block-bottom-spacing: 0;
	}
}

[data-type="novablocks/hero"],
[data-type="novablocks/slideshow"] {

	& + &,
	[data-type="novablocks/media"] + & {
		--block-top-spacing: 0;
	}
}
