:root {
	--novablocks-color-1: #203AB6;
	--novablocks-color-2: #FFE42E;
	--novablocks-color-3: #323067;

	--novablocks-dark-1: #323067;
	--novablocks-dark-2: #272743;
	--novablocks-dark-3: #000043;

	--novablocks-light-1: #FFFFFF;
	--novablocks-light-2: #EDF0F1;
	--novablocks-light-3: #EDF0F1;

	--novablocks-spacing: 24px;
	--novablocks-sides-spacings: var(--novablocks-spacing);
	--novablocks-media-spacing: var(--novablocks-spacing);
	--novablocks-media-gutter: var(--novablocks-spacing);
	--novablocks-media-background-direction: 90deg;

	--novablocks-transition-duration: 0.5s;
	--novablocks-transition-easing: ease;
	--novablocks-transition: all var(--novablocks-transition-duration) var(--novablocks-transition-easing);
}
