$nova-blue:                 #203AB6         !default;
$nova-blue-dark:            #323067         !default;
$nova-blue-darker:          #000043         !default;

$nova-yellow:               #FFE42E         !default;
$nova-text-color:           #272743         !default;

$nova-white:                #FFFFFF         !default;
$nova-gray:                 #EDF0F1         !default;

:root {
    --nova-color-1: #{$nova-blue};
    --nova-color-2: #{$nova-yellow};
    --nova-color-3: #{$nova-blue-dark};

    --nova-dark-1: #{$nova-blue-dark};
    --nova-dark-2: #{$nova-text-color};
    --nova-dark-3: #{$nova-blue-darker};

    --nova-light-1: #{$nova-white};
    --nova-light-2: #{$nova-gray};
    --nova-light-3: #{$nova-gray};
}
