@import 'style';

@import '../components/layout-panel/style';
@import '../components/scrolling-effect-controls/style';

@import '../components/alignment-controls/editor';
@import '../components/color-controls/editor';

@import '../blocks/announcement-bar/scss/editor';
@import '../blocks/header/scss/editor';
@import '../blocks/logo/scss/editor';
@import '../blocks/google-map/scss/editor';
@import '../blocks/hero/scss/editor';
@import '../blocks/media/scss/editor';
@import '../blocks/slideshow/scss/editor';
@import '../blocks/navigation/scss/editor';
@import '../blocks/opentable/scss/editor';
@import '../blocks/menu-food/scss/editor';

.novablocks-mask {
	@include cover;
	overflow: hidden;
}

.block-editor-inserter__preview {
	transform: scale(0.8);
	max-height: 300px;
	overflow: hidden;
}

.components-placeholder {
	line-height: 1.8;
}

// don't collapse margins
.wp-block[data-type="novablocks/media"] {
	display: flex;

	> * {
		flex-grow: 1;
	}
}

:root {
	--novablocks-media-spacing-unit: 3rem;
}

.novablocks-media[class][class] {
	margin-top: calc( var(--block-top-spacing, 0) * var(--novablocks-media-spacing-unit) );
	margin-bottom: calc( var(--block-bottom-spacing, 0) * var(--novablocks-media-spacing-unit) );

	padding-top: calc( -1 * var(--emphasis-top-spacing, 0) * var(--novablocks-media-spacing-unit) );
	padding-bottom: calc( -1 * var(--emphasis-bottom-spacing, 0) * var(--novablocks-media-spacing-unit) );

	transition: var(--novablocks-media-transition);
	transition-property: margin, padding;

	.novablocks-advanced-gallery {
		margin-top: calc( var(--emphasis-top-spacing, 0) * var(--novablocks-media-spacing-unit) );
		margin-bottom: calc( var(--emphasis-bottom-spacing, 0) * var(--novablocks-media-spacing-unit) );

		transition: var(--novablocks-media-transition);
		transition-property: margin, padding;
	}

	.wp-block-group__inner-container {
		background-color: #f9e447;
	}

	.novablocks-media__content {
		padding-top: calc( var(--emphasis-top-spacing, 0) * var(--novablocks-media-spacing-unit) );
		padding-bottom: calc( var(--emphasis-bottom-spacing, 0) * var(--novablocks-media-spacing-unit) );

		transition: var(--novablocks-media-transition);
		transition-property: padding;
	}
}

.novablocks-media__content.novablocks-u-content-align {
	flex-direction: column;
	justify-content: center;

	&:before,
	&:after {
		content: '';
		display: block;
		height: 0;
		flex: 1 0 auto;
		transition: var(--novablocks-media-transition);
		transition-property: flex-grow;
	}

	.novablocks-u-valign-top & {

		&:before {
			flex-grow: 0;
		}
	}

	.novablocks-u-valign-center & {

		&:before,
		&:after {
			flex-grow: 0;
		}
	}

	.novablocks-u-valign-bottom & {

		&:after {
			flex-grow: 0;
		}
	}
}

.wp-block-group__inner-container {
	position: relative;

	&:before,
	&:after {
		position: absolute;
		left: 0;
		right: 0;

		content: '';
		display: block;
		height: calc( 5 * var(--novablocks-media-spacing-unit) );
		background:
			linear-gradient(to bottom, rgba(0,0,0,0.2) 1px, rgba(0,0,0,0) 1px),
			linear-gradient(to bottom, transparent 40%, red 40%, red calc(40% + 1px), transparent calc(40% + 1px));
		background-size:
			20% 20%,
			100% 100%;
	}

	&:before {
		top: calc( -2 * var(--novablocks-media-spacing-unit) );
	}

	&:after {
		bottom: calc( -3 * var(--novablocks-media-spacing-unit) );
	}
}

.novablocks-media {
	position: relative;

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		background: #b9deff;
		left: 0;
		right: 0;

		transition: var(--novablocks-media-transition);
		transition-property: padding, top, bottom;
	}

	&:before {
		--offset: calc( max( 0, -1 * var(--block-top-spacing, 0) ) );
		padding-top: calc( -1 * var(--block-top-spacing, 0) * var(--novablocks-media-spacing-unit) );
		padding-bottom: calc( var(--block-top-spacing, 0) * var(--novablocks-media-spacing-unit) );
		bottom: calc( 100% - var(--offset) * var(--novablocks-media-spacing-unit) );
	}

	&:after {
		--offset: calc( max( 0, -1 * var(--block-bottom-spacing, 0) ) );
		padding-top: calc( -1 * var(--block-bottom-spacing, 0) * var(--novablocks-media-spacing-unit) );
		padding-bottom: calc( var(--block-bottom-spacing, 0) * var(--novablocks-media-spacing-unit) );
		top: calc( 100% - var(--offset) * var(--novablocks-media-spacing-unit) );
	}
}

.novablocks-media__aside {
	z-index: 100;
}

