@import 'style';

@import '../components/layout-panel/style';
@import '../components/scrolling-effect-controls/style';

@import '../components/alignment-controls/editor';
@import '../components/color-controls/editor';

@import '../blocks/announcement-bar/scss/editor';
@import '../blocks/header/scss/editor';
@import '../blocks/logo/scss/editor';
@import '../blocks/google-map/scss/editor';
@import '../blocks/hero/scss/editor';
@import '../blocks/media/scss/editor';
@import '../blocks/slideshow/scss/editor';
@import '../blocks/navigation/scss/editor';
@import '../blocks/opentable/scss/editor';
@import '../blocks/menu-food/scss/editor';

.novablocks-mask {
	@include cover;
	overflow: hidden;
}

.block-editor-inserter__preview {
	transform: scale(0.8);
	max-height: 300px;
	overflow: hidden;
}

.components-placeholder {
	line-height: 1.8;
}

.wp-block-novablocks-media[class][class] {
	--media-spacing-unit: 2rem;

	// don't collapse margins
	display: flex;

	> * {
		flex-grow: 1;
	}

	.wp-block-group__inner-container {
		margin-top: calc( var(--block-top-spacing, 0) * var(--media-spacing-unit) );
		margin-bottom: calc( var(--block-bottom-spacing, 0) * var(--media-spacing-unit) );

		padding-top: calc( var(--emphasis-top-spacing, 0) * var(--media-spacing-unit) );
		padding-bottom: calc( var(--emphasis-bottom-spacing, 0) * var(--media-spacing-unit) );

		transition: var(--novablocks-media-transition);
		transition-property: margin, padding;
	}

	.novablocks-media__content {
		padding-top: calc( -1 * var(--emphasis-top-spacing, 0) * var(--media-spacing-unit) );
		padding-bottom: calc( -1 * var(--emphasis-bottom-spacing, 0) * var(--media-spacing-unit) );

		transition: var(--novablocks-media-transition);
		transition-property: padding;
	}
}

.novablocks-media__aside {
	z-index: 100;
}

