@import 'variables';
@import 'mixins';

@import './emphasis';

@import '../components/layout-panel/style';
@import '../components/scrolling-effect-controls/style';

@import '../components/alignment-controls/editor';
@import '../components/collection/scss/editor';
@import '../components/color-controls/editor';
@import '../components/toggle-group/editor';

@import '../blocks/announcement-bar/scss/editor';
@import '../blocks/header/scss/editor';
@import '../blocks/logo/scss/editor';
@import '../blocks/google-map/scss/editor';
@import '../blocks/hero/scss/editor';
@import '../blocks/media/scss/editor';
@import '../blocks/slideshow/scss/editor';
@import '../blocks/navigation/scss/editor';
@import '../blocks/opentable/scss/editor';
@import '../blocks/opentable/scss/style';
@import '../blocks/menu-food/scss/editor';
@import '../blocks/openhours/scss/editor';

// Quickfix block appender visibility
.block-list-appender__toggle {
	opacity: 1 !important;
	transform: none !important;
}

.novablocks-mask {
	@include cover;
	overflow: hidden;
}

.block-editor-inserter__preview {
	transform: scale(0.8);
	max-height: 300px;
	overflow: hidden;
}

.components-placeholder {
	line-height: 1.8;
}

.block-editor-block-variation-picker__variations[class][class][class] {
	padding-left: 0;

		> li {
			margin: 4px 8px 4px 0;
		}
}

[data-type='novablocks/header'] {
	.block-editor-block-variation-picker__variation-label[class] {
		display: none;
	}
}
