@import 'variables';
@import 'mixins';

@import 'components/emphasis/style';
@import 'components/spacing/style';

@import '../blocks/announcement-bar/scss/style';
@import '../blocks/google-map/scss/style';
@import '../blocks/headline/scss/style';
@import '../blocks/header/scss/style';
@import '../blocks/hero/scss/style';
@import '../blocks/logo/scss/style';
@import '../blocks/media/scss/style';
@import '../blocks/slideshow/scss/style';
@import '../blocks/navigation/scss/style';
@import '../blocks/menu-food/scss/style';
@import '../blocks/opentable/scss/style';
@import '../blocks/openhours/scss/style';
@import '../blocks/card/scss/style';

@import '../components/advanced-gallery/scss/style';
@import '../components/alignment-controls/style';
@import '../components/collection/scss/style';
@import '../components/color-controls/style';
@import '../components/layout-panel/style';
@import '../components/scrolling-effect-controls/style';

@import 'vendor/slick';
@import 'vendor/slick-theme';

[class*="__inner-container"] > * {
	margin-left: auto;
	margin-right: auto;
}

.novablocks-foreground[class] {

	h1, h2, h3, h4, h5, h6,
	ul, ol, dl,
	.editor-block-list__block {
		color: inherit;
	}
}

.novablocks-mask {
	@include cover;
	clip: rect(0 auto auto 0);
	-webkit-mask-image: -webkit-linear-gradient(0deg, white 0, white 100%);
}

.novablocks-parallax {
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;

	.scrolling-effect-static & {
		position: static;
	}
}

.wp-block-novablocks-posts .wp-block {
	margin-left: auto;
	margin-right: auto;
}

.wp-block-novablocks-posts .wp-block.alignwide {
	max-width: var(--theme-content-width-wide) !important;
}

.wp-block-novablocks-posts .novablocks-media__inner-container {
	padding: 5em;
}

// preview
.novablocks-grid {
	grid-gap: 2em;

	.novablocks-grid__item {
		--theme-content-width-normal: 100%;
	}
}

.novablocks-grid__column {
	overflow: hidden;
}

.novablocks-grid__area {

	& + & {
		margin-top: 2em;
	}
}

.novablocks-grid--mask {

	.novablocks-grid__debug {
		display: block;
	}

	.novablocks-grid__area {
		border: 2px dashed var(--novablocks-purple);
	}

	.novablocks-grid__item {
		border: 2px dashed var(--novablocks-green);

		.novablocks-block__content {
			opacity: 0;
		}
	}

}
.novablocks-grid--scaled {
	// width: 200%;
	transform: scale(0.5);
	transform-origin: 50% 0;
	// margin-left: -50%;

	.novablocks-grid__item {

	}
}

// quick implementation of portrait card
.novablocks-grid__area {
	position: relative;
}

.novablocks-grid__debug {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	padding: 10px;
}

.novablocks-grid__area--landscape {

	.novablocks-card {
		display: grid;
		grid-template-columns: calc(var(--card-image-width, 50%) + 10px) auto;

		> * {
			width: 100%;
			grid-column: 2 / span 1;
		}

		> .novablocks-grid__item-image {
			width: 100%;
			grid-column: 1 / span 1;
			grid-row: 1 / 10;
			padding-right: 20px;
		}
	}
}

.novablocks-grid__area--width-s,
.novablocks-grid__area--width-xs {
	--grid-item-content-display: none;
	--grid-item-buttons-display: none;
}

.novablocks-grid__area--width-xs {
	--card-image-width: 50px;
}

.novablocks-card__title[class] {

	.novablocks-grid__item--larger-title & {
		font-size: calc( 1.5 * var(--final-font-size) );
	}

	.novablocks-grid__item--smaller-title & {
		font-size: calc( 0.5 * var(--final-font-size) );
	}
}

.novablocks-grid__item-image {
	display: var(--grid-item-image-display, block);
}

.novablocks-grid__item-content {
	display: var(--grid-item-content-display, block);
}

.novablocks-grid__item-title {
	display: var(--grid-item-title-display, block);
}

.novablocks-grid__item-subtitle {
	display: var(--grid-item-subtitle-display, block);
}

.novablocks-grid__item-content {
	display: var(--grid-item-content-display, block);
}

.novablocks-grid__item-buttons {
	display: var(--grid-item-buttons-display, block);
}

.novablocks-grid__item-meta {
	display: var(--grid-item-meta-display, block);
}
