@import 'variables';
@import 'mixins';

@import './emphasis';

@import '../blocks/announcement-bar/scss/style';
@import '../blocks/google-map/scss/style';
@import '../blocks/headline/scss/style';
@import '../blocks/header/scss/style';
@import '../blocks/hero/scss/style';
@import '../blocks/logo/scss/style';
@import '../blocks/media/scss/style';
@import '../blocks/slideshow/scss/style';
@import '../blocks/navigation/scss/style';
@import '../blocks/menu-food/scss/style';
@import '../blocks/opentable/scss/style';
@import '../blocks/openhours/scss/style';
@import '../blocks/card/scss/style';
@import '../blocks/cards-collection/scss/style';

@import '../components/alignment-controls/style';
@import '../components/color-controls/style';
@import '../components/layout-panel/style';

@import 'vendor/slick';
@import 'vendor/slick-theme';

[class*="__inner-container"] > [class*="wp-block"] {
	margin-left: auto;
	margin-right: auto;
}

.novablocks-foreground[class] {

	h1, h2, h3, h4, h5, h6,
	ul, ol, dl,
	.editor-block-list__block {
		color: inherit;
	}
}

.novablocks-mask {
	@include cover;
	clip: rect(0 auto auto 0);
	-webkit-mask-image: -webkit-linear-gradient(0deg, white 0, white 100%);
}

.novablocks-parallax {
	position: fixed;
	top: 0;
	left: 0;
	object-fit: cover;

	pointer-events: none;

	.scrolling-effect-static & {
		position: static;
	}
}
