@import "variables";
@import "mixins";

@import "../blocks/google-map/scss/style";
@import "../blocks/header/scss/style";
@import "../blocks/hero/scss/style";
@import "../blocks/logo/scss/style";
@import "../blocks/media/scss/style";
@import "../blocks/slideshow/scss/style";
@import "../blocks/navigation/scss/style";
@import "../blocks/menu-food/scss/style";
@import "../blocks/opentable/scss/style";

@import "vendor/slick";
@import "vendor/slick-theme";

.pixelgrade-hero-button-group-wrapper {

    label + .components-button-group {
        margin-top: 5px;
    }

    .components-button-group {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        .components-button {
            padding: 1px 5px 3px;
            height: auto;
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}

.pixelgrade-hero-horizontal-alignment-button {
    svg {
        transform: rotate(-90deg);
    }
}

.u-container-width {
    margin-left: auto;
    margin-right: auto;
}

.novablocks-foreground[class] {

	h1, h2, h3, h4, h5, h6,
	ul, ol, dl,
	.editor-block-list__block {
		color: inherit;
	}
}

