.novablocks-media__aspect-ratio {
  position: relative;

  &:before {
    content: "";
    padding-top: var(--nb-card-media-padding-top, 100%);
    display: block;
  }

  > .novablocks-media-composition {
    @include cover;
  }
}
