.novablocks-u-background {
  -webkit-transition: background-color 0.4s ease-out;
  transition: background-color 0.4s ease-out; }
  .novablocks-u-background .block-editor-inserter__toggle {
    background: #FFFFFF; }

.nova-hide-clear-color .components-color-palette__custom-color {
  margin-left: 0; }

.nova-hide-clear-color .components-color-palette__clear {
  display: none; }
