.novablocks-u-background {
  background-color: var(--element-background); }

.novablocks-u-background-dark {
  --element-background: #000; }

.novablocks-u-background-light {
  --element-background: #FFF; }

.novablocks-u-background-none {
  --element-background: none; }
