$arrow-down-svg-path: './arrow-down.svg';

.nb-navigation {
  --navigation-item-sub-elements-spacing: 7px;
  --nb-navigation-item-padding-y: .75em;

  :is(ul.menu, .menu > ul) {
    column-gap: var(--nb-navigation-item-spacing);
  }

  @include above(lap) {
    display: flex;
    justify-content: var(--justify-content, center);

    :is(ul.menu, .menu > ul) {
      justify-content: var(--justify-content, center);
    }
  }

  @import "scss/menu";
  @import "scss/menu-item";
}
