$arrow-down-svg-path: './arrow-down.svg';

@mixin navigation-links-spacing {

  ul.menu,
  .menu > ul {
    margin-left: calc( -1 * var(--nb-navigation-item-spacing, var(--nb-spacing)));

    > li {
      margin-left: var(--nb-navigation-item-spacing, var(--nb-spacing));
    }
  }
}

.novablocks-navigation {
  --navigation-item-sub-elements-spacing: 7px;
  --nb-navigation-item-padding-y: .75em;
  @include navigation-links-spacing;

  @import "scss/menu";
  @import "scss/menu-item";
}
