$arrow-down-svg-path: './arrow-down.svg';

@mixin navigation-links-spacing {

  ul.menu,
  .menu > ul {
    margin-left: calc( -1 * var(--novablocks-navigation-item-spacing) * var(--novablocks-navigation-item-spacing-multiplier, 1) );

    > li {
      margin-left: calc( var(--novablocks-navigation-item-spacing) * var(--novablocks-navigation-item-spacing-multiplier, 1) );
    }
  }
}

.novablocks-navigation {
  --novablocks-navigation-item-padding-y: .75em;
  @include navigation-links-spacing;

  @import "scss/menu";
  @import "scss/menu-item";
}
