.wp-block-site-tagline.is-style-ruled-label {
	display: flex;
	align-items: center;
	inline-size: 100%;
	gap: calc(var(--nb-spacing) * 0.75);
	margin-block: 0;
	white-space: nowrap;

	&:before,
	&:after {
		content: "";
		flex: 1 1 auto;
		block-size: var(--nb-site-tagline-rule-weight, var(--nb-rule-weight));
		background: var(--nb-site-tagline-rule-color, var(--nb-rule-strong-color));
	}
}
